<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Chodhry Properties</title>
    <style>
        {{>propertyCSS}} 
    </style>
</head>
<body>

    {{> propertyNav}}

    {{> propertyfiltersBox cities=data.cities}}

    <div class="container">

        <p class="note">Showing all properties we are "Selling" today.. Select a property and click OPEN MSG BOX button in right bottom.</p>

        <a class="btn runFilter d-none" href="/{{data.brand}}/gen/pjax/filterProperties/landingPage" data-pjax>Run Filters</a>

        <div class="cards" id="pjax-container"> 
            {{#if data.properties}}

            {{> propertyCards properties=data.properties}}

            {{else}}

            <p>No Matching Properties Found. Sorry..</p>

            {{/if}}
        </div>

    </div>

    <div class="msgBox d-none">

        <h1>Message Editor</h1>
        <textarea id="" name="" cols="30" rows="10">

            Sir, are these properties available? What is final demand? Please reply..

        </textarea>

        <button class="small">Copy Text and open WhatsApp</button>
        <button class="close" onclick="openMsgBox(this)">Close Box</button>
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/root/pjax.js"></script>
    <script>


        {{> propertyJS}}


    
    </script>
    
</body>
</html>
