<!DOCTYPE html>
<html lang="en">
<head>
    {{>propertyCSS title="Chodhry Admin"}}
</head>
<body>

    <nav>

        <p class="icon">Chodhry Properties</p>
        <p>Add New</p>

    </nav>

    <button class="fixed" onclick="openMsgBox(this)">OPEN MSG BOX</button>

    {{> propertyfiltersBox cities=data.cities admin="true"}}

    <div class="container">

        <p class="note">Add New or Change Status of Properties on this page. To draft a message, select the properties and click on OPEN MSG BOX.</p>

        <div class="cards"> 
            {{#each data.properties}}
            <div class="card" onclick="toggleSelect(this)"> 
                <p>{{this.details}} · {{this.town}} · {{this.city}}</p>
                <i class="far fa-check-circle"></i>
            </div> 
            {{/each}}
        </div> 

    </div>

    <div class="msgBox d-none">

        <h1>Message Editor</h1>
        <textarea id="" name="" cols="30" rows="10">

            Sir, are these properties available? What is final demand? Please reply..

        </textarea>

        <button class="small">Copy Text and open WhatsApp</button>
        <button class="close" onclick="openMsgBox(this)">Close Box</button>
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        let toggleSelect = function(elem) {

            $(elem).toggleClass('select');


        }

        let openMsgBox = function(elem) {

            $('.msgBox').toggleClass('d-none');
            if ( $('.msgBox').hasClass('d-none') ) {
                $('button.fixed').html('OPEN MSG BOX');
            } else {
                $('button.fixed').html('CLOSE MSG BOX');
            }

        }

        let filterPress = function(elem) {

            $(elem).toggleClass('active');
            let allFilters = $('.filters > span.active');

        }


    
    </script>
    
</body>
</html>
