<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Admin</title>
    <style>
    {{>propertyCSS}}
    </style>
</head>
<body>

    <div class="layerOne">

        {{> propertyNav navs="home-auth dashboard add-property-local edit-business-local write-blog show-blogs log-out" active="dashboard"}}

        {{> propertyfiltersBox cities=data.cities admin="true"}}

        <div class="container">

            <p class="note">Add New or Change Status of Properties on this page. To draft a message, select the properties and click on OPEN MSG BOX.</p>

            <a class="btn runFilter d-none" href="/{{data.brand}}/auth/pjax/filterProperties/showAll" data-pjax>Run Filters</a>

            <div class="cards" id="pjax-container"> 

                {{#if data.properties}}

                {{> propertyCards properties=data.properties admin="auth"}}

                {{else}}

                <p>No Matching Properties Found. Sorry..</p>

                {{/if}}

            </div>

        </div>

    </div>

    <div class="formBox msgBox d-none">

        {{> propertyForm data=data.forms.msgBoxAdmin}}
    
    </div>


    <div class="formBox editProperty d-none">

        {{> propertyForm data=data.forms.addProperty}}

    </div>

    <div class="formBox editWebsite d-none">

        <p class="box-hdg">EDIT WEBSITE CONTENT</p>

        <p class="note" >These are your website contact details; ways people can reach you!</p>

        <form action="">

            <label for="name">YOUR NAME</label>
            <input type="text" name="name" placeholder="">

            <label for="email">YOUR EMAIL</label>
            <input type="email" name="email" placeholder="">

            <label for="whatsapp">YOUR WHATSAPP NUMBER</label>
            <input type="phone" name="whatsapp" placeholder="">

            <label for="address">BUSINESS ADDRESS</label>
            <textarea id="" name="address" cols="30" rows="10"></textarea>

            <button class="btn blue mt-24">SAVE</button>
            <button type="button" class="btn" onclick="openLayer('.layerOne')">CLOSE</button>

        </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/root/pjax.js"></script>
    <script>

        {{> propertyJS}}

    </script>
    
</body>

</html>

