    <p>BOOTS ON GROUND</p>

    <div class="close svg" onclick="toggleClass(this, 'close')">
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="26" height="26" fill="#F2F2F2"/>
        <line x1="6.5" y1="9" x2="20.5" y2="9" stroke="#333333"/>
        <line x1="6.5" y1="13" x2="20.5" y2="13" stroke="#333333"/>
        <line x1="6.5" y1="17" x2="20.5" y2="17" stroke="#333333"/>
        <rect x="0.5" y="0.5" width="26" height="26" stroke="#333333"/>
        </svg>


        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="26" height="26" fill="#333333"/>
        <line x1="8.55037" y1="7.29289" x2="19.8641" y2="18.6066" stroke="#F2F2F2" stroke-width="2"/>
        <line x1="7.13615" y1="18.2929" x2="18.4499" y2="6.97919" stroke="#F2F2F2" stroke-width="2"/>
        <rect x="0.5" y="0.5" width="26" height="26" stroke="#333333"/>
        </svg>

        <div class="content">

            <a class="btn" href="">HOW IT WORKS ?</a>
            <button class="btn">FIND YOUR TICKET</button>
            <button class="btn">CONTACT US</button> 

        </div>

    </div>
