
    <p style="
        width: fit-content;
        margin: auto;
        font-size: 13px;
        margin-top: 50px;
    ">
    
        <a href="https://twitter.com/qasimalixyz" style="
           text-decoration: none;
           color: inherit;
        ">@qasimalixyz</a>  on Twitter. 

    {{#if data.unsubscribeUrl}}

        <a href="{{data.unsubscribeUrl}}" style="
           text-decoration: none;
           color: orange;
        "> Unsubscibe here </a>

    {{/if}}

    </p>

</body>
</html>
