
    <p style="
        width: fit-content;
        margin: auto;
        font-size: 13px;
        margin-top: 50px;
    ">
    
        <a href="https://twitter.com/punch__lines" style="
           text-decoration: none;
           color: inherit;
        ">@punch__lines</a>  on Twitter. 
        
        <a style="
            text-decoration: none;
            color: orange;
            " href="{{url}}/life/gen/page/unsubscribeMe/n?email={{email}}&Id={{Id}}">Unsubscribe here</a>
    
    </p>

</body>
</html>
