<div class="nav">
  <a href="/">Home</a>
  <a href="/signin">Sign In</a>
  <a href="/edit_user">Edit Profile</a>
  <a href="/help">Help</a>
</div>

<div class="warning">

  <p>{{{error}}}</p>
  <p>{{{error_msg}}}</p>
  <p>{{{success_msg}}}</p>

</div>
