<div class="bar">

    <p>Collapse All</p>

</div>
<div class="bar">

    <div class="closed">

        <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Personal Info</h3>
        <i class="fa fa-check"></i>
        <i class="d-none fa fa-exclamation"></i>

    </div>

    <div class="open">

        <label for="name">Full Name</label>
        <input type="text" placeholder="">
        
        <label for="email">Email</label>
        <input type="email" placeholder="">
    
        <label for="phone">Phone</label>
        <input type="phone" placeholder="+923236723623" >
    
    </div>

</div>

<div class="bar">

    <div class="closed">

        <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Change Password</h3>

    </div>

    <div class="open">

        <label for="oldPass">Old Password</label>
        <input type="password" placeholder="" />
        
        <label for="newPass">New Password</label>
        <input type="password" placeholder="" />
 
        <label for="cfmPass">Confirm New Password</label>
        <input type="password" placeholder="" />

        <button>Change Password</button>
    
    </div>

</div>

<div class="bar">

    <div class="closed">

        <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Brand Identity</h3>
        <i class="fa fa-check"></i>
        <i class="d-none fa fa-exclamation"></i>

    </div>

    <div class="open">

        <label for="brandName">Brand Name</label>
        <input type="text" />

        <label for="logo">Brand Logo</label>
        <input type="file" name="img" accept="image/*" />

        <label for="metaImg">Brand Meta Image</label>
        <input type="file" name="img" accept="image/*" />

        <label for="slogan">Brand Slogan</label>
        <input type="text" placeholder="4 to 8 words"/>

        <label for="desc">Brand Description</label>
        <input type="textarea">

        <label for="locPin">Brand Location Pin</label>
        <input type="text" placeholder="https://google.com/your-location-pin" />
    
    </div>

</div>

<div class="bar">

    <div class="closed">

        <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Airtable Pull</h3>
        <i class="fa fa-check"></i>
        <i class="d-none fa fa-exclamation"></i>

    </div>

    <div class="open">

        <label for="baseID">Base ID</label>
        <p class="note"><a href="https://airtable.com/api" target="_blank">https://airtable.com/api</a></p>
        <input type="text" placeholder="" />

        <label for="baseAPIKey">Base API Key</label>
        <p class="note"><a href="https://airtable.com/api" target="_blank">https://airtable.com/api</a></p>
        <input type="text" placeholder="" />

    </div>

</div>

<div class="bar">

    <div class="closed">

        <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Slack Channel</h3>
        <i class="fa fa-check"></i>
        <i class="d-none fa fa-exclamation"></i>
    
    </div>

    <div class="open">

        <label for="slackName">Slack Channel Name</label>
        <input type="text" />

        <label for="slackID">Slack API Key</label>
        <input type="text" />
    
    </div>

</div>

<div class="bar">

    <div class="closed">

        <h3><i class="fa fa-plus"></i><i class="fa fa-minus d-none"></i>Social Media Links</h3>
        <i class="fa fa-check"></i>
        <i class="d-none fa fa-exclamation"></i>
    
    </div>

    <div class="open">

        <label for="twitter">Twitter</label>
        <input type="text" placeholder="https://twitter.com/your-link" />

        <label for="facebook">Facebook</label>
        <input type="text" placeholder="https://facebook.com/your-link" />

        <label for="insta">Instagram</label>
        <input type="text" placeholder="https://instagram.com/your-link" />

        <label for="youtube">YouTube</label>
        <input type="text" placeholder="https://youtube.com/your-link" />

        <label for="linkedin">LinkedIn</label>
        <input type="text" placeholder="https://linkedin.com/your-profile" />

    </div>

</div>
