<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143060089-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-143060089-1');
	</script>


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="easyheal, therapy, meditation, motivation, success, emotional freedom therapy, distance healing, reiki, health, happiness, light energy, healing through light, depression, regret, spirtual healing">
	<meta name="description" content="We offer light healing therapies to cure body out of negative sufferings using Emotional Freedom Therapy and Distance Healing. Follow the link below to book a Free 15 minute appointment with us. You will find it helpful.">
	<meta name="google-site-verification" content="kkbvySDVD8i0lzyCV-jeRBnky1klf-J1otppJcAcb4s" />

	<title>Home to light and energy healing therapies - easyheal</title>



	<!-- Google web font  -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="icon" href="/easy_heal/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/easy_heal/favicon.ico" type="image/x-icon">

        <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />


	<link rel="stylesheet" href="/easy_heal/css/bootstrap.min.css">
	<link rel="stylesheet" href="/easy_heal/css/animate.min.css">
	<link rel="stylesheet" href="/easy_heal/css/font-awesome.min.css">
	<link rel="stylesheet" href="/easy_heal/css/component.css">
        <link rel="stylesheet" href="/easy_heal/css/owl.theme.css">
	<link rel="stylesheet" href="/easy_heal/css/owl.carousel.css">
	<link rel="stylesheet" href="/easy_heal/css/vegas.min.css">
	<link rel="stylesheet" href="/easy_heal/css/style.css">
	<link rel="stylesheet" href="/easy_heal/css/custom-qasim.css">


</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
        </button>
        <a href="#top" class="navbar-brand smoothScroll"><img src="/easy_heal/assets/2-icon.svg" class="" alt=""><span class="navbar-brand-name">Easyheal</span></a>
      </div>

			<div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#top" class="smoothScroll"><span>Home</span></a></li>
          <li><a href="#about" class="smoothScroll"><span>About</span></a></li>
          <li><a href="#gallery" class="smoothScroll"><span>Projects</span></a></li>
          <li><a href="#pricing" class="smoothScroll"><span>Pricing</span></a></li>
          <li><a href="/easy_heal/gen/page/safety/n" class="smoothScroll"><span>Terms & Conditions</span></a></li>
          <li><a href="#contact" class="smoothScroll"><span>Contact</span></a></li>
        </ul>
     </div>

    </div>
  </div>


<!-- Home section -->

<section id="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <h1 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to easy heal</h1>
        <p class="wow fadeInUp" data-wow-delay="0.9s">We offer light healing therapy to cure the human body out of suffering through advanced and proven therapies; <a href="/easy_heal/gen/page/eft/n">EFT</a> and <a href="/easy_heal/gen/page/distancehealing/n">Distance healing</a>.</p>
        <a href="/easy_heal/gen/page/umore/n" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="1.2s">Understand More</a>
      </div>

    </div>
  </div>
</section>

<!--  Course Section Ad-->

<style media="screen">
	#course {
		padding: 4rem 12px;
    margin: 0;
    background: white;
    width: 100vw;
    height: 100vh;
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#course > iframe {
		/* width: 100%;
		height: 100%; */
		z-index: 0;
		max-width: 100%;
		max-height: 40%;
	}

	#course .btn {
		margin: auto;
	}

	#course h1 {
		text-align: center;
	}

	#course > * {
		margin: auto;
	}
</style>

<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-thumb">
          <h1>About Me</h1>
          <p>Salam, Hi, I am abida bano, a devoted wife, proud mum and a carer. I work as a therapist and this is my story.  I was born and raised in a remote village of Pakistan...<br> </p>
          <a href="/easy_heal/gen/page/aboutme/n" class="smoothScroll btn btn-success btn-lg wow fadeInUp">Read More</a>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
        <img src="/easy_heal/images/team-img2.png" class="img-responsive img-circle" alt="About">
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <div class="section-title text-center">
          <h1>certified</h1>
        </div>

        <div class="col-md-6 col-sm-6">
                <img src="/easy_heal/assets/1-certificate.png" width="100%" alt="">
        </div>
        <div class="col-md-6 col-sm-6">
                <img src="/easy_heal/assets/2-certificate.png" width="100%" alt="">
        </div>

      </div>

    </div>
  </div>
</section>


<!-- Gallery section -->

<section id="gallery">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">

				<div class="section-title">
					<h1>Projects</h1>
					<p>Take a moment to go through expected <a href="/distancehealing.html#reactions">reactions</a> you may experience after undergoing these therapies.</p>
				</div>

			<div class="video-header">Tips and Therapies</div>

			<div class="general-class">

				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/6heVwD47m4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">10. Due e shifa with tapping</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/7gkho6lIRps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">9. Best tips for kids</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/7jkC1DtAT8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">8. Basic points of EFT tapping and gamut point</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/8uuth4quZ9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">7. Best tips for health and well being</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/M246twd88qU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">6. Powerful therapy for self help</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/vQ9xpI0Zs00" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">5. EFT Introduction</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/cEypD5900fI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">4. Purity in prayer</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/px0qiOzwaEQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">3. Surah Fatiha therapy for 21 days</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/OcvVoyNklH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">2. DIY remedy for hair, skin and well being</div>
					</div>
				</div>
				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/TgYUgdBGkF4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">1. Best tip for whole family</div>
					</div>
				</div>

			</div>

			<hr class="bg-dark">

			<div class="video-header">Course: The Art of Emotional Intelligence</div>

			<div class="general-class">

				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/5rtKPkMZFHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">Part 1</div>
					</div>
				</div>

				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/ICqC7AMUMiI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">Part 2</div>
					</div>
				</div>

				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/Y5x1N2bGU-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">Part 3</div>
					</div>
				</div>

				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/BllmE-3zF6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">Part 4</div>
					</div>
				</div>

				<div>
					<div class="video">
						<iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/F6tdw1JlTm0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="video-caption">Part 5</div>
					</div>
				</div>

			</div>

		</div>

		</div>
		<!-- <p id="disclaimer"><b> Disclaimer</b>: The information contained in this website is not a substitute for professional medical advise, diagnosis or treatment.Easyheal assumes no liability from any harm resulting from using, referencing, or decisions executed from its use.By using this website/page you establish your consent to all statements of this disclaimer. </> -->
	</div>


</section>

<!-- Pricing section -->

<section id="pricing" class="bg-warning">
 	<div class="container">
 		<div class="row">

			<div class="col-md-offset-1 col-md-10 col-sm-12">

			 <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp text-center" data-wow-delay="0.4s">
				 <h1>Pricing</h1>
				 <p></p>
			 </div>

			 <div class="pricing-container col-md-3 col-sm-6 col-xs-6 text-center wow fadeInUp text-center" data-wow-delay="0.4s">
				 <div class="pricing-box">
					 <p class="pricing-heading"><b>Free</b><br>
 	 					<span class="pkr">(PKR 0)</small>
 	 				</p>
					<hr class="hr-pricing" width="25%">
 					<br>
 					<p class="pricing-values">
 						Welcome Session <br>
 						15 mins
 					</p>
				 </div>
			 </div>

			 <div class="pricing-container col-md-3 col-sm-6 col-xs-6 text-center wow fadeInUp text-center" data-wow-delay="0.4s">
				 <div class="pricing-box">
					 <p class="pricing-heading"><b>£ 65</b><br>
 						<span class="pkr">(PKR 8000)</small>
 					</p>
					<hr class="hr-pricing" width="25%">
 					<br>
 					<p class="pricing-values">
 						One EFT Session<br>
 						1 hour
 					</p>
				 </div>

			 </div>

			 <div class="pricing-container col-md-3 col-sm-6 col-xs-6 text-center wow fadeInUp text-center" data-wow-delay="0.4s">
				 <div class="pricing-box">
					 <p class="pricing-heading"><b>£ 100</b><br>
 						<span class="pkr">(PKR 16000)</small>
 						</p>
						<hr class="hr-pricing" width="25%">
 					<br>
 					<p class="pricing-values">
 						Two EFT Sessions<br>
 						1 hour each
 					</p>
				 </div>

			 </div>

			 <div class="pricing-container col-md-3 col-sm-6 col-xs-6 text-center wow fadeInUp text-center" data-wow-delay="0.4s">
				 <div class="pricing-box">
					 <p class="pricing-heading"><b>£ 50</b> <br>
 						<span class="pkr">(PKR 6500)</small>
 						</p>
						<hr class="hr-pricing" width="25%">
 					<br>
 					<p class="pricing-values">
 						Distance Healing<br>
 						1 week
 					</p>
				 </div>

			 </div>

				<div class="clearfix"></div>

			 <div class=" col-sm-12 bottom-notification wow fadeInUp" data-wow-delay="0.4s">
				 <p class="pricing-notifications">
					 <small><i class="fa fa-angle-right"></i></small> We extend these services online on <i class="fa fa-skype"></i> <b>skype</b> and <i class="fa fa-whatsapp"></i>  <b>whatsApp</b> <br>
					 <small><i class="fa fa-angle-right"></i></small> Payments can be recieved both in <b>Pakistan</b> and <b>UK</b> <br>
					 <small><i class="fa fa-angle-right"></i></small> <i class="fa fa-paypal"></i> Paypal is accepted<br>
					 <small><i class="fa fa-angle-right"></i></small> We are sorry but due to continous currency variations these <b>prices can change</b> without any prior notifcation<br>
					<b> Disclaimer</b>:The information contained in this website is not a substitute for professional medical advise, diagnosis or treatment.Easyheal assumes no liability from any harm resulting from using, referencing, or decisions executed from its use.By using this website/page you establish your consent to all statements of this disclaimer. <br>
				 </p>
	 		</div>

		 </div>

 		</div>
 	</div>
</section>

<!-- Contact section -->

<section id="contact">
  <div class="container">
    <div class="row">

       <div class="col-md-offset-1 col-md-10 col-sm-12">

        <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
          <h1>Send a message</h1>
          <p>I will never share your details with anyone without your permission.</p>
        </div>

        <form action="#" method="post" class="wow fadeInUp" data-wow-delay="0.8s">
          <div class="col-md-6 col-sm-6">
            <input name="name" type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="col-md-6 col-sm-6">
            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="col-md-12 col-sm-12">
            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
          </div>
          <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <input id="submitEmail" type="button" class="form-control" value="SEND MESSAGE">
          </div>
        </form>

      </div>
			<div class="clearfix"></div>
			<p id="showStatus" class="d-none">Please fill all fields with valid information.</p>

    </div>
  </div>
</section>


<!-- Footer section -->

<footer>
	<div class="container">

		<div class="row">

			<div class="col-md-12 col-sm-12">

                <ul class="social-icon">
                    <li><a target="_blank" href="https://www.facebook.com/easyheal" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="0.4s"></a></li>
                    <li><a href="#" class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                    <li><a href="#" class="fa fa-instagram wow fadeInUp" data-wow-delay="0.8s"></a></li>
                    <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="1.0s"></a></li>
                </ul>

				<p class="wow fadeInUp"  data-wow-delay="1s" >Copyright &copy; 2019 Easyheal</p>

			</div>

		</div>

	</div>
</footer>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- Javascript  -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>


<script src="/easy_heal/js/bootstrap.min.js"></script>
<script src="/easy_heal/js/vegas.min.js"></script>
<script src="/easy_heal/js/modernizr.custom.js"></script>
<script src="/easy_heal/js/toucheffects.js"></script>
<script src="/easy_heal/js/owl.carousel.min.js"></script>
<script src="/easy_heal/js/smoothscroll.js"></script>
<script src="/easy_heal/js/wow.min.js"></script> 
<script src="/easy_heal/js/custom.js"></script>

<script type="text/javascript">

	$('#submitEmail').on('click', (event) => {

		let name = $('#name').val();
		let email = $('#email').val();
		let message = $('#message').val();

		if (name.length < 3 || email.length < 3 || message.length < 3) {
			console.log("incomplete fields");
			return $('#showStatus').toggleClass('d-none d-block').addClass('text-danger');
		}

		var data = {
                        subject: "new request on eh.qasim.tech",
			toEmail: "qasimali24@gmail.com",
                        brand: "easy_heal",
			msg: `
${message}

from,
${name}
${email}
                        `
		};

		var data = JSON.stringify(data);

		var settings = {
		  "async": true,
		  "url": "/easy_heal/gen/data/sendMsgToEmail/n", 
		  "method": "POST",
		  "headers": {
		    "Content-Type": "application/json",
		  },
		  "processData": false,
		  "data": data
		}

		$.ajax(settings).done(function (response) {
		  console.log(response);
			return $('#showStatus').toggleClass('d-none d-block').addClass('text-success').html('Your message was sent successfully ! We will contact you soon.');
		}).fail((xhr,status,code) => {
			console.log(xhr,status,code);
			return $('#showStatus').toggleClass('d-none d-block').addClass('text-danger').html('Sorry, email server did not respond, please email me at abidabano1024@gmail.com');
		});

	});

</script>

</body>
</html>

