<html>
  <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Now Amazing Webpage</title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/component.css">

  <link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/custom-qasim.css">

  </head>
  <body>
    <section id="gallery">
      <div class="container">
        <div class="row">

          <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">

            <div class="section-title">
              <h1>Projects</h1>
              <p>Take a moment to go through expected <a href="/distancehealing.html#reactions">reactions</a> you may experience after undergoing these therapies.</p>
            </div>

          <div class="video-header">Tips and Therapies</div>

          <div class="general-class">

            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/6heVwD47m4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">10. Due e shifa with tapping</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/7gkho6lIRps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">9. Best tips for kids</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/7jkC1DtAT8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">8. Basic points of EFT tapping and gamut point</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/8uuth4quZ9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">7. Best tips for health and well being</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/M246twd88qU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">6. Powerful therapy for self help</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/vQ9xpI0Zs00" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">5. EFT Introduction</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/cEypD5900fI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">4. Purity in prayer</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/px0qiOzwaEQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">3. Surah Fatiha therapy for 21 days</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/OcvVoyNklH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">2. DIY remedy for hair, skin and well being</div>
              </div>
            </div>
            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/TgYUgdBGkF4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">1. Best tip for whole family</div>
              </div>
            </div>


          </div>

          <hr class="bg-dark">

          <div class="video-header">Course: The Art of Emotional Intelligence</div>

          <div class="general-class">

            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/5rtKPkMZFHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">Part 1</div>
              </div>
            </div>

            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/ICqC7AMUMiI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">Part 2</div>
              </div>
            </div>

            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/Y5x1N2bGU-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">Part 3</div>
              </div>
            </div>

            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/BllmE-3zF6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">Part 4</div>
              </div>
            </div>

            <div>
              <div class="video">
                <iframe style="border: 1px solid green; margin:auto; text-align:center; width: 100%;" src="https://www.youtube.com/embed/F6tdw1JlTm0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="video-caption">Part 5</div>
              </div>
            </div>

          </div>

        </div>

        </div>
      </div>
    </section>



  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/vegas.min.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <script src="js/toucheffects.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/wow.min.js"></script>

  <script src="js/custom.js"></script>

  <script type="text/javascript">
//     $(document).ready(function(){
//       $('.general-class').slick({
//         slidesToShow: 3,
//         slidesToScroll: 3,
//         prevArrow:`<svg class="slick-prev" width="20px" height="30px" viewBox="0 0 20 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
//     <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
//     <desc>Created with Sketch.</desc>
//     <defs>
//         <linearGradient x1="-27.6808806%" y1="31.9856251%" x2="50%" y2="71.4661177%" id="linearGradient-1">
//             <stop stop-color="#E6E6E6" offset="0%"></stop>
//             <stop stop-color="#E6E6E6" offset="100%"></stop>
//         </linearGradient>
//     </defs>
//     <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
//         <g id="Desktop" transform="translate(-6.000000, -389.000000)" fill="url(#linearGradient-1)">
//             <polygon id="Path-2-Copy" transform="translate(15.778805, 405.519684) rotate(180.000000) translate(-15.778805, -405.519684) " points="6 389 25.55761 404.413585 6 422.039368"></polygon>
//         </g>
//     </g>
// </svg>`,
//         nextArrow:`<svg class="slick-next" width="20px" height="30px" viewBox="0 0 20 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
//             <desc>Created with Sketch.</desc>
//             <defs>
//                 <linearGradient x1="-27.6808806%" y1="31.9856251%" x2="50%" y2="71.4661177%" id="linearGradient-1">
//                     <stop stop-color="#E6E6E6" offset="0%"></stop>
//                     <stop stop-color="#E6E6E6" offset="100%"></stop>
//                 </linearGradient>
//             </defs>
//             <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
//                 <g id="Desktop" transform="translate(-992.000000, -389.000000)" fill="url(#linearGradient-1)">
//                     <polygon id="Path-2" points="992 389 1011.55761 404.413585 992 422.039368"></polygon>
//                 </g>
//             </g>
//         </svg>`,
//         responsive: [
//           {
//             breakpoint: 2000,
//             settings: {
//               slidesToShow: 3,
//               slidesToScroll: 3,
//               dots: true
//             }
//           },
//           {
//             breakpoint: 600,
//             settings: {
//               slidesToShow: 2,
//               slidesToScroll: 2
//             }
//           },
//           {
//             breakpoint: 480,
//             settings: {
//               slidesToShow: 1,
//               slidesToScroll: 1
//             }
//           }
//         ],
//       });
//     });

  </script>

  </body>
</html>

