<!DOCTYPE html>
<html lang="en">
<head>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143060089-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-143060089-1');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>Energy medicine</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/component.css">

  <link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/vegas.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/custom-qasim.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">

	<!-- Google web font  -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!-- Remember to include jQuery :) -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

	<!-- jQuery Modal -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#top" class="navbar-brand smoothScroll"><img src="assets/2-icon.svg" class="" alt=""><span class="navbar-brand-name">Easyheal</span></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#top" class=""><span>Energy Medicine</span></a></li>
        <li><a href="index.html" class=""><span>Home</span></a></li>
      </ul>
   </div>

  </div>
</div>



<!-- Upper section -->

<section id="upper-section" class="bg-primary d-flex align-items-center justify-content-center">
  <div class="text-center col-11 wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="px-4"><span class="">Energy Medicine</span></h1>
		<a href="#ex1" id="videoDialogue" class="btn btn-success" rel="modal:open">Play Video</a>
  </div>
</section>

<div id="ex1" class="modal" style="padding:0; background-color:black">
		<iframe style="" width="100%" height="315" src="https://www.youtube.com/embed/VFKVVP8KXd4?autoplay=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Content section -->

<section id="content-section" class="">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
				<p>
Energy medicine, energy therapy, energy healing, psychic healing, spiritual medicine or spiritual healing are branches of alternative medicine based on a pseudo-scientific belief that healers can channel healing energy into a patient and effect positive results. This idea itself contains several methods: hands-on, hands-off, and distant (or absent) where the patient and healer are in different locations.
<br><br>
Many schools of energy healing exist using many names, for example, biofield energy healing, spiritual healing, contact healing, distant healing, Qi Do, therapeutic touch, Reiki or Qigong.
<br><br>
Spiritual healing occurs largely in non-denominational and ecumenical contexts. Practitioners do not see traditional religious faith as a prerequisite for effecting cures. Faith healing, by contrast, takes place within a traditional religious context.
<br><br>
While early reviews of the scientific literature on energy healing were equivocal and recommended further research, more recent reviews have concluded that there is no evidence supporting clinical efficiency. The theoretical basis of healing has been criticised as implausible, research and reviews supportive of energy medicine have been faulted for containing methodological flaws and selection bias, and positive therapeutic results have been dismissed as resulting from known psychological mechanisms.
<br><br>
Edzard Ernst, formerly Professor of Complementary and Alternative Medicine at the University of Exeter, has warned that "healing continues to be promoted despite the absence of biological plausibility or convincing clinical evidence ... that these methods work therapeutically and plenty to demonstrate that they do not". Some claims of those purveying "energy medicine" devices are known to be fraudulent and their marketing practices have drawn law-enforcement action in the US.
				<br><br></p>

        <a href="https://en.wikipedia.org/wiki/Energy_medicine" class="btn btn-success" target="_blank">Read More</a>

      </div>
    </div>
  </div>

</section>

<!-- Footer section -->

<footer>
	<div class="container">

		<div class="row">

			<div class="padding-top col-md-12 col-sm-12">

                <ul class="social-icon">
                    <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="0.4s"></a></li>
                    <li><a href="#" class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                    <li><a href="#" class="fa fa-instagram wow fadeInUp" data-wow-delay="0.8s"></a></li>
                    <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="1.0s"></a></li>
                </ul>

				<p class="wow fadeInUp"  data-wow-delay="1s" >Copyright &copy; 2018 Easyheal</p>

			</div>

		</div>

	</div>
</footer>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/toucheffects.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>



</body>
</html>

