
<script src="/kalles/js/jquery-3.5.1.min.js"></script>
<script src="/kalles/js/jarallax.min.js"></script>
<script src="/kalles/js/packery.pkgd.min.js"></script>
<script src="/kalles/js/jquery.hoverIntent.min.js"></script>
<script src="/kalles/js/magnific-popup.min.js"></script>
<script src="/kalles/js/flickity.pkgd.min.js"></script>
<script src="/kalles/js/lazysizes.min.js"></script>
<script src="/kalles/js/js-cookie.min.js"></script>
<script src="/kalles/js/jquery.countdown.min.js"></script>
<script src="/kalles/js/photoswipe.min.js"></script>
<script src="/kalles/js/photoswipe-ui-default.min.js"></script>
<script src="/kalles/js/drift.min.js"></script>
<script src="/kalles/js/isotope.pkgd.min.js"></script>
<script src="/kalles/js/resize-sensor.min.js"></script>
<script src="/kalles/js/theia-sticky-sidebar.min.js"></script>
<script src="/root/pjax.js"></script>
<script src="/kalles/js/interface.js"></script>
<script src="/kalles/js/custom.js"></script>
</body>
</html>
