
    <footer id="nt_footer" class="bgbl footer-1">
        <div id="kalles-section-footer_top" class="kalles-section footer__top type_instagram">
            <div class="footer__top_wrap footer_sticky_false footer_collapse_true nt_bg_overlay pr oh pb__30 pt__80">
                <div class="container pr z_100">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12 mb__50 order-lg-1 order-1">
                            <div class="widget widget_text widget_logo" we-ser="footerContact" we-label="Footer Contact" >
                                 <!-- =====footerContact -->
                                <h3 class="widget-title fwsb flex al_center fl_between fs__16 mg__0 mb__30 dn_md">
                                    <span class="txt_title">Get in touch</span>
                                    <span class="nav_link_icon ml__5"></span>
                                </h3>
                                <div class="widget_footer">
                                    <div class="footer-contact" >
                                        
                                        <p>
                                            <a class="d-block" href="index.html" e-ser="41" e-attr="href" e-label="Logo Link">
                                            <img class="w__100 mb__15 lz_op_ef max-width__95px ls-is-cached lazyloaded" src="/kalles/images/svg/kalles.svg" alt="Kalles Template" data-src="/kalles/images/svg/kalles.svg" e-ser="42" e-attr="data-src" e-label="Logo">
                                            </a>
                                        </p>
                                        <p e-ser="43" e-attr="html" e-label="Address"><i class="pegk pe-7s-map-marker"> </i><span>Shop # 182, Ground Floor<br> <span class="pl__30">Main Chowk, Chakwal</span></span></p>
                                        <p>
                                            <i class="pegk pe-7s-mail"></i>
                                            <span><a href="mailto:contact@company.com" e-ser="44" e-attr="href, html" e-label="email">hello@7amuniforms.com</a></span>
                                        </p>
                                        <p>
                                            <i class="pegk pe-7s-call"></i> <span e-ser="45" e-attr="html" e-label="Phone">+92 323 5909093</span>
                                        </p>
                                        <div class="nt-social">
                                            <a href="https://www.facebook.com/7amuniforms" class="facebook cb ttip_nt tooltip_top" e-ser="46" e-attr="href" e-label="facebook">
                                                <span class="tt_txt">Follow on Facebook</span>
                                                <i class="facl facl-facebook"></i>
                                            </a>
                                            <a href="https://twitter.com/7amuniforms" class="twitter cb ttip_nt tooltip_top" e-ser="47" e-attr="href" e-label="twitter">
                                                <span class="tt_txt">Follow on Twitter</span>
                                                <i class="facl facl-twitter"></i>
                                            </a>
                                        </div>
                                        <!-- +++++footerContact -->
             
             
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-12 mb__50 order-lg-2 order-1">
                            <div class="widget widget_nav_menu" we-ser="footerMenu1" we-label="Footer Menu 1">
                                
             <!-- =====footerMenu1 -->
                                <h3 class="widget-title fwsb flex al_center fl_between fs__16 mg__0 mb__30">
                                    <span class="txt_title" e-ser="51" e-attr="html" e-label="Heading">Schools</span>
                                    <span class="nav_link_icon ml__5"></span>
                                </h3>
                                <div class="menu_footer widget_footer">
                                    <ul class="menu">
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesShop/n?school__in=Beacon House School Systems" e-ser="52" e-attr="html,href" e-label="Link 1">Beacon House</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesShop/n?school__in=Allied School" e-ser="53" e-attr="html,href" e-label="Link 2">Allied School</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesShop/n?school__in=City School" e-ser="53" e-attr="html,href" e-label="Link 2">City School</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesShop/n?school__in=Smart School" e-ser="57" e-attr="html,href" e-label="Link 6">Smart School</a> </li>
                                    </ul>
                                </div>
                                <!-- +++++footerMenu1 -->
             
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-12 mb__50 order-lg-3 order-1">
                            <div class="widget widget_nav_menu" we-ser="footerMenu2" we-label="Footer Menu 2" >
                                <!-- =====footerMenu2 -->
                                <h3 class="widget-title fwsb flex al_center fl_between fs__16 mg__0 mb__30" >
                                    <span class="txt_title" e-ser e-attr="html" e-label="Heading">Infomation</span>
                                    <span class="nav_link_icon ml__5"></span>
                                </h3>
                                <div class="menu_footer widget_footer">
                                    <ul class="menu">
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/about_us" e-ser e-attr="html,href" e-label="Link 1">About Us</a> </li>
                                        <li class="menu-item"> <a href="#contact" e-ser e-attr="html,href" e-label="Link 2">Contact Us</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/terms_condns" e-ser e-attr="html,href" e-label="Link 3">Terms &amp; Conditions</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/returns_exchs" e-ser e-attr="html,href" e-label="Link 4">Returns &amp; Exchanges</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/shipping_delivery" e-ser e-attr="html,href" e-label="Link 5">Shipping &amp; Delivery</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/privacy_policy" e-ser e-attr="html,href" e-label="Link 6">Privacy Policy</a> </li>
                                    </ul>
                                </div>
                                <!-- +++++footerMenu2 -->
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-12 mb__50 order-lg-4 order-1">
                            <div class="widget widget_nav_menu" we-ser="footerMenu3" we-label="Footer Menu 3">
                                <!-- =====footerMenu3 -->
                                <h3 class="widget-title fwsb flex al_center fl_between fs__16 mg__0 mb__30">
                                    <span class="txt_title" e-ser e-attr="html" e-label="Heading">Useful links</span>
                                    <span class="nav_link_icon ml__5"></span>
                                </h3>
                                <div class="menu_footer widget_footer">
                                    <ul class="menu">
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/locs" e-ser e-attr="html,href" e-label="Link 1">Store Location</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/latest_news" e-ser e-attr="html,href" e-label="Link 2">Latest News</a> </li> 
                                        <li class="menu-item"> <a href="/7am/admin/page/newDashboard/7am-products" e-ser e-attr="html,href" e-label="Link 3">My Account</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/sizes" e-ser e-attr="html,href" e-label="Link 4">Size Guide</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/faq_2" e-ser e-attr="html,href" e-label="Link 5">FAQs 2</a> </li>
                                        <li class="menu-item"> <a href="/7am/gen/page/kallesBlog/faq" e-ser e-attr="html,href" e-label="Link 6">FAQs</a> </li>
                                    </ul>
                                </div>
                                <!-- +++++footerMenu3 -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12 mb__50 order-lg-5 order-1">
                            <div class="widget widget_text" we-ser="subscribe" we-label="Subscribe">
                                <!-- =====subscribe -->
                                <h3 class="widget-title fwsb flex al_center fl_between fs__16 mg__0 mb__30">
                                    <span class="txt_title" e-ser e-label="Heading" e-attr="html">Newsletter Signup</span>
                                    <span class="nav_link_icon ml__5"></span>
                                </h3>
                                <div class="widget_footer newl_des_1">
                                    <p e-ser e-label="Text" e-attr="html">Subscribe to our newsletter and get 10% off your first purchase</p>
                                    <form id="contact_form" class="mc4wp-form pr z_100">
                                        <div class="mc4wp-form-fields">
                                            <div class="signup-newsletter-form row no-gutters pr oh ">
                                                <div class="col col_email">
                                                    <input type="email" name="email" placeholder="Your email address" value="" class="tc tl_md input-text" required="required">
                                                </div>
                                                <div class="col-auto">
                                                    <button type="submit" class="btn_new_icon_false w__100 submit-btn truncate">
                                                        <span>Subscribe</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <p class="mt__20">
                                        <img class="w__100 lz_op_ef lazyload w__max-width__197" data-src="/kalles/images/payment2.png" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20197%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" alt="">
                                    </p>
                                </div>
                                <!-- +++++subscribe -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="kalles-section-footer_bot" class="kalles-section footer__bot">
            <div class="footer__bot_wrap pt__20 pb__20">
                <div class="container pr tc">
                    <div class="row" we-ser="bottomMost" we-label="Bottom Most">
                        
             <!-- =====bottomMost -->
                        <div class="col-lg-6 col-md-12 col-12 col_1" e-ser="74" e-attr="html" e-label="Text">Copyright © 2021 <span class="cp">7am School Uniforms</span> all rights reserved. </div>
                        <div class="col-lg-6 col-md-12 col-12 col_2">
                            <ul id="footer-menu" class="clearfix">
                                <li class="menu-item">
                                    <a href="/7am/gen/page/kallesShop/n" e-ser="75" e-attr="html,href" e-label="Link 1">Shop</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/7am/gen/page/kallesPage/about-us" e-ser="76" e-attr="html,href" e-label="Link 2">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#contact" e-ser="77" e-attr="html,href" e-label="Link 3">Contact</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/7am/gen/page/kallesBlogs/n" e-ser="78" e-attr="html,href" e-label="Link 4">Blog</a>
                                </li>
                            </ul>
                        </div>
                        <!-- +++++bottomMost -->
             
                    </div>
                </div>
            </div>
        </div>
    </footer>
