
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/kalles/images/k_favicon_32x.png">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:300,300i,400,400i,500,500i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/kalles/css/font-icon.min.css">
    <link rel="stylesheet" href="/kalles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/kalles/css/reset.css">
    <link rel="stylesheet" href="/kalles/css/defined.css">
    <link rel="stylesheet" href="/kalles/css/base.css">
    <link rel="stylesheet" href="/kalles/css/style.css">
    <link rel="stylesheet" href="/kalles/css/home-default.css">
</head>
