
<div id="nt_login_canvas" class="nt_fk_canvas dn lazyload">
    <form id="customer_login" class="nt_mini_cart flex column h__100 is_selected">
        <div class="mini_cart_header flex fl_between al_center">
            <div class="h3 widget-title tu fs__16 mg__0">Login</div>
            <i class="close_pp pegk pe-7s-close ts__03 cd"></i></div>
        <div class="mini_cart_wrap">
            <div class="mini_cart_content fixcl-scroll">
                <div class="fixcl-scroll-content">
                    <p class="form-row">
                        <label for="CustomerEmail">Email <span class="required">*</span></label>
                        <input type="email" name="email" id="CustomerEmail" autocomplete="email" autocapitalize="off">
                    </p>
                    <p class="form-row">
                        <label for="CustomerPassword">Password <span class="required">*</span></label>
                        <input type="password" value="" name="password" autocomplete="current-password" id="CustomerPassword">
                    </p>
                    <input id="signInSubmit" type="submit" class="button button_primary w__100 tu js_add_ld" value="Sign In">
                    <br>
                </div>
            </div>
        </div>
    </form>
</div>
