<div id="nt_menu_canvas" class="nt_fk_canvas nt_sleft dn lazyload">
    <i class="close_pp pegk pe-7s-close ts__03 cd"></i>
    <div id="mobile_main_menu" class="mb_nav_tabs flex al_center mb_cat_true">
        <div class="mb_nav_title pr mb_nav_ul flex al_center fl_center active" data-id="#kalles-section-mb_nav_js">
            <span class="db truncate">Menu</span>
        </div>
        <div class="mb_nav_title pr flex al_center fl_center" data-id="#kalles-section-mb_cat_js">
            <span class="db truncate">Schools</span>
        </div>
    </div>

    <div id="kalles-section-mb_nav_js" class="mb_nav_tab active">
        <div id="kalles-section-mb_nav" class="kalles-section">
            <ul id="menu_mb_ul" class="nt_mb_menu">
                <li class="menu-item"><a href="/7am/gen/page/kallesShop/n?type=sale">Sale</a></li>
                <li class="menu-item"><a href="/7am/gen/page/kallesBlogs/n">Blogs</a></li>
                <li class="menu-item"><a href="/7am/gen/page/kallesBlog/about-us">About Us</a></li>
                <li class="menu-item"><a href="/7am/gen/page/kallesBlog/faq">FAQ</a></li>
                <li class="menu-item"><a href="#contact">Contact</a></li>
                <li class="menu-item menu-item-btns menu-item-wishlist"><a class="js_link_wis" href="wishlist.html"><span class="iconbtns">Wishlist</span></a></li>
                <li class="menu-item menu-item-btns menu-item-sea push_side" data-id="#nt_search_canvas"> <a href="#"><span class="iconbtns">Search</span></a> </li>
                <li class="menu-item menu-item-btns menu-item-acount"> <a href="#" class="push_side" data-id="#nt_login_canvas"><span class="iconbtns">Login / Register</span></a> </li>
                <li class="menu-item menu-item-infos">
                    <p class="menu_infos_title">Need help?</p>
                    <div class="menu_infos_text">
                        <i class="pegk pe-7s-call fwb mr__10"></i>{{data.owner.mobile}}<br><i class="pegk pe-7s-mail fwb mr__10"></i><a class="cg" href="mailto:{{data.owner.email}}">{{data.owner.email}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="kalles-section-mb_cat_js" class="mb_nav_tab">
        <div id="kalles-section-mb_cat" class="kalles-section">
            <ul id="menu_mb_cat" class="nt_mb_menu">
                <li class="menu-item"> <a href="/7am/gen/page/kallesShop/n?school__in=Beacon House School Systems" e-ser="52" e-attr="html,href" e-label="Link 1">Beacon House</a> </li>
                <li class="menu-item"> <a href="/7am/gen/page/kallesShop/n?school__in=Allied School" e-ser="53" e-attr="html,href" e-label="Link 2">Allied School</a> </li>
                <li class="menu-item"> <a href="/7am/gen/page/kallesShop/n?school__in=City School" e-ser="53" e-attr="html,href" e-label="Link 2">City School</a> </li>
                <li class="menu-item"> <a href="/7am/gen/page/kallesShop/n?school__in=Smart School" e-ser="57" e-attr="html,href" e-label="Link 6">Smart School</a> </li>
            </ul>
        </div>
    </div>
</div>
