<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Challenge</title>
  </head>
  <body>

    {{> navbar}}

    <p>{{msg}}</p>
    <button type="button" name="button">Switch Challenge</button>

    {{#each challenges}}
    <div class="card">
      <a href="/challenge?label={{this.identity}}">{{this.name}}</a>
    </div>
    {{/each}}
  </body>
</html>
