<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <style media="screen">
    form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      align-items: flex-start;
    }
  </style>
</head>

<body>
  {{> navbar}}

  {{#if errors}}
  <div class="errors">
    {{#each errors}}
    <p>{{this.msg}}</p>
    {{/each}}
  </div>
  {{/if}}

  <p>Welcome to 30 Days Challenge, please spare some time to create your password.</p>

  <form class="" action="/createNewUser" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{name}}" required>

    <label for="email">Email</label>
    <input type="email" name="email" value="{{email}}" required>

    {{#unless email_verified}}
      <div class="notice">
        <p>Your email is not verified</p>
        <button type="button" name="button">Resend Verification</button>
      </div>
    {{/unless}}

    <label for="password">Create Password</label>
    <input type="password" name="password" value="" placeholder="Create a password" required>

    <button type="submit" name="button">Save</button>

  </form>
</body>

</html>
