<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>

    {{>navbar}}
    
    <p>Hey 👋 {{name}}, let me make you understand how maximum this software can help you. </p>

    <p>You will need to put yourself into mega action. Hobby building requires creating momemntum and you do not create your momemntum unless you are fully available to create the change.</p>

    <p>If you want to quit smoking, you can not do it right away. You need to first make up your mind and select a date. It can be tomorrow or it can be next week. </p>

    <p>During the time in between you will be building your desire to get rid of ciggerettes and underneath attaching hatred towards the dullness, slurry speech and numbed attitude. You are not here, because you love smoking. You are here, because you want to get rid of it.</p>

    <p>This challenge requires you to make the payment of 5 USD upfront. You do not get it back. It goes into my account and you make me rich. To be honest, this is how I can prevent this platform from turning into anyother challenge game.</p>

    <p>You select a challenge. You draw your goal on a blank piece of paper. You put it somewhere prominent. And you start logging your journey into the challenge logger.</p>

    <p>Still if you want your questions answered, click here, to send me a quick email. I appreciate people coming up and speaking there problems with me.</p>

    <p>Best of luck on your next 30 days journey.</p>
    <p>Your's sincerely,</p>
    <p>Qasim Ali</p>
  </body>
</html>
