<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>30 Days Challenge</title>
  </head>
  <body>

    {{> navbar}}

    <p>1. It should have a session with same values with which the user started the challenge -- {{selected_challenge.[0].name}}.</p>

    <p>2. Show all challenges which this user has taken so far. -- </p>

    {{#each opted_challenges}}
      <p>{{this.name}}</p>
    {{/each}}

    <p>3. Menu button to move to another challenge</p>
  </body>
</html>
