<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <style media="screen">
    form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      align-items: flex-start;
    }
    </style>
  </head>
  <body>
    <nav>
      {{> navbar}}
    </nav>
    <div class="container">
      <h1>Log In</h1>
      <p>{{{error}}}</p>
      <p>{{{error_msg}}}</p>
      <p>{{{success_msg}}}</p>
      <form class="" action="/login" method="post">

        <label for="username">Email</label>
        <input type="email" name="username" value="" placeholder="Your email address" autocomplete="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" value="" placeholder="enter your password here" autocomplete="new-password" required>

        <button type="submit">Log In</button>

      </form>
    </div>
  </body>
</html>
