
    <p style="
        width: fit-content;
        margin: auto;
        font-size: 13px;
        margin-top: 50px;
    ">
    
        <a href="" style="
            text-decoration: none;
            color: orange;
        ">@punch__lines</a>  on Twitter. 
        
        <a style="
            text-decoration: none;
            color: orange;
          " href="/life/page/gen/unsubscribeEmail/n?email={{email}}&uniqueCode={{_id}}">Unsubscribe here</a>
    
    </p>

</body>
</html>
