<style media="screen">
  .nav {
    display: flex;
    width: 98%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }
</style>

<div class="nav">
  <div>

    {{#if username}}
    <a href="/home">Home</a>
    路
    <a href="/home/profile">{{username}}</a>
    路
    <a href="/logout">Log Out</a>
    {{else}}
    <a href="/">Home</a>
    路
    <a href="/signin">Sign In</a>
    路
    <a href="/signup">Sign Up</a>
    {{/if}}
  </div>
</div>
