{{> header}}

{{#each body}}

  {{#if (match 'h1' type)}}

    <h1 style="
        margin-top: 20px;
        color: #333333;
        ">{{{msg}}}</h1>

  {{/if}}

  {{#if (match 'h5' type)}}

    <h5 style="
        margin-top: 20px;
        color: #333333;
        ">{{{msg}}}</h5>

  {{/if}}

  {{#if (match 'p' type)}}

    <p style="
            font-size: 16px;
            line-height: 1.5;
            font-weight: 300;
            color: #333333;
            ">{{{msg}}}</p>

  {{/if}}

{{/each}}

{{> footer url=url email=email Id=Id}}
