{{> header}}

{{#each data.body}}

  {{#if (match 'h1' type)}}

    <h1 style="
    background: #f44336 !important;
    padding: 7px 10px;
    width: fit-content;
    color: white !important;
    font-size: 21px !important;
    transform: rotate( -1deg);
    margin: 0px 0 25px 0;
        ">{{{msg}}}</h1>

  {{/if}}

  {{#if (match 'p' type)}}

    <p style="
            font-size: 17px;
            line-height: 1.7;
            color: #333333;
            ">{{{msg}}}</p>

  {{/if}}

{{/each}}

{{> footer url=data.url email=data.email Id=data.Id}}
