{{>header}}

    <h1 style="
        margin-top: 20px;
        color: #333333;
    ">— Hi 👋</h1>

    <p style="
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
    ">You just attempted to subscribe to my mailing list. Please click below to confirm it was you.</p>

    <a href="{{url}}" style="
        font-size: 13px;
        line-height: 1.5;
        font-weight: bold;
        color: black;
        ">Verify Email</a>

    <p style="
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
    ">Or paste below URL to your browser and it will take you to confirmation page.</p>

    <a href="" style="
        font-size: 13px;
        line-height: 1.5;
        font-weight: bold;
        color: black;
    ">{{url}}</a>

    <p style="
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
    ">If you did not subscribe, you can ignore this message.</p>

    <p class="" style="
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
    ">Best Regards, Qasim</p>
    
    <hr>

</body>
</html>
