<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">

<style>

    body {
        max-width: 600px;
        margin: auto;
        font-family: 'Roboto';
        padding: 15px;
    }

    body > p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
    }

    body > a {
        font-size: 18px;
        line-height: 1.5;
        font-weight: bold;
        text-decoration: none;
    }

</style>

</head>

<body>

    <h1>— Hey 👋</h1>

    <p>Welcome to my weekly newsletter.</p>

    <p>If I had to tell you that you can change your life in a moment — "NOW" was the perfect moment, when I am writing this email. I just had a low negative ingress of thoughts. It was a mega push to throw me in to negativity. But, here I am, 2 minutes later, sitting back on my desk and in peak productive state. The magic is states. We can change everything in our life, in a snap. All it needs is to understand how our brain works.</p>

    <p>Over the following few days, I will try to share how I control my thoughts process and manage to live upto the standard I have set for myself.</p>
    
    <p>While you receive these newsletters, I hope you will also learn these amazing tricks to handle your brain activity. Such as Mental cognitive, sub-modalities, pattern interupt techniques and much more. These techniques have shaped nearly all areas of my life. I managed to Quit smoking, started learning to code, get a remote tech job, start writing articles and grow my relationship stronger.</p>

    <p>But it is going to take its time, some practice and learning. Be with me — while you commit to growing. Thank you.</p>

    <p>— Qasim</p>

    <p class="small">
    
        <a href="">@punch__lines</a>  on Twitter. 
        
        <a href="/life/page/gen/unsubscribeEmail/n?email={{email}}&uniqueCode={{_id}}">Unsubscribe here</a>
    
    </p>
</body>
</html>
