<!DOCTYPE html>
{{> header}}

<h1 style="
    color: #333333;
">Hey 👋 —</h1>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">Welcome to my challenges.</p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">If I had to tell you that you can change your life in a moment — "NOW" was the perfect moment, when I am writing this email. I just had a low negative ingress of thoughts. It was a mega push to throw me in to negativity. But, here I am, 2 minutes later, sitting back on my desk and in peak productive state. The magic is states. We can change everything in our life, in a snap. All it needs is to understand how our brain works.</p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
        ">Over the following few days, while you sit and breathe through these challenges, I suggest you take back full control of your thoughts and don't let negativity stop you from reaching the finish line. </p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">I understand, it is going to take its time, some practice and learning. Be with me — while you commit to growing. Thank you.</p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">— Qasim</p>

{{> footer}}
