<!DOCTYPE html>
{{> header}}

<h1 style="
    color: #333333;
">Hey 👋 —</h1>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">Welcome to my weekly newsletter.</p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">If I had to tell you that you can change your life in a moment — "NOW" was the perfect moment, when I am writing this email. I just had a low negative ingress of thoughts. It was a mega push to throw me in to negativity. But, here I am, 2 minutes later, sitting back on my desk and in peak productive state. The magic is states. We can change everything in our life, in a snap. All it needs is to understand how our brain works.</p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">Over the following few days, I will try to share how I control my thoughts process and manage to live upto the standard I have set for myself.</p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">While you receive these newsletters, I hope you will also learn these amazing tricks to handle your brain activity. Such as Mental cognitive, sub-modalities, pattern interupt techniques and much more. These techniques have shaped nearly all areas of my life. I managed to Quit smoking, started learning to code, get a remote tech job, start writing articles and grow my relationship stronger.</p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">But it is going to take its time, some practice and learning. Be with me — while you commit to growing. Thank you.</p>

<p style="
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: #333333;
">— Qasim</p>

{{> footer}}
