<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Your challenges</title>

  <style media="screen">

    body {
        background: black
    }

    .challenges .card {
      padding: 1rem;
      margin: 8px 0;
    }

    .challenges .card:not(.special):hover {
      cursor: pointer;
      opacity: 0.6;
    }

    .heading {
      font-size: 3.5rem;
    }

    .challenges h2 {
      font-weight: bold;
      font-size: 2.75rem;
    }

  </style>
</head>

<body>
  {{> challenge_menu}}

  <div class="challenges container">

    <!-- <h1 class="heading">Your Challenges</h1> -->
    <div class="card special">
      <h2>Welcome Qasim !</h2>
      <p>Below are your challenges you have taken so far. Select in progress challenges to resume the Change you have committed to...</p>
    </div>

    {{#each data.selected}}
    <div class="card" data-challenge='{{this.slug}}' onClick='myFuncs.goToChallenge(this)'>
      <h1>{{this.result.0.name}}</h1>
      <p>{{this.status}}</p>
      <a href='/challenge/auth/page/openChallenge/{{this.slug}}'>Go to challenge →</a>
    </div>
    {{/each}}

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>

      let myFuncs = {

          goToChallenge: function(elem) {
              console.log("here go to the challenge");
              let challenge = $(elem).attr("data-challenge");
              console.log(challenge);
              window.location.assign(`/challenge/auth/page/openChallenge/${challenge}`);
          },

      };

  </script>
</body>

</html>
