<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style media="screen">
    body {
      background-color: black;
    }

    .container {
      padding: 10px;
      padding-bottom: 1rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    .display-2 {
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 3px;
      background: white;
      padding: 20px;
      color: black;
      font-weight: 600;
      border: 1px solid white;
      border-radius: 0%;
    }

    .display-2 span {
      font-weight: 200;
    }

    .display-2 .btn-bold {
      font-size: 1rem;
      padding: 11px 9px;
      border: 2px solid black;
      display: inline-block;
      background: black;
      color: white;
      font-weight: 400;
      white-space: nowrap;
    }

    .display-2 .btn-normal {
      font-size: 1rem;
      padding: 11px 9px;
      border: 2px solid black;
      display: inline-block;
      background: white;
      color: black;
      font-weight: 400;
      display: block;
      width: fit-content;
      margin-top: 4px;
    }

    .grid {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
      grid-gap: 3px;
    }

    .card {
      padding: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.07);
      border-radius: 0;
      font-weight: 100;
    }

    .card:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    .card > svg {
      vertical-align: middle;
      border-style: none;
      max-width: 92px;
      margin-bottom: 23px;
      margin-left: auto;
      margin-right: auto;
      max-height: 87px;
    }

    .card > h1 {
      font-size: 1.2rem;
      margin-bottom: auto;
    }

    .btn-payment {
      background-color: lightcoral;
      border-color: lightcoral;
      padding: 5px 13px;
      color: white;
      font-weight: bold;
      box-shadow: none;
      display: block;
    }

    .modal li {
      font-size: 1.2rem;
      margin: 0;
      margin: auto;
      margin-left: -22px;
      line-height: 1.7;
      color: slategrey;
    }

    .modal h5 {
      font-weight: bold;
      font-size: 2.25rem;
    }

    .modal .close {
      color: red;
      opacity: 1;
      z-index: 10;
      padding-top: 28px;
      padding-right: 22px;
    }

    input {
      border: 0px;
      padding: 9px 8px;
      width: 100%;
      box-sizing: border-box;
      background: #f0f0f0;
    }

    li>span {
      background: #ededed;
      color: black;
      padding: 0 6px;
      display: inline-block;
    }

    .badge {
      margin-right: auto;
      background: orangered;
      color: white;
      margin-top: 10px;
    }

    .d-xx-none {
      display: none;
    }

    @media (max-width: 1200px) and (max-height: 1200px) {
        .container {
            position: relative;
            transform: none;
            left: 0%;
            top: 0%;
        }
    }

     @media (max-width: 1200px) {
     .container {
       max-width: 100%;
      }
    }

    @media (max-width: 450px) {

      .display-2 {
        font-size: 6vh;
      }

      .d-xx-none {
        display: inline-block;
      }
    }
  </style>
  <title>Hello, world!</title>
</head>

<body>

  {{> challenge_menu}}

  <div class="container">

    <h1 class="display-2">
      Start <span>30 days challenge</span> to gain back control <br class="d-xx-none"> of your <br class="d-xx-none"> Life ! <br>
      {{#if data.sessionExists}}
          <a class="btn-bold" href="/challenge/auth/page/challenges/n">Show my Challenges</a>
      {{else}}
          <a class="btn-bold" href="/challenge/gen/page/signin/n?nextPage=challenges&nextPageInput=n">Sign In</a>
          <a class="btn-normal" href="/challenge/gen/page/signup/n">First Day here ?</a>
      {{/if}}
    </h1>

    <div class="grid">

      <div class="card" data-toggle="" data-target="#staticBackdrop">
          <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g id="XMLID_1187_"><path id="XMLID_1739_" d="m479 448h-455.333c-7.548 0-13.667-6.119-13.667-13.667v-60.667c0-7.547 6.119-13.666 13.667-13.666h455.333c12.703 0 23 10.297 23 23v42c0 12.703-10.297 23-23 23z" fill="#f8f8f8"/><path id="XMLID_1987_" d="m10 373.667v60.667c0 7.547 6.119 13.666 13.667 13.666h40.333v-88h-40.333c-7.548 0-13.667 6.119-13.667 13.667z" fill="#ffa76b"/><path id="XMLID_1732_" d="m479 360h-121v88h121c12.703 0 23-10.297 23-23v-42c0-12.703-10.297-23-23-23z" fill="#ffd88e"/><g id="XMLID_1634_"><path id="XMLID_1731_" d="m52.768 116.692h39.598c13.093 0 23.707 10.614 23.707 23.707 0 13.093-10.614 23.707-23.707 23.707h-39.598c-13.093 0-23.707-10.614-23.707-23.707-.001-13.092 10.613-23.707 23.707-23.707z" fill="#f8f8f8"/><g id="XMLID_1709_"><g id="XMLID_3429_"><path id="XMLID_3430_" d="m33.708 300.707c-13.094 0-23.708-10.614-23.708-23.707v-3.535c0-37.53 30.533-68.063 68.062-68.063h141.616c11.384 0 20.647-9.262 20.647-20.647s-9.263-20.647-20.647-20.647h-28.554c-13.093 0-23.708-10.614-23.708-23.708s10.614-23.708 23.708-23.708h28.554c37.529 0 68.062 30.533 68.062 68.062s-30.533 68.062-68.062 68.062h-141.616c-11.384 0-20.647 9.263-20.647 20.648v3.536c0 13.093-10.614 23.707-23.707 23.707z" fill="#f8f8f8"/></g></g><path id="XMLID_1669_" d="m311.448 64h39.598c13.093 0 23.707 10.614 23.707 23.707 0 13.093-10.614 23.707-23.707 23.707h-39.598c-13.093 0-23.707-10.614-23.707-23.707-.001-13.093 10.613-23.707 23.707-23.707z" fill="#f8f8f8"/></g><g id="XMLID_1219_"><path id="XMLID_1294_" d="m479 350h-223c-5.522 0-10 4.478-10 10s4.478 10 10 10h92v68h-274v-68h92c5.522 0 10-4.478 10-10s-4.478-10-10-10h-142.333c-13.05 0-23.667 10.617-23.667 23.667v60.666c0 13.05 10.617 23.667 23.667 23.667h455.333c18.196 0 33-14.804 33-33v-42c0-18.196-14.804-33-33-33zm-459 84.333v-60.666c0-2.022 1.645-3.667 3.667-3.667h30.333v68h-30.333c-2.022 0-3.667-1.645-3.667-3.667zm472-9.333c0 7.168-5.832 13-13 13h-111v-68h111c7.168 0 13 5.832 13 13z"/><path id="XMLID_1326_" d="m33.707 310.707c18.587 0 33.708-15.121 33.708-33.707v-3.535c0-5.871 4.776-10.647 10.647-10.647h141.615c43.044 0 78.062-35.019 78.062-78.062s-35.019-78.062-78.062-78.062h-28.554c-18.586 0-33.707 15.121-33.707 33.707 0 18.587 15.121 33.708 33.707 33.708h28.554c5.871 0 10.647 4.776 10.647 10.647s-4.776 10.647-10.647 10.647h-141.615c-43.043-.001-78.062 35.018-78.062 78.062v3.535c0 18.586 15.121 33.707 33.707 33.707zm-13.707-37.242c0-32.016 26.047-58.062 58.062-58.062h141.615c16.899 0 30.647-13.748 30.647-30.647s-13.748-30.647-30.647-30.647h-28.554c-7.558 0-13.707-6.149-13.707-13.708 0-7.558 6.149-13.707 13.707-13.707h28.554c32.016 0 58.062 26.047 58.062 58.062s-26.047 58.062-58.062 58.062h-141.615c-16.899 0-30.647 13.748-30.647 30.647v3.535c0 7.558-6.149 13.707-13.708 13.707-7.558 0-13.707-6.149-13.707-13.707z"/><path id="XMLID_1331_" d="m52.768 174.107h39.599c18.586 0 33.707-15.121 33.707-33.708 0-18.586-15.121-33.707-33.707-33.707h-39.599c-18.586 0-33.707 15.121-33.707 33.708 0 18.586 15.121 33.707 33.707 33.707zm0-47.415h39.599c7.558 0 13.707 6.149 13.707 13.708 0 7.558-6.149 13.707-13.707 13.707h-39.599c-7.558 0-13.707-6.149-13.707-13.708 0-7.557 6.149-13.707 13.707-13.707z"/><path id="XMLID_1334_" d="m311.447 121.415h39.599c18.587 0 33.708-15.121 33.708-33.708 0-18.586-15.121-33.707-33.708-33.707h-39.599c-18.586 0-33.707 15.121-33.707 33.708 0 18.586 15.121 33.707 33.707 33.707zm0-47.415h39.599c7.559 0 13.708 6.149 13.708 13.708 0 7.558-6.149 13.707-13.708 13.707h-39.599c-7.558 0-13.707-6.149-13.707-13.708 0-7.558 6.15-13.707 13.707-13.707z"/><path id="XMLID_1338_" d="m211 350c-2.641 0-5.21 1.069-7.07 2.93s-2.93 4.44-2.93 7.07 1.069 5.21 2.93 7.069c1.86 1.86 4.44 2.931 7.07 2.931s5.21-1.07 7.069-2.931c1.861-1.859 2.931-4.439 2.931-7.069s-1.07-5.21-2.931-7.07c-1.859-1.861-4.439-2.93-7.069-2.93z"/></g></g></svg>
        <h1>quit smoking</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
          <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><g><g>
              <path d="m40.226 111.58h431.548v288.84h-431.548z" fill="#fffbdf"/></g></g><g><g><g>
              <path d="m210.794 355.706h-78.373c0-26.223-21.258-47.481-47.481-47.481v-104.45c26.223 0 47.481-21.258 47.481-47.481h247.159c0 26.223 21.258 47.481 47.481 47.481v104.449c-26.223 0-47.481 21.258-47.481 47.481h-78.373" fill="#fff2a0"/></g></g></g><g><g><g>
              <path d="m299.397 273.975 17.975-17.975-17.975-17.975v-25.422h-25.422l-17.975-17.975-17.975 17.975h-25.422v25.422l-17.975 17.975 17.975 17.975v25.422h25.422l17.975 17.975 17.975-17.975h25.422z" fill="#ccf5fc"/></g></g></g></g><g>
              <path d="m84.939 318.225c20.667 0 37.481 16.814 37.481 37.481 0 5.522 4.478 10 10 10h78.373c5.523 0 10-4.478 10-10s-4.477-10-10-10h-69.243c-4.174-23.695-22.915-42.437-46.61-46.61v-86.191c23.695-4.174 42.437-22.915 46.61-46.61h228.9c4.174 23.695 22.915 42.437 46.61 46.61v86.191c-23.695 4.174-42.436 22.915-46.61 46.61h-69.244c-5.522 0-10 4.478-10 10s4.478 10 10 10h78.373c5.522 0 10-4.478 10-10 0-20.667 16.814-37.481 37.481-37.481 5.523 0 10-4.478 10-10v-104.45c0-5.523-4.477-10-10-10-20.667 0-37.481-16.814-37.481-37.482 0-5.522-4.478-10-10-10h-247.158c-5.522 0-10 4.478-10 10 0 20.667-16.814 37.482-37.481 37.482-5.522 0-10 4.477-10 10v104.449c-.001 5.523 4.477 10.001 9.999 10.001z"/>
              <path d="m309.397 299.397v-21.278l15.047-15.047c3.905-3.905 3.905-10.237 0-14.143l-15.047-15.047v-21.278c0-5.522-4.478-10-10-10h-21.278l-15.047-15.047c-3.906-3.904-10.236-3.904-14.143 0l-15.047 15.047h-21.278c-5.522 0-10 4.478-10 10v21.278l-15.047 15.047c-3.905 3.905-3.905 10.237 0 14.143l15.047 15.047v21.278c0 5.522 4.478 10 10 10h21.278l15.047 15.047c1.953 1.952 4.512 2.929 7.071 2.929s5.118-.977 7.071-2.929l15.047-15.047h21.278c5.523 0 10.001-4.478 10.001-10zm-20-25.421v15.421h-15.421c-2.652 0-5.195 1.054-7.071 2.929l-10.905 10.903-10.904-10.904c-1.876-1.875-4.419-2.929-7.071-2.929h-15.421v-15.421c0-2.652-1.054-5.195-2.929-7.071l-10.905-10.904 10.904-10.904c1.875-1.876 2.929-4.419 2.929-7.071v-15.421h15.421c2.652 0 5.195-1.054 7.071-2.929l10.905-10.905 10.904 10.904c1.876 1.875 4.419 2.929 7.071 2.929h15.421v15.421c0 2.652 1.054 5.195 2.929 7.071l10.904 10.905-10.904 10.904c-1.875 1.876-2.928 4.419-2.928 7.072z"/>
              <path d="m502 181.745c5.522 0 10-4.478 10-10s-4.478-10-10-10h-20.226v-22.532h20.226c5.522 0 10-4.478 10-10 0-5.523-4.478-10-10-10h-20.226v-7.633c0-5.522-4.478-10-10-10h-431.548c-5.523 0-10 4.478-10 10v7.633h-20.226c-5.523 0-10 4.478-10 10s4.477 10 10 10h20.226v22.532h-20.226c-5.523 0-10 4.478-10 10s4.477 10 10 10h20.226v22.531h-20.226c-5.523 0-10 4.478-10 10s4.477 10 10 10h20.226v22.532h-20.226c-5.523 0-10 4.478-10 10s4.477 10 10 10h20.226v22.532h-20.226c-5.523 0-10 4.478-10 10 0 5.523 4.477 10 10 10h20.226v22.531h-20.226c-5.523 0-10 4.478-10 10s4.477 10 10 10h20.226v22.532h-20.226c-5.523 0-10 4.478-10 10s4.477 10 10 10h20.226v6.016c0 5.523 4.477 10 10 10h431.549c5.522 0 10-4.477 10-10v-6.016h20.225c5.522 0 10-4.478 10-10s-4.478-10-10-10h-20.226v-22.532h20.226c5.522 0 10-4.478 10-10s-4.478-10-10-10h-20.226v-22.531h20.226c5.522 0 10-4.477 10-10 0-5.522-4.478-10-10-10h-20.226v-22.532h20.226c5.522 0 10-4.478 10-10s-4.478-10-10-10h-20.226v-22.532h20.226c5.522 0 10-4.478 10-10s-4.478-10-10-10h-20.226v-22.531zm-40.226 208.675h-411.548v-268.84h411.549v268.84z"/>
              <path d="m265.42 351.88c-1.609-3.865-5.584-6.388-9.771-6.161-4.104.222-7.718 3.023-8.979 6.93-1.277 3.956.105 8.468 3.424 10.992 3.335 2.536 7.972 2.724 11.499.467 4.031-2.58 5.636-7.812 3.827-12.228z"/></g></g>
          </svg>
        <h1>Start 5 times prayers</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
        <svg height="511pt" viewBox="0 0 511.998 511" width="511pt" xmlns="http://www.w3.org/2000/svg">
            <path d="m407.277344 501.5h62.886718l13.660157-105.28125c2.339843-18.03125 1.941406-36.316406-1.183594-54.230469l-3.761719-21.554687c-5.757812-32.996094-2.214844-66.941406 10.226563-98.042969 8.53125-21.316406 12.914062-44.066406 12.914062-67.027344v-50.316406c0-52.226563-42.339843-94.566406-94.566406-94.566406h-302.90625c-52.226563 0-94.566406 42.335937-94.566406 94.566406v50.425781c0 22.898438 4.246093 45.601563 12.523437 66.953125 12.058594 31.109375 15.492188 64.902344 9.933594 97.800781l-3.832031 22.707032c-3.003907 17.789062-3.394531 35.921875-1.15625 53.824218l13.09375 104.742188zm0 0" fill="#ffcdac"/>
            <path d="m422.558594 108.484375c-5.507813 0-9.976563 4.46875-9.976563 9.976563 0 10.578124-3.476562 20.539062-9.585937 29.25-.257813.3125-.503906.636718-.722656.980468-13.734376 18.753906-39.808594 31.449219-69.671876 31.449219h-17.007812c-5.511719 0-9.980469 4.46875-9.980469 9.980469 0 5.511718 4.46875 9.980468 9.980469 9.980468h17.007812c25.4375 0 48.683594-7.808593 66.34375-20.640624l-9.386718 135.71875c-.382813 5.5 3.765625 10.265624 9.265625 10.648437.234375.015625.46875.023437.699219.023437 5.199218 0 9.582031-4.027343 9.945312-9.292968l11.015625-159.253906c7.6875-11.558594 12.054687-24.789063 12.054687-38.84375 0-5.511719-4.46875-9.976563-9.980468-9.976563zm0 0"/>
            <path d="m407.453125.5h-302.90625c-57.648437 0-104.546875 46.898438-104.546875 104.546875v50.425781c0 24.226563 4.441406 47.96875 13.199219 70.5625 11.402343 29.417969 14.652343 61.417969 9.398437 92.53125l-3.832031 22.703125c-3.167969 18.765625-3.578125 37.847657-1.21875 56.726563l13.089844 104.742187c.625 4.996094 4.871093 8.742188 9.90625 8.742188h61.089843.042969.042969 305.523438.023437.023437 62.875c5.015626 0 9.25-3.722657 9.898438-8.695313l13.65625-105.28125c2.472656-19.050781 2.054688-38.304687-1.25-57.230468l-3.757812-21.554688c-5.445313-31.195312-2.101563-63.222656 9.660156-92.621094 9.042968-22.597656 13.625-46.398437 13.625-70.738281v-50.3125c.003906-57.648437-46.894532-104.546875-104.542969-104.546875zm84.585937 154.859375c0 21.789063-4.101562 43.09375-12.199218 63.324219-13.140625 32.839844-16.871094 68.617187-10.792969 103.464844l3.761719 21.554687c2.957031 16.941406 3.332031 34.179687 1.121094 51.230469l-12.53125 96.585937h-45.570313l-.417969-2.679687c-4.757812-30.585938-7.550781-61.777344-8.304687-92.707032-.132813-5.429687-4.574219-9.738281-9.972657-9.738281-.082031 0-.167968 0-.25.003907-5.507812.132812-9.867187 4.710937-9.734374 10.21875.773437 31.664062 3.628906 63.589843 8.484374 94.902343h-57.488281l26.949219-33.6875c3.441406-4.304687 2.742188-10.582031-1.5625-14.027343-4.300781-3.445313-10.582031-2.746094-14.027344 1.558593l-36.921875 46.15625h-48.128906v-43.402343c14.734375 3.773437 28.40625 2.1875 40.769531-4.796876 4.800782-2.710937 6.492188-8.796874 3.78125-13.597656-2.710937-4.800781-8.800781-6.496094-13.597656-3.78125-9.03125 5.101563-19.191406 5.535156-30.953125 1.320313v-24.054688c14.734375 3.773438 28.40625 2.1875 40.769531-4.796875 4.800782-2.710937 6.492188-8.796875 3.78125-13.597656-2.710937-4.800781-8.800781-6.492188-13.597656-3.78125-9.03125 5.101562-19.191406 5.535156-30.953125 1.320312v-43.847656c0-5.511718-4.46875-9.980468-9.980469-9.980468-5.511718 0-9.980468 4.46875-9.980468 9.980468v44.53125c-11.433594 3.324219-20.605469 3.476563-31.191407-2.132812-4.871093-2.578125-10.910156-.722656-13.488281 4.148437-2.582031 4.871094-.726562 10.910157 4.144531 13.492188 9.378907 4.96875 18.175781 6.789062 26.410157 6.789062 4.910156 0 9.609374-.660156 14.125-1.675781v24.289062c-11.433594 3.328126-20.605469 3.476563-31.191407-2.132812-4.871093-2.578125-10.910156-.722656-13.488281 4.148438-2.582031 4.871093-.726562 10.910156 4.144531 13.492187 9.378907 4.96875 18.175781 6.789063 26.410157 6.789063 4.910156 0 9.609374-.660157 14.125-1.675782v42.953125h-50.0625l-36.925782-46.15625c-3.441406-4.304687-9.722656-5-14.027344-1.558593-4.304687 3.445312-5 9.722656-1.558593 14.027343l26.949219 33.6875h-55.390626c9.332032-57.914062 11.722657-116.832031 7.097657-175.324219l-10.761719-136.128906c17.554688 12.472656 40.472656 20.035156 65.511719 20.035156h18.023437c5.511719 0 9.980469-4.46875 9.980469-9.980468 0-5.511719-4.46875-9.980469-9.980469-9.980469h-18.023437c-29.480469 0-55.265625-12.375-69.136719-30.730469-.21875-.332031-.457031-.644531-.710938-.949218-6.441406-8.886719-10.132812-19.113282-10.132812-30 0-5.511719-4.46875-9.980469-9.980469-9.980469s-9.980469 4.46875-9.980469 9.980469c0 14.425781 4.613282 27.988281 12.683594 39.761718l12.609375 159.546875c4.585938 57.976563 2.066407 116.382813-7.441406 173.75h-43.882813l-12-95.996093c-2.117187-16.949219-1.75-34.082032 1.09375-50.925782l3.835938-22.707031c5.851562-34.65625 2.230469-70.296875-10.472656-103.070313-7.863282-20.28125-11.847656-41.597656-11.847656-63.347656v-50.425781c0-46.640625 37.945312-84.585937 84.585937-84.585937h302.90625c46.640625 0 84.585937 37.945312 84.585937 84.585937zm0 0"/>
            <path d="m170.980469 145.210938c-.25-.609376-.550781-1.1875-.910157-1.726563-.367187-.550781-.789062-1.058594-1.246093-1.515625-.460938-.460938-.96875-.878906-1.519531-1.238281-.539063-.359375-1.117188-.667969-1.714844-.917969-.609375-.25-1.238282-.441406-1.867188-.570312-1.285156-.257813-2.613281-.257813-3.902344 0-.636718.128906-1.265624.320312-1.867187.570312-.605469.25-1.1875.558594-1.726563.917969-.546874.359375-1.054687.777343-1.515624 1.238281-.457032.457031-.878907.964844-1.238282 1.515625-.359375.539063-.667968 1.117187-.917968 1.726563-.25.597656-.4375 1.226562-.566407 1.867187-.132812.636719-.199219 1.296875-.199219 1.945313 0 .648437.066407 1.308593.199219 1.945312.128907.640625.316407 1.269531.566407 1.875.25.601562.558593 1.179688.917968 1.71875.359375.546875.78125 1.058594 1.238282 1.515625.460937.460937.96875.878906 1.515624 1.25.539063.359375 1.121094.667969 1.726563.917969.601563.246094 1.230469.4375 1.867187.566406.640626.128906 1.296876.1875 1.945313.1875.652344 0 1.308594-.058594 1.957031-.1875.628906-.128906 1.257813-.320312 1.867188-.566406.597656-.25 1.175781-.558594 1.714844-.917969.550781-.371094 1.058593-.789063 1.519531-1.25.457031-.457031.878906-.96875 1.246093-1.515625.359376-.539062.660157-1.117188.910157-1.71875.25-.605469.449219-1.234375.578125-1.875s.1875-1.296875.1875-1.945312c0-.648438-.058594-1.308594-.1875-1.945313-.128906-.640625-.328125-1.269531-.578125-1.867187zm0 0"/>
            <path d="m336.9375 152.84375c.25.601562.558594 1.179688.917969 1.71875.371093.546875.777343 1.058594 1.238281 1.515625.46875.460937.976562.878906 1.519531 1.25.546875.359375 1.125.667969 1.722657.917969.597656.246094 1.230468.4375 1.867187.566406.648437.128906 1.308594.1875 1.957031.1875 2.625 0 5.1875-1.066406 7.054688-2.921875.460937-.460937.878906-.96875 1.238281-1.515625.359375-.539062.667969-1.121094.917969-1.71875.25-.609375.4375-1.238281.566406-1.875.132812-.640625.203125-1.300781.203125-1.949219 0-.644531-.070313-1.304687-.203125-1.945312-.128906-.636719-.316406-1.265625-.566406-1.863281-.25-.609376-.558594-1.1875-.917969-1.726563-.359375-.550781-.777344-1.058594-1.238281-1.519531-2.324219-2.3125-5.769532-3.382813-9.011719-2.722656-.636719.128906-1.269531.320312-1.867187.566406-.597657.25-1.175782.558594-1.722657.917968-.539062.359376-1.050781.78125-1.519531 1.238282-.460938.460937-.878906.96875-1.238281 1.519531-.359375.539063-.667969 1.117187-.917969 1.726563-.25.597656-.4375 1.226562-.566406 1.863281-.132813.640625-.191406 1.300781-.191406 1.945312 0 .648438.0625 1.308594.191406 1.949219s.316406 1.269531.566406 1.875zm0 0"/>
            <path d="m254.472656 279.585938c-49.726562 0-90.179687 40.453124-90.179687 90.175781 0 5.511719 4.46875 9.980469 9.980469 9.980469 5.511718 0 9.980468-4.46875 9.980468-9.980469 0-38.71875 31.5-70.214844 70.21875-70.214844 38.714844 0 70.214844 31.496094 70.214844 70.214844 0 5.511719 4.46875 9.980469 9.980469 9.980469s9.980469-4.46875 9.980469-9.980469c0-49.722657-40.453126-90.175781-90.175782-90.175781zm0 0"/>
            <path d="m407.425781 351.976562c-.246093-.609374-.558593-1.1875-.917969-1.726562-.355468-.546875-.777343-1.058594-1.234374-1.515625-.460938-.460937-.96875-.878906-1.519532-1.238281-.539062-.359375-1.117187-.667969-1.726562-.917969-.597656-.25-1.226563-.4375-1.863282-.566406-1.289062-.261719-2.617187-.261719-3.894531 0-.636719.128906-1.265625.316406-1.875.566406-.601562.25-1.175781.558594-1.714843.917969-.550782.359375-1.0625.777344-1.519532 1.238281-.460937.457031-.878906.96875-1.246094 1.515625-.359374.539062-.660156 1.117188-.910156 1.726562-.25.601563-.449218 1.226563-.578125 1.867188-.128906.636719-.1875 1.296875-.1875 1.945312 0 .648438.058594 1.308594.1875 1.957032.128907.628906.328125 1.257812.578125 1.867187.25.597657.558594 1.175781.917969 1.714844.359375.550781.777344 1.058594 1.238281 1.515625.457032.460938.96875.882812 1.519532 1.25.539062.359375 1.113281.667969 1.714843.917969.609375.25 1.238281.4375 1.875.566406.640625.132813 1.296875.191406 1.949219.191406.644531 0 1.304688-.0625 1.945312-.191406.636719-.128906 1.265626-.316406 1.863282-.566406.609375-.25 1.1875-.558594 1.726562-.917969.550782-.367188 1.058594-.789062 1.519532-1.25.457031-.457031.878906-.964844 1.234374-1.515625.359376-.539063.671876-1.117187.917969-1.714844.25-.609375.449219-1.238281.570313-1.867187.128906-.648438.199218-1.308594.199218-1.957032 0-.648437-.070312-1.308593-.199218-1.945312-.121094-.636719-.320313-1.265625-.570313-1.867188zm0 0"/>
        </svg>
        <h1>Get fit</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
          <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m422 110h80v292h-80z" fill="#ffda8f"/><path d="m322 10h-252v492h252c22.09 0 40-17.91 40-40v-412c0-22.09-17.91-40-40-40z" fill="#b3f1ff"/><path d="m502 442v20c0 22.09-17.91 40-40 40s-40-17.91-40-40v-20z" fill="#ff9256"/><path d="m502 402v40h-80v-40z" fill="#eefaff"/><path d="m486 70 16 40c0 11.05-8.95 20-20 20s-20-8.95-20-20c0 11.05-8.95 20-20 20s-20-8.95-20-20l16-40z" fill="#fce8d0"/><path d="m462 10 24 60h-48z" fill="#918787"/><path d="m382 256v40c0 11.05-8.95 20-20 20h-60l-40-40 40-40h60c11.05 0 20 8.95 20 20z" fill="#ff9256"/><path d="m136 70h160v80h-160z" fill="#eefaff"/><path d="m10 10h60v492h-60z" fill="#918787"/></g><g><circle cx="322" cy="276" r="10"/><circle cx="256" cy="436" r="10"/><circle cx="216" cy="436" r="10"/><circle cx="176" cy="436" r="10"/><path d="m462 512c27.57 0 50-22.43 50-50v-352c0-2.064-.75-3.775-.781-3.88-.002-.006-.004-.011-.007-.017-3.563-8.909-37.843-94.607-39.927-99.816-1.519-3.797-5.196-6.287-9.285-6.287s-7.766 2.49-9.285 6.286c-2.098 5.245-39.931 99.828-39.933 99.833-.034.113-.781 1.661-.781 3.88v352c-.001 27.571 22.429 50.001 49.999 50.001zm30-120h-20v-253.713c3.129 1.109 6.495 1.713 10 1.713 3.506 0 6.87-.61 10-1.72zm-30-355.074 9.23 23.074h-18.46zm-17.23 43.074h34.459l12.633 31.582c-.762 4.763-4.888 8.418-9.862 8.418-5.514 0-10-4.486-10-10 0-5.523-4.478-10-10-10s-10 4.477-10 10c0 5.514-4.486 10-10 10-4.974 0-9.1-3.655-9.862-8.418zm-12.77 58.28c3.13 1.11 6.494 1.72 10 1.72s6.87-.61 10-1.72v253.72h-20zm0 273.72h60v20h-60zm0 40h60v10c0 16.542-13.458 30-30 30s-30-13.458-30-30z"/><path d="m10 512h312c27.57 0 50-22.43 50-50v-137.72c11.639-4.128 20-15.243 20-28.28v-40c0-13.036-8.361-24.152-20-28.28v-177.72c0-27.57-22.43-50-50-50h-312c-5.523 0-10 4.477-10 10v492c0 5.523 4.477 10 10 10zm352-266c5.514 0 10 4.486 10 10v40c0 5.514-4.486 10-10 10h-55.857l-30-30 30-30zm-342-226h40v191c0 5.523 4.477 10 10 10s10-4.477 10-10v-191h242c16.542 0 30 13.458 30 30v176h-50c-2.652 0-5.195 1.054-7.071 2.929l-40 40c-3.905 3.905-3.905 10.237 0 14.143l40 40c1.876 1.875 4.419 2.929 7.071 2.929h50v136c0 16.542-13.458 30-30 30h-242v-191.001c0-5.523-4.477-10-10-10s-10 4.477-10 10v191h-40z"/><path d="m136 160h160c5.522 0 10-4.477 10-10v-80c0-5.523-4.478-10-10-10h-160c-5.523 0-10 4.477-10 10v80c0 5.523 4.477 10 10 10zm10-80h140v60h-140z"/><path d="m136 406h160c5.522 0 10-4.477 10-10s-4.478-10-10-10h-160c-5.523 0-10 4.477-10 10s4.477 10 10 10z"/><path d="m136 366h160c5.522 0 10-4.477 10-10s-4.478-10-10-10h-160c-5.523 0-10 4.477-10 10s4.477 10 10 10z"/><circle cx="70" cy="256" r="10"/></g></g></svg>
        <h1>Gain focus (Deep Work)</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
          <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><ellipse cx="229.278" cy="190.459" fill="#fff" rx="34.837" ry="34.837" transform="matrix(.995 -.099 .099 .995 -17.652 23.52)"/>
              <path d="m222.472 299.773h13.613c7.404 0 13.406-6.002 13.406-13.406v-21.643c6.369-1.729 12.404-4.257 18.002-7.467l15.311 15.311c5.235 5.235 13.724 5.235 18.959 0l9.626-9.626c5.235-5.235 5.235-13.724 0-18.959l-15.311-15.311c3.209-5.598 5.738-11.634 7.467-18.002h21.643c7.404 0 13.406-6.002 13.406-13.406v-13.613c0-7.404-6.002-13.406-13.406-13.406h-21.643c-1.729-6.368-4.257-12.403-7.467-18.002l15.311-15.311c5.235-5.235 5.235-13.724 0-18.959l-9.626-9.626c-5.235-5.235-13.724-5.235-18.959 0l-15.311 15.311c-5.598-3.21-11.633-5.738-18.002-7.467v-21.641c0-7.404-6.002-13.406-13.406-13.406h-13.613c-7.404 0-13.406 6.002-13.406 13.406v21.643c-6.368 1.729-12.404 4.257-18.002 7.467l-15.311-15.311c-5.235-5.235-13.724-5.235-18.959 0l-9.626 9.626c-5.235 5.235-5.235 13.724 0 18.959l15.311 15.311c-3.21 5.598-5.738 11.633-7.467 18.002h-21.643c-7.404 0-13.406 6.002-13.406 13.406v13.613c0 7.404 6.002 13.406 13.406 13.406h21.643c1.729 6.368 4.257 12.404 7.467 18.002l-15.311 15.311c-5.235 5.235-5.235 13.724 0 18.959l9.626 9.626c5.235 5.235 13.724 5.235 18.959 0l15.311-15.311c5.598 3.21 11.634 5.738 18.002 7.467v21.643c0 7.402 6.002 13.404 13.406 13.404zm-28.031-109.314c0-19.24 15.597-34.837 34.837-34.837s34.837 15.597 34.837 34.837-15.597 34.837-34.837 34.837c-19.24-.001-34.837-15.598-34.837-34.837z" fill="#9bbecf"/>
              <path d="m406.559 326.07h-32.471-139.281c-13.751 0-24.899 11.147-24.899 24.899v86.32c0 13.751 11.147 24.899 24.899 24.899h139.281 24.53c20.405 0 36.946-16.541 36.946-36.946v-128.177c0 16.019-12.986 29.005-29.005 29.005zm-126.602 94.173c0 5.626-13.294 5.311-13.294.012v-19.156c0-3.237-2.75-6.414-6.175-6.414-2.813 0-5.746 2.359-5.746 6.414v19.156c0 1.026-.673 1.967-2.016 2.822-4.468 2.843-11.277.617-11.277-2.829v-55.928c0-5.482 13.293-5.25 13.293 0v25.268c1.644-3.534 5.446-6.566 10.635-6.566 8.59 0 14.58 8.977 14.58 18.01zm27.615-7.547c3.742 0 5.66 2.817 5.66 5.832 0 1.616-.486 2.991-1.458 4.127-2.09 2.441-5.326 1.494-7.891 1.705-11.206 0-16.81-4.76-16.81-14.282v-39.465c0-2.63 3.957-3.972 6.604-3.972 2.684 0 6.689 1.217 6.689 3.836v13.059h9.691c2.328 0 3.259 2.858 3.259 5.146 0 2.328-.885 5.146-3.259 5.146h-9.691v15.75c.002 4.362 3.729 2.747 7.206 3.118zm73.242 7.547c0 2.482-3.764 4.117-6.689 4.117-2.68 0-6.604-1.622-6.604-4.104v-19.156c0-4.278-2.823-6.499-5.746-6.499-2.806 0-5.489 2.215-5.489 6.499v19.242c0 5.378-13.293 5.355-13.293 0v-19.156c0-4.191-2.906-6.5-5.832-6.5-2.819 0-5.403 2.144-5.403 6.414v19.156c0 2.502-3.935 4.104-6.689 4.104-2.884 0-6.604-1.432-6.604-4.117v-32.676c0-2.92 3.669-4.031 6.604-4.031 2.75 0 5.832 1.333 5.832 4.063v1.989c4.861-8.656 17.552-9.668 21.441 2.073 7.515-14.855 28.473-9.816 28.473 9.371v19.211zm21.44 0c0 3.384-7.21 5.641-11.407 2.873-3.364-2.215-1.238 1.03-1.887-58.876 0-5.456 13.294-5.288 13.294 0z" fill="#66e4d1"/>
              <path d="m408.768 269.362h-34.68v56.708h32.471c16.019 0 29.005-12.986 29.005-29.005v-.907c0-14.799-11.997-26.796-26.796-26.796z" fill="#66e4d1"/>
              <path d="m209.908 437.289v-86.32c0-13.751 11.147-24.899 24.899-24.899h139.281v-56.708c0-80.459 0-218.619 0-224.468 0-19.271-15.622-34.894-34.894-34.894-173.572.612-166.637-1.378-179.569 1.789v22.327 1.447 22.27c0 16.576-13.437 30.013-30.013 30.013h-51.669c-2.611 12.249-.885-4.491-1.378 379.261 0 19.271 15.623 34.894 34.894 34.894h227.735c19.271 0 34.894-15.622 34.894-34.894v-4.919h-139.281c-13.751-.001-24.899-11.148-24.899-24.899zm-18.844-180.031-15.311 15.311c-5.235 5.235-13.724 5.235-18.959 0l-9.626-9.626c-5.235-5.235-5.235-13.724 0-18.959l15.311-15.311c-3.21-5.598-5.738-11.634-7.467-18.002h-21.643c-7.404 0-13.406-6.002-13.406-13.406v-13.613c0-7.404 6.002-13.406 13.406-13.406h21.643c1.729-6.368 4.257-12.403 7.467-18.002l-15.311-15.311c-5.235-5.235-5.235-13.724 0-18.959l9.626-9.626c5.235-5.235 13.724-5.235 18.959 0l15.311 15.311c5.598-3.21 11.634-5.738 18.002-7.467v-21.642c0-7.404 6.002-13.406 13.406-13.406h13.613c7.404 0 13.406 6.002 13.406 13.406v21.643c6.369 1.729 12.404 4.257 18.002 7.467l15.311-15.311c5.235-5.235 13.724-5.235 18.959 0l9.626 9.626c5.235 5.235 5.235 13.724 0 18.959l-15.311 15.311c3.21 5.598 5.738 11.633 7.467 18.002h21.643c7.404 0 13.406 6.002 13.406 13.406v13.613c0 7.404-6.002 13.406-13.406 13.406h-21.643c-1.729 6.368-4.257 12.404-7.467 18.002l15.311 15.311c5.235 5.235 5.235 13.724 0 18.959l-9.626 9.626c-5.235 5.235-13.724 5.235-18.959 0l-15.311-15.311c-5.598 3.21-11.633 5.738-18.002 7.467v21.643c0 7.404-6.002 13.406-13.406 13.406h-13.613c-7.404 0-13.406-6.002-13.406-13.406v-21.643c-6.369-1.731-12.404-4.259-18.002-7.468z" fill="#fff"/>
              <path d="m159.625 57.832v-22.27-1.447-22.326h-.001c-17.958 4.398-23.361 11.743-59.924 40.685-18.598 14.948-21.512 34.915-21.757 35.371h51.669c16.576 0 30.013-13.437 30.013-30.013z" fill="#aec0c4"/><g>
              <path d="m274.114 190.458c0-24.723-20.113-44.836-44.837-44.836-24.723 0-44.836 20.114-44.836 44.836 0 24.723 20.113 44.837 44.836 44.837 24.724 0 44.837-20.113 44.837-44.837zm-69.672 0c0-13.695 11.142-24.836 24.836-24.836 13.695 0 24.837 11.142 24.837 24.836 0 13.695-11.142 24.837-24.837 24.837s-24.836-11.141-24.836-24.837z"/>
              <path d="m222.472 309.773h13.612c12.906 0 23.406-10.5 23.406-23.406v-14.358c2.059-.764 4.089-1.606 6.086-2.525l10.156 10.156c9.126 9.125 23.974 9.125 33.102 0l9.625-9.625c9.126-9.126 9.126-23.975 0-33.102l-10.155-10.156c.919-1.998 1.762-4.028 2.524-6.086h14.358c12.906 0 23.406-10.5 23.406-23.406v-13.613c0-12.906-10.5-23.406-23.406-23.406h-14.358c-.764-2.059-1.605-4.089-2.525-6.086l10.156-10.155c9.126-9.126 9.126-23.976 0-33.101l-9.626-9.626c-9.128-9.126-23.977-9.124-33.101 0l-10.155 10.156c-1.998-.919-4.028-1.762-6.087-2.525v-14.359c0-12.906-10.5-23.406-23.406-23.406h-13.612c-12.906 0-23.406 10.5-23.406 23.406v14.358c-2.059.763-4.089 1.606-6.087 2.525l-10.155-10.156c-9.127-9.126-23.975-9.125-33.102 0l-9.625 9.625c-9.126 9.126-9.126 23.975 0 33.102l10.156 10.155c-.92 1.998-1.762 4.028-2.525 6.086h-14.358c-12.906 0-23.406 10.5-23.406 23.406v13.613c0 12.906 10.5 23.406 23.406 23.406h14.358c.763 2.059 1.605 4.089 2.524 6.086l-10.155 10.156c-9.126 9.126-9.126 23.976 0 33.101l9.625 9.626c9.126 9.126 23.976 9.126 33.102 0l10.156-10.156c1.997.919 4.027 1.761 6.086 2.525v14.358c0 12.907 10.5 23.407 23.406 23.407zm-26.435-61.191c-1.555-.891-3.269-1.324-4.971-1.324-2.588 0-5.148 1.003-7.074 2.929l-15.312 15.311c-1.328 1.328-3.488 1.328-4.816 0l-9.625-9.626c-1.328-1.328-1.328-3.489 0-4.817l15.311-15.311c3.192-3.192 3.85-8.127 1.604-12.044-2.827-4.932-5.012-10.197-6.492-15.649-1.183-4.356-5.137-7.379-9.65-7.379h-21.643c-1.878 0-3.406-1.528-3.406-3.406v-13.613c0-1.878 1.528-3.406 3.406-3.406h21.643c4.514 0 8.468-3.023 9.65-7.379 1.48-5.453 3.665-10.718 6.492-15.648 2.246-3.917 1.589-8.853-1.604-12.045l-15.312-15.312c-1.328-1.328-1.328-3.489 0-4.817l9.625-9.625c1.328-1.328 3.488-1.328 4.816 0l15.312 15.311c3.192 3.193 8.13 3.85 12.045 1.604 4.932-2.828 10.197-5.012 15.648-6.492 4.356-1.183 7.38-5.137 7.38-9.651v-21.643c0-1.878 1.528-3.406 3.406-3.406h13.612c1.878 0 3.406 1.528 3.406 3.406v21.643c0 4.514 3.023 8.468 7.38 9.651 5.451 1.48 10.717 3.664 15.648 6.492 3.918 2.244 8.852 1.588 12.045-1.604l15.312-15.311c1.328-1.328 3.488-1.328 4.816 0l9.625 9.626c1.328 1.328 1.328 3.489 0 4.816l-15.312 15.312c-3.192 3.193-3.85 8.129-1.604 12.045 2.827 4.931 5.012 10.195 6.492 15.648 1.183 4.355 5.137 7.379 9.65 7.379h21.643c1.878 0 3.406 1.528 3.406 3.406v13.613c0 1.878-1.528 3.406-3.406 3.406h-21.643c-4.514 0-8.468 3.023-9.65 7.379-1.48 5.452-3.665 10.717-6.492 15.649-2.245 3.917-1.588 8.852 1.604 12.044l15.311 15.311c1.328 1.328 1.328 3.49 0 4.818l-9.624 9.625c-1.328 1.329-3.491 1.329-4.817 0l-15.312-15.311c-3.192-3.192-8.129-3.849-12.045-1.604-4.931 2.827-10.196 5.011-15.649 6.492-4.355 1.183-7.379 5.137-7.379 9.65v21.643c0 1.878-1.528 3.406-3.406 3.406h-13.612c-1.878 0-3.406-1.528-3.406-3.406v-21.643c0-4.514-3.023-8.467-7.379-9.65-5.45-1.482-10.716-3.666-15.647-6.493z"/>
              <path d="m265.377 383.022c-5.189 0-8.99 3.032-10.635 6.566v-25.268c0-5.25-13.293-5.482-13.293 0v55.928c0 3.446 6.809 5.672 11.277 2.829 1.343-.855 2.016-1.796 2.016-2.822v-19.156c0-4.055 2.933-6.414 5.746-6.414 3.425 0 6.175 3.177 6.175 6.414v19.156c0 5.299 13.294 5.614 13.294-.012v-19.211c0-9.033-5.99-18.01-14.58-18.01z"/>
              <path d="m310.06 393.828c2.373 0 3.259-2.818 3.259-5.146 0-2.288-.931-5.146-3.259-5.146h-9.691v-13.059c0-2.619-4.005-3.836-6.689-3.836-2.647 0-6.604 1.342-6.604 3.972v39.465c0 9.522 5.604 14.282 16.81 14.282 2.565-.211 5.801.737 7.891-1.705.972-1.136 1.458-2.511 1.458-4.127 0-3.014-1.918-5.832-5.66-5.832-3.478-.371-7.204 1.244-7.204-3.119v-15.75h9.689z"/>
              <path d="m352.341 391.661c-3.889-11.74-16.581-10.728-21.441-2.073v-1.988c0-2.73-3.082-4.063-5.832-4.063-2.934 0-6.604 1.111-6.604 4.031v32.676c0 2.685 3.72 4.117 6.604 4.117 2.755 0 6.689-1.602 6.689-4.104v-19.156c0-4.269 2.584-6.414 5.403-6.414 2.926 0 5.832 2.308 5.832 6.5v19.156c0 5.355 13.293 5.378 13.293 0v-19.242c0-4.284 2.683-6.499 5.489-6.499 2.923 0 5.746 2.221 5.746 6.499v19.156c0 2.483 3.924 4.104 6.604 4.104 2.926 0 6.689-1.635 6.689-4.117v-19.211c.001-19.187-20.957-24.226-28.472-9.372z"/>
              <path d="m388.96 364.24c.649 59.907-1.478 56.661 1.887 58.876 4.197 2.768 11.407.511 11.407-2.873v-56.003c0-5.288-13.294-5.456-13.294 0z"/>
              <path d="m408.768 259.362h-24.68v-214.468c0-24.755-20.14-44.894-44.893-44.894h-164.843c-16.25 0-32.28 5.59-45.063 15.864l-35.853 28.815c-21.644 17.395-25.313 41.182-25.273 41.082-3.009 14.11-1.051-1.821-1.598 381.346 0 24.754 20.14 44.894 44.894 44.894h227.735c23.035 0 42.065-17.443 44.598-39.813h14.825c25.887 0 46.946-21.06 46.946-46.946v-128.177-.908c.001-20.289-16.506-36.795-36.795-36.795zm0 20c9.262 0 16.796 7.535 16.796 16.796v.908c0 10.479-8.525 19.005-19.005 19.005h-22.471v-36.708h24.68zm-302.803-219.094c35.899-28.525 36.522-30.135 43.66-33.99v31.554c0 11.035-8.978 20.013-20.013 20.013h-37.701c3.332-6.78 8.12-12.808 14.054-17.577zm233.23 431.732h-227.736c-13.727 0-24.894-11.167-24.894-24.894.03-390.963-.076-366.502.085-369.261h42.962c22.063 0 40.013-17.95 40.013-40.013v-37.612c4.428-.41-4.282-.143 169.569-.22 13.727 0 24.894 11.167 24.894 24.894v224.468 46.708h-129.281c-19.243 0-34.898 15.655-34.898 34.898v86.32c0 19.243 15.655 34.898 34.898 34.898h128.76c-2.353 11.299-12.387 19.814-24.372 19.814zm86.369-66.758c0 14.858-12.088 26.946-26.946 26.946h-24.529-139.282c-8.215 0-14.898-6.684-14.898-14.898v-86.32c0-8.215 6.684-14.898 14.898-14.898 177.592 0 178.191 2.09 190.757-4.951z"/><path d="m177.663 343.849h-67.051c-5.522 0-10 4.477-10 10s4.478 10 10 10h67.051c5.522 0 10-4.477 10-10s-4.477-10-10-10z"/>
              <path d="m177.663 385.336h-27.051c-5.522 0-10 4.477-10 10s4.478 10 10 10h27.051c5.522 0 10-4.477 10-10s-4.477-10-10-10z"/><path d="m110.612 405.336h.025c5.522 0 9.987-4.477 9.987-10s-4.49-10-10.013-10-10 4.477-10 10 4.479 10 10.001 10z"/><path d="m177.663 426.824h-67.051c-5.522 0-10 4.477-10 10s4.478 10 10 10h67.051c5.522 0 10-4.477 10-10s-4.477-10-10-10z"/></g></g>
          </svg>
        <h1>Code for 2 hours everyday</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
      <svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g id="XMLID_1140_"><g id="XMLID_1208_"><g id="XMLID_1227_">
          <path id="XMLID_1611_" d="m162.688 372.264 172.184 78.729c10.667 4.877 16.903 16.143 15.373 27.772-2.192 16.661-19.043 27.181-34.974 21.835l-179.494-60.229c-22.231-7.46-31.843-33.583-19.749-53.672 9.619-15.978 29.699-22.189 46.66-14.435z" fill="#8690a6"/>
          <path id="XMLID_1547_" d="m438.967 354.034c-30.129-16.253-52.3-45.186-59.666-79.161l-2.609-12.034c-4.326-19.958-15.464-38.011-31.361-50.832-15.897-12.82-35.899-19.88-56.322-19.88h-66.017c-20.423 0-40.425 7.061-56.322 19.88-15.897 12.82-27.035 30.873-31.361 50.832l-2.609 12.034c-7.365 33.975-29.536 62.908-59.666 79.161-10.33 5.572-15.246 17.683-11.526 28.815 4.735 14.17 21.089 20.555 34.248 13.481 16.932-9.101 32.248-21.108 45.144-35.493 19.223-21.442 32.609-47.651 38.71-75.795l2.609-12.035v108.303l73.781 33.736 73.782-33.736v-108.301l2.609 12.035c6.101 28.144 19.487 54.353 38.71 75.795 12.897 14.385 28.213 26.392 45.144 35.493 13.159 7.073 29.513.688 34.248-13.481 3.72-11.133-1.197-23.245-11.526-28.817z" fill="#91def5"/>
          <path id="XMLID_1492_" d="m256 73.27c-28.719 0-52 23.281-52 52v14.857c0 28.719 23.281 52 52 52 28.719 0 52-23.281 52-52v-14.857c0-28.719-23.281-52-52-52z" fill="#ffbf9e"/>
          <path id="XMLID_1229_" d="m396.225 386.699c12.095 20.09 2.483 46.213-19.749 53.672l-179.493 60.229c-15.931 5.346-32.782-5.175-34.974-21.835-1.53-11.629 4.706-22.894 15.373-27.772l172.184-78.729c16.961-7.754 37.04-1.543 46.659 14.435z" fill="#8690a6"/>
          <path id="XMLID_1649_" d="m295.667 192.127-39.54 67.619-39.54-67.619z" fill="#fff"/></g><circle id="XMLID_1225_" cx="42" cy="198.496" fill="#f6838d" r="32"/><circle id="XMLID_1220_" cx="128" cy="42.001" fill="#d8ec84" r="32"/><circle id="XMLID_1210_" cx="470" cy="198.496" fill="#ffcb7c" r="32"/><circle id="XMLID_1136_" cx="384" cy="42.001" fill="#dff6fc" r="32"/></g><g id="XMLID_839_">
          <path id="XMLID_128_" d="m443.714 345.234c-28.015-15.113-47.931-41.53-54.64-72.479l-2.609-12.033c-4.808-22.184-17.188-42.248-34.857-56.498-14.576-11.755-32.26-19.138-50.747-21.368 10.607-11.131 17.139-26.177 17.139-42.729v-14.857c0-34.187-27.813-62-62-62s-62 27.813-62 62v14.857c0 16.552 6.532 31.597 17.138 42.728-18.487 2.23-36.17 9.614-50.747 21.368-8.034 6.479-15 14.163-20.705 22.841-3.034 4.615-1.752 10.815 2.863 13.849 4.614 3.033 10.814 1.752 13.849-2.863 4.563-6.941 10.131-13.085 16.547-18.259 11.086-8.94 24.422-14.71 38.417-16.787l36.131 61.789c1.793 3.067 5.08 4.952 8.632 4.952s6.839-1.885 8.632-4.952l36.11-61.753c13.911 2.106 27.16 7.862 38.185 16.752 14.125 11.392 24.021 27.432 27.866 45.167l2.609 12.034c7.948 36.665 31.527 67.953 64.691 85.843 6.096 3.289 8.952 10.373 6.79 16.845-1.327 3.971-4.2 7.007-8.089 8.55-3.885 1.54-8.237 1.282-11.94-.708-9.262-4.978-17.931-10.829-25.941-17.482-.011-.01-.023-.019-.035-.029-5.849-4.861-11.347-10.148-16.457-15.848-18.068-20.154-30.648-44.788-36.383-71.238l-2.609-12.035c-1.169-5.398-6.493-8.82-11.892-7.655-4.687 1.017-7.883 5.165-7.879 9.773h-.003v.07.057 101.751l-63.783 29.164-63.781-29.163v-101.753c0-.019 0-.038 0-.057v-.07h-.003c.004-4.608-3.192-8.757-7.879-9.773-5.399-1.169-10.722 2.258-11.892 7.655l-2.609 12.035c-5.734 26.45-18.315 51.084-36.383 71.237-12.116 13.515-26.393 24.738-42.433 33.359-3.702 1.992-8.053 2.249-11.939.708-3.89-1.543-6.762-4.579-8.089-8.55-2.162-6.472.693-13.556 6.79-16.845 18.197-9.816 33.967-24.098 45.605-41.301 3.095-4.574 1.895-10.792-2.679-13.886-4.576-3.096-10.792-1.895-13.886 2.679-9.839 14.544-23.164 26.614-38.535 34.906-14.675 7.916-21.515 25.068-16.263 40.784 3.181 9.521 10.356 17.104 19.685 20.803 4.059 1.61 8.325 2.408 12.581 2.408 5.581 0 11.145-1.373 16.2-4.09.01-.005.02-.011.03-.017-.054 5.58.884 11.197 2.873 16.602 4.912 13.351 15.464 23.603 28.95 28.128l23.802 7.987c-3.564 6.611-5.089 14.33-4.05 22.231 1.436 10.914 7.615 20.518 16.953 26.348 5.914 3.692 12.63 5.581 19.412 5.581 3.927 0 7.877-.634 11.705-1.918l55.838-18.734 55.836 18.735c3.828 1.284 7.777 1.918 11.704 1.918 6.782 0 13.499-1.89 19.412-5.581 9.338-5.83 15.518-15.434 16.954-26.349 1.034-7.858-.461-15.583-4.052-22.229l23.804-7.987c13.486-4.525 24.038-14.777 28.95-28.128 1.989-5.405 2.926-11.021 2.873-16.602.01.005.02.011.03.017 5.055 2.717 10.619 4.09 16.201 4.09 4.256 0 8.522-.799 12.581-2.408 9.329-3.699 16.504-11.281 19.685-20.803 5.251-15.716-1.588-32.868-16.264-40.784zm-187.587-105.299-22.108-37.808h44.216zm41.873-99.808c0 23.152-18.831 41.989-41.981 42h-.039c-23.15-.01-41.981-18.847-41.981-42v-14.857c0-23.159 18.841-42 42-42s42 18.841 42 42v14.857zm41.782 193.38c4.948 9.174 10.701 17.913 17.211 26.097-3.92.669-7.813 1.84-11.586 3.565l-5.625 2.572zm-167.564 0v32.235l-5.626-2.573c-3.772-1.725-7.665-2.896-11.586-3.564 6.51-8.184 12.264-16.924 17.212-26.098zm-33.514 97.384c-7.706-2.586-13.736-8.444-16.543-16.073s-2.012-15.998 2.181-22.961c7-11.63 21.588-16.143 33.934-10.498l73.675 33.687-58.727 26.852c-.238.109-.469.226-.704.339zm201.373 46.569c-.654 4.968-3.466 9.339-7.716 11.992s-9.413 3.26-14.162 1.667l-30.763-10.323 48.769-16.364c3.014 3.554 4.493 8.306 3.872 13.028zm49.761-62.642c-2.807 7.629-8.837 13.487-16.543 16.073l-179.493 60.229c-4.751 1.595-9.913.985-14.163-1.667-4.25-2.654-7.063-7.024-7.716-11.992-.963-7.32 2.902-14.303 9.617-17.373l172.184-78.729c3.586-1.64 7.36-2.422 11.084-2.422 9.094 0 17.883 4.669 22.849 12.919 4.193 6.965 4.988 15.334 2.181 22.962z"/>
          <path id="XMLID_911_" d="m52 239.283c18.345-4.499 32-21.075 32-40.787 0-23.159-18.841-42-42-42s-42 18.841-42 42c0 19.713 13.655 36.288 32 40.787v53.213c0 5.522 4.477 10 10 10s10-4.478 10-10zm-32-40.787c0-12.131 9.869-22 22-22s22 9.869 22 22-9.869 22-22 22-22-9.87-22-22z"/>
          <path id="XMLID_918_" d="m118 82.789v53.213c0 5.523 4.477 10 10 10s10-4.477 10-10v-53.213c18.345-4.499 32-21.075 32-40.787 0-23.159-18.841-42-42-42s-42 18.841-42 42c0 19.712 13.655 36.288 32 40.787zm10-62.788c12.131 0 22 9.869 22 22s-9.869 22-22 22-22-9.869-22-22 9.869-22 22-22z"/><path id="XMLID_927_" d="m512 198.496c0-23.159-18.841-42-42-42s-42 18.841-42 42c0 19.713 13.655 36.288 32 40.787v53.213c0 5.522 4.477 10 10 10s10-4.478 10-10v-53.213c18.345-4.499 32-21.075 32-40.787zm-42 22c-12.131 0-22-9.869-22-22s9.869-22 22-22 22 9.869 22 22-9.869 22-22 22z"/>
          <path id="XMLID_932_" d="m374 82.789v53.213c0 5.523 4.477 10 10 10s10-4.477 10-10v-53.213c18.345-4.499 32-21.075 32-40.787 0-23.159-18.841-42-42-42s-42 18.841-42 42c0 19.712 13.655 36.288 32 40.787zm10-62.788c12.131 0 22 9.869 22 22s-9.869 22-22 22-22-9.869-22-22 9.869-22 22-22z"/><path id="XMLID_933_" d="m125.63 267.801c-1.86 1.86-2.93 4.44-2.93 7.07s1.07 5.21 2.93 7.069c1.86 1.86 4.44 2.931 7.07 2.931s5.21-1.07 7.07-2.931c1.86-1.859 2.93-4.43 2.93-7.069 0-2.63-1.07-5.21-2.93-7.07s-4.44-2.93-7.07-2.93c-2.63.001-5.21 1.07-7.07 2.93z"/></g></g></svg>
        <h1>Recite Quran everyday</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
          <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g id="XMLID_813_"><circle id="XMLID_1829_" cx="256" cy="256" fill="#ffd88e" r="166"/><g id="XMLID_1335_"><path id="XMLID_218_" d="m256 431.917c-45.07 0-90.14-17.156-124.451-51.466-27.743-27.744-45.062-62.926-50.086-101.744-4.864-37.588 2.667-76.368 21.205-109.195 2.715-4.808 8.816-6.506 13.625-3.79s6.506 8.816 3.79 13.625c-34.288 60.714-23.757 137.596 25.608 186.962 30.409 30.408 70.366 45.614 110.309 45.618 39.953.004 79.893-15.202 110.309-45.618 60.824-60.824 60.824-159.793 0-220.618-49.365-49.365-126.247-59.896-186.962-25.608-4.81 2.715-10.91 1.019-13.625-3.79-2.716-4.809-1.019-10.909 3.79-13.625 32.828-18.54 71.607-26.07 109.195-21.205 38.818 5.023 74 22.343 101.744 50.086 68.622 68.623 68.622 180.28 0 248.902-34.311 34.311-79.381 51.466-124.451 51.466z"/></g><g id="XMLID_1455_"><path id="XMLID_217_" d="m256 342.28c-14.34 0-28.681-5.458-39.598-16.375-3.905-3.905-3.905-10.237 0-14.143 3.905-3.905 10.237-3.905 14.143 0 14.036 14.037 36.875 14.037 50.911 0 3.905-3.905 10.237-3.905 14.143 0 3.905 3.905 3.905 10.237 0 14.143-10.918 10.917-25.259 16.375-39.599 16.375z"/></g><g id="XMLID_1456_"><path id="XMLID_216_" d="m204.152 243.63c-2.559 0-5.119-.976-7.071-2.929-6.086-6.087-15.988-6.087-22.074 0-3.905 3.905-10.237 3.905-14.143 0-3.905-3.905-3.905-10.237 0-14.143 13.885-13.884 36.475-13.884 50.359 0 3.905 3.905 3.905 10.237 0 14.143-1.952 1.953-4.512 2.929-7.071 2.929z"/></g><g id="XMLID_1458_"><path id="XMLID_215_" d="m344.064 243.63c-2.559 0-5.119-.976-7.071-2.929-6.086-6.087-15.988-6.087-22.074 0-3.905 3.905-10.237 3.905-14.143 0-3.905-3.905-3.905-10.237 0-14.143 13.885-13.884 36.475-13.884 50.359 0 3.905 3.905 3.905 10.237 0 14.143-1.952 1.953-4.511 2.929-7.071 2.929z"/></g><g id="XMLID_1460_"><path id="XMLID_214_" d="m256 60c-5.523 0-10-4.477-10-10v-40c0-5.523 4.477-10 10-10s10 4.477 10 10v40c0 5.523-4.477 10-10 10z"/></g><g id="XMLID_1525_"><path id="XMLID_213_" d="m406.207 115.793c-2.559 0-5.119-.976-7.071-2.929-3.905-3.905-3.905-10.237 0-14.143l52.254-52.254c3.905-3.905 10.237-3.905 14.143 0 3.905 3.905 3.905 10.237 0 14.143l-52.254 52.254c-1.953 1.953-4.513 2.929-7.072 2.929z"/></g><g id="XMLID_1801_"><path id="XMLID_212_" d="m105.793 115.793c-2.559 0-5.119-.976-7.071-2.929l-52.254-52.254c-3.905-3.905-3.905-10.237 0-14.143 3.905-3.905 10.237-3.905 14.143 0l52.254 52.254c3.905 3.905 3.905 10.237 0 14.143-1.953 1.953-4.513 2.929-7.072 2.929z"/></g><g id="XMLID_1803_"><path id="XMLID_211_" d="m458.461 468.461c-2.559 0-5.119-.976-7.071-2.929l-52.254-52.254c-3.905-3.905-3.905-10.237 0-14.143 3.905-3.905 10.237-3.905 14.143 0l52.254 52.254c3.905 3.905 3.905 10.237 0 14.143-1.953 1.953-4.513 2.929-7.072 2.929z"/></g><g id="XMLID_1802_"><path id="XMLID_210_" d="m53.539 468.461c-2.559 0-5.119-.976-7.071-2.929-3.905-3.905-3.905-10.237 0-14.143l52.254-52.254c3.905-3.905 10.237-3.905 14.143 0 3.905 3.905 3.905 10.237 0 14.143l-52.255 52.254c-1.952 1.953-4.512 2.929-7.071 2.929z"/></g><g id="XMLID_1459_"><path id="XMLID_209_" d="m256 512c-5.523 0-10-4.477-10-10v-40c0-5.523 4.477-10 10-10s10 4.477 10 10v40c0 5.523-4.477 10-10 10z"/></g><g id="XMLID_1524_"><path id="XMLID_208_" d="m502 266h-40c-5.523 0-10-4.477-10-10s4.477-10 10-10h40c5.523 0 10 4.477 10 10s-4.477 10-10 10z"/></g><g id="XMLID_1523_"><path id="XMLID_207_" d="m50 266h-40c-5.523 0-10-4.477-10-10s4.477-10 10-10h40c5.523 0 10 4.477 10 10s-4.477 10-10 10z"/></g><g id="XMLID_1336_"><path id="XMLID_206_" d="m138.62 148.62c-2.63 0-5.21-1.07-7.07-2.93s-2.93-4.44-2.93-7.07 1.07-5.21 2.93-7.07 4.44-2.93 7.07-2.93 5.21 1.07 7.07 2.93 2.93 4.44 2.93 7.07-1.07 5.21-2.93 7.07-4.44 2.93-7.07 2.93z"/></g></g></svg>
        <h1>Control my anger</h1>
        <small class="badge">5.0 USD</small>
      </div>
    </div>

  </div>

  <style media="screen">
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      font-weight: bold;
      flex-direction: column;
    }
  </style>

  <div class="overlay d-none">
    <p></p>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>

  <script type="text/javascript">

    console.log('{{data.sessionExists}} < Session Exists ?');

    let startChallenge = function() {
        if ({{data.sessionExists}} == true) return window.location.assign('/challenge/auth/page/openChallenge/cardName');
        return window.location.assign('/challenge/gen/page/signin/n?nextPage=openChallenge&nextPageInput=cardName');
    };
  
    $('.card').on('click', startChallenge);

  </script>

</body>

</html>
