<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p> New Project Created Successfully! Here are important credentials.  </p>
    <p><bold>Name:</bold></p>
    <p><bold>Email:</bold></p>
    <p><bold>Password:</bold></p>
    <p><bold>Project Public Page:</bold></p>
    <p><bold>Project Dashboard</bold></p>
    <p><button>Delete the Project</button></p>
</body>
</html>
