<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

    .container {
        max-width: 600px;
        margin: auto;
    }

    .editor-box {
        width: 100%;
    }

    .editor-box > .post {
        max-width: 600px;
        margin: auto;
    }
    
    .editor-box [contenteditable]:focus-visible {
        outline-color: transparent;
    }

    .controls, .inline-controls {
        display: flex;
        align-items: center;
        width: 100%;
        margin: auto;
        justify-content: center;
    }

    .controls > p, .inline-controls > p {
        padding: 10px;
        line-height: 1.0;
        background: whitesmoke;
        margin: 0 2px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .popover {
        z-index: 2;
        background: white;
        position: absolute;
        max-width: fit-content;
        font-size: 12px;
        padding: 10px;
        border-radius: 4px;
        font-weight: bold;
        line-height: 1.4;
        box-shadow: 0px 1px 4px lightgrey;
    }

    .popover > div {
        display: flex;
    }

    .popover > div > p {
        display: inline-block;
        padding: 5px;
        border: 1px solid whitesmoke;
        line-height: 1;
        margin: 0px;
    }

    .screen {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 1;
    }

    .d-none {
        display: none;
    }


    </style>
</head>
<body>
    <nav>Back</nav>
    <div class="container">

        <div class="controls">
            <p data-content="H1">H1</p>
            <p data-content="H3">H3</p>
            <p data-content="P">P</p>
            <p data-content="">Img + Link</p> <!-- Add Image + Add Link when clicked upon + Add caption -->
            <p data-content="UL">Bullets</p>
            <p data-content="OL">Numbered</p>
            <p data-content="HR">Separator</p>
        </div>

    </div>

    <div class="editor-box">
        <div class="post" data-id="{{data.output._id}}"></div>
    </div>

    <div class="popover d-none"></div>
    <div class="screen d-none" onclick="$(this).addClass('d-none')"></div>

    <script src="https://kit.fontawesome.com/ae3de8bee6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

        ( $(document).ready( ()=> {

            let activeElem, 
                activeColor, 
                stringTable = [];

            // what happens after an event & modules
            let myFuncs = {

                clickTopButtons: function(e) {
                    let newTag = myFuncs.createTag(e.currentTarget);
                    myFuncs.createCharTable(newTag);
                }, 

                clickTagInPost: function(e) {
                    console.log(e.currentTarget);
                    $(e.currentTarget).siblings().removeClass("active");
                    $(e.currentTarget).addClass("active");
                },

                saveDraftEmail: function(elem) {

                    let _id = $("post").attr("data-id");
                    let data = {
                        body: $("post").html()
                    };

                    console.log("saving post...");

                    $.ajax({
                        url: /`{{data.brand}}/gen/page/saveDraftEmail/${_id}`,
                        data: data, 
                        method: "POST",
                        success: val => console.log(val),
                    }).fail( err => console.log(err) );

                }, 

                mouseUpKeyUpEditorBox: function(e) {

                    var text, span;

                    myFuncs.saveDraftEmail(e.target);

                    // TODO: if this is enter press > create a new similar item in the next row and place all text after it inside next element > delete this text from current element
                    
                    if (window.getSelection) {
                        text = window.getSelection().toString();
                    } else if (document.selection && document.selection.type != "Control") {
                        text = document.selection.createRange().text;
                    }

                    if (text.length === 0) {
                        return;
                    } 

                    $(".popover").addClass("d-none");

                    if ( !([37,38,39,40].some(v => v == e.keyCode)) ) {
                        console.log("selection ended");
                        span = myFuncs.selectHTML();
                        myFuncs.showPopover( span );
                    };

                }, 

                clickScreen: function() {
                    $(activeElem).css({ "background-color": activeColor });

                    if ( $("temp").length > 0 ) {
                        while ( $("temp").get().length > 0 ) {
                            $("temp").get().forEach( el => {
                                // console.log( $("temp").html() );
                                $(el).replaceWith( $(el).html() );
                            });
                        };
                    };
                    $(".popover, .screen").addClass("d-none");
                },

                clickPopoverButtons: function(e) {
                    switch (true) {
                        case $(e.target).attr("data-content") == "bold":
                            myFuncs.replaceTag("STRONG", activeElem);
                            return;
                        case $(e.target).attr("data-content") == "underline":
                            myFuncs.replaceTag("U", activeElem);
                            return;
                    };
                }, 

                tagDeclaration: function(elem) {

                    switch (true) {

                        case ( $(elem).attr("data-content") == "H1" ):
                            return `<h1 contenteditable=true>type here</h1>`;
                            break;

                        case ( $(elem).attr("data-content") == "H3" ):
                            return `<h3 contenteditable=true>type here</h3>`;
                            break;

                        case ( $(elem).attr("data-content") == "P" ):
                            // return `<p contenteditable=true>ty<strong>pe <u>h<i>e</i></u></strong>re. <strong>now</strong> please.</p>`;
                            // return `<p contenteditable=true>ty<strong>pe. here</strong>`;
                            return `<p contenteditable=true>type here</p>`;
                            break;

                        case ( $(elem).attr("data-content") == "UL" ):
                            return {
                                full: `<ul><li contenteditable=true>type here</li></ul>`,
                                short: `<li contenteditable=true>type here</li>`,
                            }
                            break;

                        case ( $(elem).attr("data-content") == "OL" ):
                            return {
                                full: `<ol><li contenteditable=true>type here</li></ol>`,
                                short: `<li contenteditable=true>type here</li>`,
                            }
                            break;

                        case ( $(elem).attr("data-content") == "HR" ):
                            return `<hr>`;
                            break;
                    };

                },

                // when you click the button on the top
                createTag: function(elem) {

                    let tag = this.tagDeclaration(elem);
                    let type = $(elem).attr("data-content");
                    let newTag;

                    if ($('.post > .active').length > 0) {

                        if (type != "UL" && type != "OL") {
                            newTag = $(tag).insertAfter('.post > .active');
                        } else if (type == "UL" && $(".post > ul.active").length > 0) {
                            newTag = $(".post > ul.active").append(tag.short);
                        } else if (type == "OL" && $(".post > ol.active").length > 0) {
                            newTag = $(".post > ol.active").append(tag.short);
                        } else {
                            newTag = $(tag.full).insertAfter('.post > .active');
                        };

                    } else {
                        $('.post').append(tag.full || tag);
                        newTag = $(".post > *:eq(-1)");
                    };

                    $(newTag).siblings().removeClass("active");
                    console.log(newTag);
                    $(newTag).addClass("active");

                    return newTag;

                },

                addClass: function(elem, className) {
                    $(elem).siblings().removeClass(className);
                    $(elem).addClass(className);
                },

                selectHTML: function() {
                    var range = window.getSelection().getRangeAt(0);
                    let select = document.createElement("temp");
                    select.style.backgroundColor = "yellow";
                    activeColor = select.style.backgroundColor || "";
                    select.appendChild(range.extractContents());
                    range.insertNode(select);
                    return select;
                },

                showPopover: function(elem) {
                  let data = `
                  <div>
                      <p data-content='bold'>Bold</p>
                      <p data-content='underline'>Underline</p>
                      <p data-content='align_center'>Align Center</p>
                      <p data-content='link'>Link</p>
                  </div>
                  `;
                  activeElem = elem;
                  $('.popover').html(data);
                  $('.popover, .screen').removeClass('d-none');

                  if ( $('.popover').hasClass("d-none") ) return console.log("popover disappeared");

                  let posn = {
                    left: $(elem).offset().left,
                    top: $(elem).offset().top,
                    right: $(elem).offset().right,
                    bottom: $(elem).offset().bottom
                  };

                  if ((posn.left + $('.popover').width()/2) > $(window).width()) {
                    return $('.popover').css({
                      left: "auto",
                      right: 5,
                      top: posn.top - $('.popover').height() - $(elem).height() - 20,
                    });
                  }

                  if ((posn.left < $('.popover').width()/2)) { // >
                    return $('.popover').css({
                      left: posn.left,
                      top: posn.top - $('.popover').height() - $(elem).height() - 20,
                    });
                  }

                  $('.popover').css({
                    left: posn.left - ($('.popover').width()/2),
                    top: posn.top - $('.popover').height() - $(elem).height() - 20,
                  });

                },

                replaceTag: function(tag, elem) {
                    let combinedArr = this.createCharTable( $("temp").closest("li, .active") );
                    let matrixMatch = this.matrixMatch(combinedArr, tag);
                    let buildNewTag = this.buildNewTag(combinedArr, tag, matrixMatch);
                    return true;
                }, 

                createCharTable: function(elem) {

                    let text, id, html, index, currentTable, arr = [];

                    if ( (/UL|OL/g).test( $(elem).prop("tagName") ) ) {
                        elem = $(elem).find("*:eq(-1)");
                    } else {
                        elem = $(elem);
                    }

                    text = $(elem).text();

                    let getInnerContent = function(elem_temp) {
                        $(elem_temp).contents().get().forEach( (val, index) => {
                            if ( val.nodeType == 1 ) {
                                return getInnerContent(val);
                            };
                            $(val).text().split("").forEach( t => {
                                arr.push({
                                    t: t,
                                    style: $(val).parentsUntil(elem).get().map( val => $(val).prop("tagName") )
                                });
                            });
                        });
                        return true;
                    };

                    getInnerContent(elem);

                    return arr;

                },

                matrixMatch: function(arr, tagName) {
                    let showVal = (arr) => arr.forEach( val => console.log( val.t, val.style ) );
                    let match = arr.filter( val => {
                        let index = val.style.findIndex( temp => temp == "TEMP" );
                        return index > -1 ;
                    });
                    let checkExactMatch = match.every( val => {
                        let indexOne = val.style.findIndex( temp => temp == "TEMP" );
                        let indexTwo = val.style.findIndex( tag => tag == tagName );
                        return indexOne > -1 && indexTwo > -1;
                    });
                    return checkExactMatch;
                },

                buildNewTag: function(arr, tagName, remove) {

                    let showVal = (arr) => arr.forEach( val => console.log( val.t, val.style ) );

                    let newArr = arr.map( val => {
                        let indexOne = val.style.findIndex( temp => temp == "TEMP" );
                        let indexTwo = val.style.findIndex( tag => tag == tagName );
                        if ( indexOne > -1 && indexTwo > -1 ) {
                            if (remove) {
                                val.style.splice( indexTwo, 1 );
                            }
                            return val
                        } else if ( indexOne > -1 ) {
                            val.style.push( tagName );
                            return val;
                        };
                        return val;
                    });

                    // initialize to <strong><u> if first elem has [strong, u]
                    let startATag = function(styleArr) {
                        let output = styleArr.reduce( (total, val, index) => {
                            switch (true) {
                                case (val == "DIV"):
                                    total += "<div>";
                                    break;
                                case (val == "STRONG"):
                                    total += "<strong>";
                                    break;
                                case (val == "U"):
                                    total += "<u>";
                                    break;
                                case (val == "I"):
                                    total += "<i>";
                                    break;
                                case (val == "TEMP"):
                                    total += "<temp style='background-color: yellow'>";
                                    break;
                                default:
                                    return total;
                            }
                            return total;
                        }, "");
                        return output;
                    };

                    let closeATag = function(styleArr) {
                        let output = styleArr.reduce( (total, val, index) => {
                            switch (true) {
                                case (val == "DIV"):
                                    total += "</div>";
                                    break;
                                case (val == "STRONG"):
                                    total += "</strong>";
                                    break;
                                case (val == "U"):
                                    total += "</u>";
                                    break;
                                case (val == "I"):
                                    total += "</i>";
                                    break;
                                case (val == "TEMP"):
                                    total += "</temp>";
                                    break;
                                default:
                                    return total;
                            }
                            return total;
                        }, "");
                        return output;
                    };
                    // </u></strong>
                    let matchTwoArrays = function(arr1, arr2) {
                        return arr1.every( val => {
                            let index = arr2.findIndex( v => v == val );
                            return index > -1;
                        })
                    }

                    // what is in array 1 that is not in array 2 | [string, u] , [string, u, temp] => temp is new
                    let findDifferenceInArrays = function( src, dest ) {
                        let temp_arr = {
                            close: [],
                            open: []
                        };
                        src.forEach( val => {
                            let index = dest.findIndex( v => v === val );
                            if (index === -1) {
                                temp_arr.close.push(val);
                            };
                        });
                        dest.forEach( val => {
                            let index = src.findIndex( v => v === val );
                            if (index === -1) {
                                temp_arr.open.unshift(val);
                            };
                        });
                        return temp_arr;
                    }

                    let removeDuplicateTemps = function(temp_arr) {
                        return temp_arr.map( val => {
                            return {
                                t: val.t, 
                                style: [...new Set(val.style)]
                            }
                        });
                    };

                    newArr = removeDuplicateTemps(newArr);
                    showVal(newArr);
                    let currentTag = startATag(arr[0].style) ;

                    let newTag = newArr.reduce((total, val, index)  => {

                        let nextArrStyle = newArr[index + 1] === undefined ? [] : newArr[index + 1].style;

                        let diff = findDifferenceInArrays( val.style, nextArrStyle );

                        if (diff.open.length === 0 && diff.close.length === 0) return total += val.t;

                        let tempString = "";
                        tempString += val.t;
                        tempString += closeATag( diff.close );
                        tempString += startATag( diff.open );

                        total += tempString;
                        return total;


                    }, currentTag);

                    $("temp").closest("li, .active").html(newTag);


                },

            };

            // events
            $(document).on('click', '.controls > p', myFuncs.clickTopButtons);
            $(document).on('click', '.post > *', myFuncs.clickTagInPost) 
            $(document).on('mouseup keyup', '.editor-box', myFuncs.mouseUpKeyUpEditorBox);
            $(document).on('click', '.screen', myFuncs.clickScreen);
            $(document).on('click', '.popover > div > p', myFuncs.clickPopoverButtons);

        }));

    </script>
</body>
</html>
