<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
.controls, .inline-controls {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.controls > p, .inline-controls > p {
    padding: 10px;
    line-height: 1.0;
    background: whitesmoke;
    margin: 0 2px;
    font-weight: bold;
    margin-bottom: 10px;
}

    </style>
</head>
<body>
    <nav>Back</nav>
    <div class="container">

        <div class="controls">
            <p data-content="H1">H1</p>
            <p data-content="H3">H3</p>
            <p data-content="P">P</p>
            <p data-content="">Attachment</p>
            <p data-content="UL">Bullets</p>
            <p data-content="OL">Numbered</p>
            <p data-content="HR">Separator</p>
        </div>

        <div class="inline-controls">
            <p data-content=''>Bold</p>
            <p data-content=''>Underline</p>
            <p data-content=''>Align Center</p>
            <p data-content=''>Align Left</p>
            <p data-content=''>Link</p>
        </div>

        <div class="post">

        </div>

    </div>
    <script src="https://kit.fontawesome.com/ae3de8bee6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

        ( $(document).ready( ()=> {

            $('.controls > p').on('click', function(e) {
                myFuncs.createTag(e.target);
            });

            $(document).on('click', '.post > *', function(e) {
                console.log("clicked ————");
                console.log(e.target);
                if ( $(e.target).prop("tagName") == "LI" ) {
                    $(e.target).parent().siblings().removeClass("active");
                    $(e.target).parent().addClass("active");
                } else {
                    $(e.target).siblings().removeClass("active");
                    $(e.target).addClass("active");
                }
            });


            const myFuncs = {

                tagDeclaration: function(elem) {

                    switch (true) {

                        case ( $(elem).attr("data-content") == "H1" ): 
                            return `<h1 contenteditable=true>type here</h1>`;
                            break;

                        case ( $(elem).attr("data-content") == "H3" ): 
                            return `<h3 contenteditable=true>type here</h3>`;
                            break;

                        case ( $(elem).attr("data-content") == "P" ): 
                            return `<p contenteditable=true>type here</p>`;
                            break;

                        case ( $(elem).attr("data-content") == "UL" ): 
                            return {
                                full: `<ul><li contenteditable=true>type here</li></ul>`,
                                short: `<li contenteditable=true>type here</li>`,
                            }
                            break;

                        case ( $(elem).attr("data-content") == "OL" ): 
                            return {
                                full: `<ol><li contenteditable=true>type here</li></ol>`,
                                short: `<li contenteditable=true>type here</li>`,
                            }
                            break;

                        case ( $(elem).attr("data-content") == "HR" ): 
                            return `<hr>`;
                            break;
                    };

                }, 

                // when you click the button on the top
                createTag: function(elem) {

                    let tag = this.tagDeclaration(elem); 
                    let type = $(elem).attr("data-content");
                    let newTag;

                    if ($('.post > .active').length > 0) {

                        if (type != "UL" && type != "OL") {
                            newTag = $(tag).insertAfter('.post > .active');
                        } else if (type == "UL" && $(".post > ul.active").length > 0) {
                            newTag = $(".post > ul.active").append(tag.short);
                        } else if (type == "OL" && $(".post > ol.active").length > 0) {
                            newTag = $(".post > ol.active").append(tag.short);
                        } else {
                            newTag = $(tag.full).insertAfter('.post > .active');
                        };

                    } else {
                        newTag = $('.post').append(tag.full || tag);
                    };

                    if ( $(newTag).prop("tagName") == "LI" ) {
                        $(newTag).parent().siblings().removeClass("active");
                        $(newTag).parent().addClass("active");
                    } else {
                        $(newTag).siblings().removeClass("active");
                        $(newTag).addClass("active");
                    }

                }, 

                addClass: function(elem, className) {
                    $(elem).siblings().removeClass(className);
                    $(elem).addClass(className);
                }

            };

        }));

    </script>
</body>
</html>
