<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    This is an empty File. Here do everything. When ready — edit inside the editWeb.hbs.
</body>
</html>
