<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Create Website</title>
<style>

    body {
        font-family: "Roboto";
        padding: 0px 10px;
    }

</style>
</head>
<body>

    <div class="layerOne">

        <h3>Select a template</h3>

        <div class="card">

            <h3>Real Estate</h3>
            <p>Show your listings to your clients and let them contact you on WhatsApp.</p>
        
        </div>

        <div class="card">

            <h3>Landing Page</h3>
            <p>A basic business Landing page that is enough to validate your brand and allow customers to reach you.</p>
        
        </div>

        <div class="card">

            <h3>A Simple Shop</h3>
            <p>List your products and allow customers to buy directly from your website.</p>
        
        </div>

    </div>

</body>
</html>
