<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {{> root/shipEmailCss}}
</head>
<body>
    {{> root/shipEmailNav active="log"}}
    <div class="container">
        <p>This is log email</p>
    </div>
</body>
</html>
