<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Apps</title>

    <style>
    
    body {
        font-family: roboto;
        color: black;
        background: black;
    }

    .container {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        padding: 20px 20px 29px 20px;
        background: white;
        border: 2px solid white;
        border-radius: 5px;
        margin-top: 10vh;
    }
    

    .container > h2 {
        font-size: 20px;
    }

    .container > table {
        border-collapse: collapse;
    }

    th {
        background: darkcyan;
        color: white;
    }

    th, td {
        padding: 10px;
        border: 2px solid black;
        text-align: center;
    }


    a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        color: darkcyan;
    }

    </style>
</head>
<body>
    <div class="container">
        <h2>My Apps</h2>
        <table>
            <tr>
                <th>Landing Page</th>
                <th>Admin</th>
            </tr>
            {{#each apps}}
            <tr>
                <td>
                    <a href="/{{url}}">{{camelToWord name}}</a> 
                </td>
                <td>
                    <a href="/{{url}}/gen/page/signin/n">Dashboard</a>
                </td>
            </tr>
            {{/each}}
        </table>
        <ul>
        </ul>

    </div>
</body>
</html>
