<html>

<head>

    <title>Show Collections</title>

<style type="text/css">

    .container {
        max-width: 800px;
        display: flex;
        }

    .sidebar {
        width: 25%;
        background: lightgrey;
        padding: 10px;
        margin-right: 10px;
        border-radius: 1px;
    }

    .tables {
        width: 75%;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }

    .td,th {
        border: 1px solid grey;
    }

</style>
</head>

<body>

    <nav>navbar</nav>
    <div class="container">

        <div class="sidebar">
            {{#each data.navRows}}
                <p><a href="/root/admin/page/showCollection/{{this}}">{{this}}</a></p>
            {{/each}}
        </div>

        <div class="tables">
            <table>
                <tbody>

                    <tr>
                        {{#each data.th}}
                            <th>{{this}}</th>
                        {{/each}}
                    </tr> 

                    {{#each data.dataRows}}
                    <tr>
                        {{#each this}}
                            <td>{{this}}</td>
                        {{/each}}
                    </tr>
                    {{/each}}

                </tbody>
            </table> 
        </div>

    </div>

    <script>
    </script>
</body>

</html>
