
                    <!-- /.container -->
                    <footer class="site-footer">
                        <div class="top-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-12 contact-info footer-widget">
                                        <h4 class="footer-widget-title">Contact Info</h4>
                                        <p>Contact us for more information.</p>
                                        <ul>
<li><a href="skype:+46767059534?action">+46 767059534</a></li>
<li><a href="mailto:dedicatedparents2018@gmail.com">dedicatedparents2018@gmail.com</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-3 -->
                                    <div class="col-md-5 col-sm-8 col-xs-12 footer-widget">
                                        <h4 class="footer-widget-title">Stay in touch with us</h4>
                                        <ul class="footer-social">
        <li><a href="https://www.facebook.com/dedicatedparents2018"       data-toggle="tooltip" title="Facebook" class="fa fa-facebook"></a></li>
        <li><a href="https://twitter.com/Dedicatedparen1"                 data-toggle="tooltip" title="Twitter" class="fa fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/company/dedicated-parents/" data-toggle="tooltip" title="Linkedin" class="fa fa-linkedin"></a></li>
        <li><a href="https://www.instagram.com/dedicatedparents/"         data-toggle="tooltip" title="Instagram" class="fa fa-instagram"></a></li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-5 -->
                                    <div class="col-md-4 col-sm-12 col-xs-12 footer-widget">
                                        <h4 class="footer-widget-title">More about US</h4>
                                        <p>Curabitur a orci et nulla gravida laoreet. Pellentesque dictum ipsum nec placerat dignissim. Vivamus porta pellentesque libero, sit amet non.</p>
                                    </div>
                                    <!-- /.col-md-4 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.top-footer -->
                        <div class="main-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 footer-widget">
                                        <h4 class="footer-widget-title">Text Widget</h4>
                                        <p>Curabitur a orci et nulla gravida laoreet. Pellentesque dictum ipsum nec placerat dignissim. Vivamus porta pellentesque libeadro, sit amet non.</p>
                                    </div>
                                    <!-- /.col-md-3 -->
                                    <div class="col-md-3 col-sm-6 footer-widget">
                                        <h4 class="footer-widget-title">Popular Posts</h4>
                                        <ul>
                                            <li><a href="blog-single.html">The Importance of an MOU</a></li>
                                            <li><a href="blog-single.html">Detecting and learning from failure</a></li>
                                            <li><a href="blog-single.html">Limited Support on Memorial Day</a></li>
                                            <li><a href="blog-single.html">Fundraising Reading Round-Up</a></li>
                                            <li><a href="blog-single.html">Ugly Design or Beautiful Design?</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-3 -->
                                    <div class="col-md-2 col-sm-6 footer-widget">
                                        <h4 class="footer-widget-title">Useful Links</h4>
                                        <ul>
                                            <li><a href="staff-sidebar.html">Meet the Team</a></li>
                                            <li><a href="blog-grid.html">Read Our Blog</a></li>
                                            <li><a href="#">Partnerships</a></li>
                                            <li><a href="#">Developer Tools</a></li>
                                            <li><a href="/dedicated_parents/gen/page/signin/n">Sign in</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-2 -->
                                </div>
                                <!-- /.row -->
                                <div class="copyright">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <p class="small-text">Copyright 2023 &copy;. Dedicated Parents.</p>
                                        </div>
                                        <!-- /.col-md-6 -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="credits">
                                                <p class="small-text">Built with <i class="fa fa-heart"></i> by 
                                                <a href="/dedicated_parents/gen/page/d_pstaff/qasim-ali-tech">Qasim</a>
                                                and
                                                <a href="/dedicated_parents/gen/page/d_pstaff/ayesha-malik-program-manager-dedicated-parents">Ayesha</a>
                                            </div>
                                        </div>
                                        <!-- /.col-md-6 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.copyright -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.main-footer -->
                    </footer>
                    <!-- /.site-footer -->
                    <script src="/dedicated_parents/js/bootstrap.min.js"></script>
                    <script src="/dedicated_parents/js/min/plugins.min.js"></script>
                    <script src="/dedicated_parents/js/min/custom.min.js"></script>
                    <script src="/dedicated_parents/js/dedicated_parents.js"></script>
