
                    <div class="responsive-menu visible-sm visible-xs">
                        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                        <div class="menu-open">
                            <nav>
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li>
                                        <a href="#">Events</a>
                                        <ul>
                                            <li><a href="events-list.html">Events List</a></li>
                                            <li><a href="event-detail.html">Event Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Our Staff</a>
                                        <ul>
                                            <li><a href="staff-3-columns.html">Staff 3 Columns</a></li>
                                            <li><a href="staff-sidebar.html">Staff W/ Sidebar</a></li>
                                            <li><a href="staff-detail.html">Member Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Causes</a>
                                        <ul>
                                            <li><a href="causes-3-columns.html">Causes 3 Columns</a></li>
                                            <li><a href="causes-4-columns.html">Causes 4 Columns</a></li>
                                            <li><a href="causes-sidebar.html">Causes W/ Sidebar</a></li>
                                            <li><a href="cause-detail.html">Cause Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-list.html">Blog List</a></li>
                                            <li><a href="blog-single.html">Post Single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="shortcodes.html">Shortcodes</a></li>
                                            <li><a href="columns.html">Columns</a></li>
                                            <li><a href="archives.html">Archives</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.menu-open -->
                    </div>
                    <!-- /.responsive-menu -->
                    <header class="site-header">
                        <div class="top-header">
                            <div class="container">
                                <div class="inner-top">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 header-info-left">
                                            <ul>
                                                <li><a href=""><i class="fa fa-phone"></i>+46 767059534</a></li>
                                                <li>
                                                    <a href="mailto:dedicatedparents2018@gmail.com">
                                                        <i class="fa fa-envelope-o"></i>dedicatedparents2018@gmail.com
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.col-md-6 -->
                                        <!--
                                        <div class="col-md-6 col-sm-6 col-xs-12 header-info-right visible-md visible-lg">
                                            <ul>
                                                <li><a href="#">English</a></li>
                                                <li><a href="#">French</a></li>
                                                <li><a href="#">Spanish</a></li>
                                                <li><a href="#">Deutsch</a></li>
                                            </ul>
                                        </div>
                                        -->
                                        <!-- /.col-md-6 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.top-header -->
                        <div class="container">
                            <div class="main-header">
                                <div class="row">
                                    <div class="col-md-4 col-sm-5 logo">
                                        <a href="index.html"><img src="images/logo.png" alt=""></a>
                                    </div>
                                    <!-- /this -->
                                    <div class="col-md-8 col-sm-7 main-header-right">
                                        <div class="social-search">
                                            <div class="search-form">
                                                <form method="get" name="SearchForm">
                                                    <fieldset>
                                                        <input type="text" name="s" id="s" placeholder="Search Here...">
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <!-- /.search-form -->
                                            <div class="social-icon-top">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" title="Facebook" class="fa fa-facebook"></a></li>
                                                    <li><a href="#" data-toggle="tooltip" title="Twitter" class="fa fa-twitter"></a></li>
                                                    <li><a href="#" data-toggle="tooltip" title="Linkedin" class="fa fa-linkedin"></a></li>
                                                    <li><a href="#" data-toggle="tooltip" title="Flickr" class="fa fa-flickr"></a></li>
                                                    <li><a href="#" data-toggle="tooltip" title="RSS" class="fa fa-rss"></a></li>
                                                </ul>
                                            </div>
                                            <!-- /.social-icon-top -->
                                        </div>
                                        <!-- /.social-search -->
                                    </div>
                                    <!-- /.col-md-8 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.main-header -->
                        </div>
                        <!-- /.container -->
                        <div class="menu-wrapper visible-md visible-lg">
                            <div class="container">
                                <div class="inner-menu">
                                    <div class="row">
                                        <div class="col-md-10 main-menu">
                                            <nav>
                                                <ul class="sf-menu">
                                                    <li class="active"><a href="index.html">Home</a></li>
                                                    <li>
                                                        <a href="#">Events</a>
                                                        <ul>
                                                            <li><a href="events-list.html">Events List</a></li>
                                                            <li><a href="event-detail.html">Event Detail</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Our Staff</a>
                                                        <ul>
                                                            <li><a href="staff-3-columns.html">Staff 3 Columns</a></li>
                                                            <li><a href="staff-sidebar.html">Staff W/ Sidebar</a></li>
                                                            <li><a href="staff-detail.html">Member Detail</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Causes</a>
                                                        <ul>
                                                            <li><a href="causes-3-columns.html">Causes 3 Columns</a></li>
                                                            <li><a href="causes-4-columns.html">Causes 4 Columns</a></li>
                                                            <li><a href="causes-sidebar.html">Causes W/ Sidebar</a></li>
                                                            <li><a href="cause-detail.html">Cause Detail</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blog</a>
                                                        <ul>
                                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                                            <li><a href="blog-list.html">Blog List</a></li>
                                                            <li><a href="blog-single.html">Post Single</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Pages</a>
                                                        <ul>
                                                            <li><a href="shortcodes.html">Shortcodes</a></li>
                                                            <li><a href="columns.html">Columns</a></li>
                                                            <li><a href="archives.html">Archives</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- /.main-menu -->
                                        <div class="col-md-2 button-holder">
                                        </div>
                                        <!-- /.col-md-2 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.inner-menu -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.menu-wrapper -->
                    </header>
                    <!-- /.site-header -->
