
                    <div class="responsive-menu visible-sm visible-xs">
                        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                        <div class="menu-open">
                            <nav>
                                <ul>
    <li {{#if (matchValues 'home' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/landingPage/n">Home</a></li>
    <li {{#if (matchValues 'events' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pevents/n">Events</a></li>
    <li {{#if (matchValues 'staffs' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pstaffs/n">Our team</a></li>
    <li {{#if (matchValues 'causes' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pcauses/n">Causes</a></li>
    <li {{#if (matchValues 'blogs' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pblogs/n">Blogs</a></li>
    <li {{#if (matchValues 'page' active)}}class="active"{{/if}}>
        <a href="/dedicated_parents/gen/page/d_ppages/n">Pages</a>
        <ul>
            <li><a href="/dedicated_parents/gen/page/d_ppage/faqs">FAQs</a></li>
            <li><a href="/dedicated_parents/gen/page/d_ppage/about-us">About Us</a></li>
            <li><a href="/dedicated_parents/gen/page/d_ppage/terms-and-policies">Terms & Policies</a></li>
        </ul>
    </li>
    <li {{#if (matchValues 'contact' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pcontact/n">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.menu-open -->
                    </div>
                    <!-- /.responsive-menu -->
                    <header class="site-header">
                        <div class="top-header">
                            <div class="container">
                                <div class="inner-top">
                                    <div class="row">
                                        <div class="text-center col-12 header-info-left">
                                            <ul>
                                                <li><a href=""><i class="fa fa-phone"></i>+46 767059534</a></li>
                                                <li>
                                                    <a href="mailto:dedicatedparents2018@gmail.com">
                                                        <i class="fa fa-envelope-o"></i>dedicatedparents2018@gmail.com
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.top-header -->
                        <div class="container">
                            <div class="main-header">
                                <div class="row">
                                    <div class="col-md-4 col-sm-5 logo">
                                        <a href="index.html"><img src="/dedicated_parents/images/logo.png" alt=""></a>
                                    </div>
                                    <!-- /this -->
                                    <div class="col-md-8 col-sm-7 main-header-right">
                                        <div class="social-search">
                                            <div class="search-form">
                                                <form method="get" name="SearchForm">
                                                    <fieldset>
                                                        <input type="text" name="s" id="s" placeholder="Search Here...">
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <!-- /.search-form -->
                                            <div class="social-icon-top">
                                                <ul>
        <li><a href="https://www.facebook.com/dedicatedparents2018" data-toggle="tooltip" title="Facebook" class="fa fa-facebook"></a></li>
        <li><a href="https://twitter.com/Dedicatedparen1" data-toggle="tooltip" title="Twitter" class="fa fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/company/dedicated-parents/" data-toggle="tooltip" title="Linkedin" class="fa fa-linkedin"></a></li>
        <li><a href="https://www.instagram.com/dedicatedparents/" data-toggle="tooltip" title="Instagram" class="fa fa-instagram"></a></li>
                                                </ul>
                                            </div>
                                            <!-- /.social-icon-top -->
                                        </div>
                                        <!-- /.social-search -->
                                    </div>
                                    <!-- /.col-md-8 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.main-header -->
                        </div>
                        <!-- /.container -->
                        <div class="menu-wrapper visible-md visible-lg">
                            <div class="container">
                                <div class="inner-menu">
                                    <div class="row">
                                        <div class="col-md-10 main-menu">
                                            <nav>
                                                <ul class="sf-menu">
    <li {{#if (matchValues 'home' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/landingPage/n">Home</a></li>
    <li {{#if (matchValues 'events' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pevents/n">Events</a></li>
    <li {{#if (matchValues 'staffs' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pstaffs/n">Our team</a></li>
    <li {{#if (matchValues 'causes' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pcauses/n">Causes</a></li>
    <li {{#if (matchValues 'blogs' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pblogs/n">Blogs</a></li>
    <li {{#if (matchValues 'page' active)}}class="active"{{/if}}>
        <a href="/dedicated_parents/gen/page/d_ppages/n">Pages</a>
        <ul>
            <li><a href="/dedicated_parents/gen/page/d_ppage/faqs">FAQs</a></li>
            <li><a href="/dedicated_parents/gen/page/d_ppage/about-us">About Us</a></li>
            <li><a href="/dedicated_parents/gen/page/d_ppage/terms-and-policies">Terms & Policies</a></li>
        </ul>
    </li>
    <li {{#if (matchValues 'contact' active)}}class="active"{{/if}}><a href="/dedicated_parents/gen/page/d_pcontact/n">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- /.main-menu -->
                                        <div class="col-md-2 button-holder">
                                        </div>
                                        <!-- /.col-md-2 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.inner-menu -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.menu-wrapper -->
                    </header>
                    <!-- /.site-header -->
