
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <meta name="description" content="Dedicated Parents is a volunteer parenting organisation.">
                    <meta name="author" content="Esmeth">
                    <meta charset="UTF-8">
                    <!-- CSS Bootstrap & Custom -->
                    <link href="/dedicated_parents/css/bootstrap.min.css" rel="stylesheet" media="screen">
                    <link href="/dedicated_parents/css/font-awesome.min.css" rel="stylesheet" media="screen">
                    <link href="/dedicated_parents/css/animate.css" rel="stylesheet" media="screen">
                    <link href="/dedicated_parents/style.css" rel="stylesheet" media="screen">
                    <!-- Favicons -->
                    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/dedicated_parents/images/ico/apple-touch-icon-144-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/dedicated_parents/images/ico/apple-touch-icon-114-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/dedicated_parents/images/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/dedicated_parents/images/ico/apple-touch-icon-57-precomposed.png">
                    <link rel="shortcut icon" href="/dedicated_parents/images/ico/favicon.png">
                    <script src="/dedicated_parents/js/jquery-1.10.2.min.js"></script>
                    <script src="/dedicated_parents/js/min/modernizr.min.js"></script>
                    <!-- JavaScripts -->
                    <!--[if lt IE 8]>
                    <div style=' clear: both; text-align:center; position: relative;'>
                        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
                    </div>
                    <![endif]-->
                    <style>
                        p.error {
                                color: black;
                                padding: 7px 14px;
                                background: #faca3a;
                        }
                        .d-none {
                            display: none;
                        }
                    </style>
