<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Property Zero</title>
</head>
<body>

    <nav>

        <p class="icon">CM&P</p>

        <p>

            <span>_</span>
        
        </p>

        <p class="open">

            <span>Bahria Isb</span>
            <span>DHA Isb</span>
            <span>Airport Housing Society Isb</span>
        
        </p>
    
    </nav>

    <div class="container">

        <p class="filters">
            <span>Selling</span>
            <span>Required</span>
        </p>

        <div class="cards">

            <div class="card">

                <p>Bahria Town Phase II, 2 Kanal Corner Plot, Available for selling by an Army Officer.</p>
                <p class="selector">
                O
                </p>
            
            </div>
        
        </div> 
    
    </div>

    <div class="msgBox">

        <h1>Message Editor</h1>
        <textarea id="" name="" cols="30" rows="10">

            Sir, are these properties available? What is final demand? Please reply..

        </textarea>

        <button class="small">Copy Text and open WhatsApp</button>
        <button class="close">Close Box</button>
    
    </div>
    
</body>
</html>
