<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <nav>
        <p class="icon">CM&P</p>
        <p>

            <span>Add New</span>
            <span>—</span>
        
        </p>

        <p class="open">

            <span>Edit Webpage</span>
        
        </p>

    </nav>

    <div class="container">
    

        <p class="filters">
            <span>Selling</span>
            <span>Required</span>
        </p>

    
        <div class="cards">

            <div class="card">

                <p>Bahria Town Phase II, 2 Kanal Corner Plot, Available for selling by an Army Officer.</p>
                <p class="selector"> O </p>

                <p class="statuses">
                    <span>Selling </span>
                    <span>Sold</span>
                    <span>Required</span>
                    <span>Archive</span>
                </p>
            
            </div>
        
        </div> 

    </div>

    
    <div class="msgBox">

        <h1>Message Editor</h1>
        <textarea id="" name="" cols="30" rows="10">Dear friends, following properties are being sold and demanded today. Please reply for inquiries. Regards, Maj Gul (R) Awaiz.</textarea>

        <button class="small">Copy Text and open WhatsApp</button>
        <button class="close">Close Box</button>
    
    </div>

</body>
</html>
