<div class="banner">

    <img src="/life/profile-pic.png" alt="profile-pic" width="200" height="200">

    <div>

        <h1>Hi, Salam, I am Qasim!</h1>

        <p>Imran Khan supporter | ex Pak Army | now hiding like a coward in Sweden instead of supporting Khan in Pakistan</p>

        <table>
            <tr>
                <td>In case you need a website</td>
                <td><a href="https://qasim.tech">qasim.tech</a></td>
            </tr>
            <tr>
                <td>Politically active on twitter</td>
                <td><a href="https://twitter.com/qasimalixyz">qasimalixyz</a></td>
            </tr>
            <tr>
                <td>Learning tech on twitter</td>
                <td><a href="https://twitter.com/qasimdottech">qasimdottech</a></td>
            </tr>
            <tr>
                <td>Passive facebook user</td>
                <td><a href="https://facebook.com/qasimali22">facebook</a></td>
            </tr>
            <tr>
                <td>Send me a mail</td>
                <td><a href="mailto:hello@qasimali.xyz">hello@qasimali.xyz</a></td>
            </tr>
            <tr>
                <td>WhatsApp</td>
                <td><a href="mailto:hello@qasimali.xyz">hello@qasimali.xyz</a></td>
            </tr>
        </table>

    </div>
    

</div>
