<!DOCTYPE HTML>
<html>
    <head>
        <title> Tickets </title>
	<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">     
	<link href="https://fonts.googleapis.com/css2?family=Ledger&display=swap" rel="stylesheet">
	<style type="text/css">
            body{
                margin:0;
                padding:0;
                background-color: #004aad;
                height:100vh;
                box-sizing: border-box;
                font-family: 'Didact Gothic', sans-serif;
            }
            .container{
                height:100vh;
                box-sizing: border-box;
                margin:auto;
                width:70%;
            }
            .tickets{
                box-sizing:border-box;
                height:10%;
                background-color: #004aad;
                padding-left:50px;
                justify-content: center;
                align-items: center;
                color:white;
                font-weight:bold;
                font-size:30px;
                padding-top: 50px;
                }
            .ten{
                background-color: #004aad;
                box-sizing: border-box;
                height:10%;
                color:white;
                padding-top: 29px;
                margin-top:0px;
                font-size: 30px;
            	font-family: 'Ledger', serif;
		}
            .chapter{
                display:flex;
                align-items: center;
                justify-content: center;
                height: 16%;
                /* font-size: 38px; */
                }
            .table{
                /* width:600px; */
                /* height:70%; */
                /* background-color: white; */
                box-sizing: border-box;
            }
            .data{
                display:flex;
                align-items:center;
                justify-content: center;
            }
            .selection{
                height: 20%;
                /* padding-top:53px; */
                /* border: 10px solid white; */
                width: 712px;
                margin: auto;
                display: flex;
                align-items: center;
                box-sizing:border-box;
                justify-content: space-around;
            }
            .numbers{
                display:flex;
                align-items: center;
                justify-content: center;
                height: 50%;


            }
            
            .child{
                 /* border:1px yellow solid; */
                 width:100px;
                 height:100px;
                 display:flex;
                 flex-direction: column;
                 align-items: center;
                 color:white;
            }
            .second{
                 /* border:1px yellow solid; */
                 width:100px;
                 height:100px;
                 display:flex;
                 flex-direction: column;
                 align-items: center;
                 color:white;
            }
            .third{
                 /* border:1px yellow solid; */
                 color:white;
                 width:100px;
                 height:100px;
                 display:flex;
                 flex-direction: column;
                 align-items: center;
            }
            .fourth{
                 /* border:1px yellow solid; */
                 color:white;
                 width:100px;
                 height:100px;
                 display:flex;
                 flex-direction: column;
                 align-items: center;
            }
            
            td{
               font-size: 21px;
               font-weight:bold;
               color: #004aad;
               border: 1px blue solid;
               align-items: center;
               width: 65px;
               background: white;
               height: 65px;
               justify-content: center;
               border-radius: 7px;
               text-align: center;
            }
        
       	.bottom_box {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #004aad;
	z-index: 10;
	/* padding: 0 10px; */
	width: 59px;
	} 
	
	hr {
		border-color: #2f80ed;
		width: 512px;
		margin-top: -39px;
		position: absolute;
	}        

	.bottom_box {
		white-space: nowrap;
	}
	.bottom_box > svg {
		margin-top: 10px;
	}

	.grid {
	display: grid;
	grid-template-columns: 10;
	grid-template-rows: 4;

	display: grid;
	grid-template-columns: repeat(10,65px);
	grid-template-rows: repeat(4, 65px);
	grid-gap: 2px;
	}

	.grid > div {
	    background: white;
	    font-size: 23px;
	    color: #004aad;
	    border-radius: 3px;
	    display: flex;
	    align-items: center;
	    justify-content: center;	
	}

        .grid a {
            text-decoration: none;
            color: inherit;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }    

        .grid > div:not(.true):hover {
            font-weight: bold;
            cursor: pointer;
            opacity: 0.8;
        }

        </style>
    
    
    
    
    </head>
    <body>

	<div class="container">
       
	<div class="tickets"> Purchase Tickets</div>
        <div class="chapter"><h2 class="ten">Chapter 10: Building a Sustainable MVP</h2></div>
        <div class="numbers">

		<div class="grid">
		{{#each allTickets}}
                <div class={{checkExists this.username}}>
		
			{{#if this.username}}
			
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM8 15L3 10L4.41 8.59L8 12.17L15.59 4.58L17 6L8 15Z" fill="#219653"/>
			</svg>

			{{else}}			

                        <a href="/home/redirectToCheckout?ticketNo={{this.ticketNo}}">{{this.ticketNo}}</a>

			{{/if}}

		</div>
		{{/each}}	

		</div>
	</div>	
	
	
	<div class="selection">

		<hr>
		<div class="bottom_box"><svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M15 0L16.875 3.75H14.0625L12.1875 0H10.3125L12.1875 3.75H9.375L7.5 0H5.625L7.5 3.75H4.6875L2.8125 0H1.875C0.84375 0 0.00937499 0.84375 0.00937499 1.875L0 13.125C0 14.1562 0.84375 15 1.875 15H16.875C17.9062 15 18.75 14.1562 18.75 13.125V0H15Z" fill="#F2F2F2"/>
		</svg>
		<p>Select  slot</p>
		</div>
                {{#if show_bottom_4_btns}}           

		<div class="bottom_box"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M7.5 7.5C9.57187 7.5 11.25 5.82188 11.25 3.75C11.25 1.67812 9.57187 0 7.5 0C5.42812 0 3.75 1.67812 3.75 3.75C3.75 5.82188 5.42812 7.5 7.5 7.5ZM7.5 9.375C4.99687 9.375 0 10.6313 0 13.125V15H15V13.125C15 10.6313 10.0031 9.375 7.5 9.375Z" fill="#2F80ED"/>
		</svg>
		<p>Log In</p>
		</div>

                {{/if}}

		<div class="bottom_box"><svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M16.875 0H1.875C0.834375 0 0.00937499 0.834375 0.00937499 1.875L0 13.125C0 14.1656 0.834375 15 1.875 15H16.875C17.9156 15 18.75 14.1656 18.75 13.125V1.875C18.75 0.834375 17.9156 0 16.875 0ZM16.875 13.125H1.875V7.5H16.875V13.125ZM16.875 3.75H1.875V1.875H16.875V3.75Z" fill="#2F80ED"/>
		</svg>
		<p>Make payment</p>
		</div>
		<div class="bottom_box"> <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">

		<path d="M16.875 7.5C16.875 6.46875 17.7188 5.625 18.75 5.625V1.875C18.75 0.84375 17.9063 0 16.875 0H1.875C0.84375 0 0.00937499 0.84375 0.00937499 1.875V5.625C1.04063 5.625 1.875 6.46875 1.875 7.5C1.875 8.53125 1.04063 9.375 0 9.375V13.125C0 14.1562 0.84375 15 1.875 15H16.875C17.9063 15 18.75 14.1562 18.75 13.125V9.375C17.7188 9.375 16.875 8.53125 16.875 7.5ZM12.7313 12L9.375 9.84375L6.01875 12L7.03125 8.1375L3.94688 5.61562L7.92188 5.38125L9.375 1.6875L10.8188 5.39062L14.7938 5.625L11.7094 8.14687L12.7313 12Z" fill="#2F80ED"/>
		</svg>
		<p>Your Ticket</p>
		</div>
                
	</div>
    
    
    
</body>
</html>
