{{#if data.properties}}
    {{#each data.properties}}
        {{>propertyCards property=this viewMore=true data=../data}}
    {{/each}}
{{else}}
    <p>No Matching Properties Found. Sorry..</p>
{{/if}}
