<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>
    You need to plan it through to the end. Then start creating a website where people can see exactly how we are working, where do they can help us, and what is it we need to fix. Make sure you act responsible while building it. In'sha'Allah this is the answer I have been looking for...
    </p>
</body>
</html>
