<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Icare - Nonprofit, Fundraising HTML Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Icare - Nonprofit, Fundraising HTML Template">
        <meta name="author" content="Esmeth">
        <meta charset="UTF-8">

        <!-- CSS Bootstrap & Custom -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
		<link href="css/animate.css" rel="stylesheet" media="screen">
        <link href="style.css" rel="stylesheet" media="screen">
       
        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="images/ico/favicon.ico">
    
        <!-- JavaScripts -->
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/min/modernizr.min.js"></script>
        <!--[if lt IE 8]>
	    <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
        <![endif]-->
    </head>
    <body>
	
	
		<div class="responsive-menu visible-sm visible-xs">
			<a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
			<div class="menu-open">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Events</a>
						<ul>
							<li><a href="events-list.html">Events List</a></li>
							<li><a href="event-detail.html">Event Detail</a></li>
						</ul>
					</li>
					<li><a href="#">Our Staff</a>
						<ul>
							<li><a href="staff-3-columns.html">Staff 3 Columns</a></li>
							<li><a href="staff-sidebar.html">Staff W/ Sidebar</a></li>
							<li><a href="staff-detail.html">Member Detail</a></li>
						</ul>
					</li>
					<li><a href="#">Causes</a>
						<ul>
							<li><a href="causes-3-columns.html">Causes 3 Columns</a></li>
							<li><a href="causes-4-columns.html">Causes 4 Columns</a></li>
							<li><a href="causes-sidebar.html">Causes W/ Sidebar</a></li>
							<li><a href="cause-detail.html">Cause Detail</a></li>
						</ul>
					</li>
					<li class="active"><a href="#">Blog</a>
						<ul>
							<li><a href="blog-grid.html">Blog Grid</a></li>
							<li><a href="blog-list.html">Blog List</a></li>
							<li><a href="blog-single.html">Post Single</a></li>
						</ul>
					</li>
					<li><a href="#">Pages</a>
						<ul>
							<li><a href="shortcodes.html">Shortcodes</a></li>
							<li><a href="columns.html">Columns</a></li>
							<li><a href="archives.html">Archives</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<a href="donate.html" class="btn main-btn">Donate Now</a>
			</div> <!-- /.menu-open -->
		</div> <!-- /.responsive-menu -->

		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="inner-top">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 header-info-left">
							<ul>
								<li><a href="skype:+34234235322?action"><i class="fa fa-phone"></i>+34 234 2353 22</a></li>
								<li><a href="mailto:youremail@info.com"><i class="fa fa-envelope-o"></i>youremail@info.com</a></li>
							</ul>
						</div> <!-- /.col-md-6 -->
						<div class="col-md-6 col-sm-6 col-xs-12 header-info-right visible-md visible-lg">
							<ul>
								<li><a href="#">English</a></li>
								<li><a href="#">French</a></li>
								<li><a href="#">Spanish</a></li>
								<li><a href="#">Deutsch</a></li>
							</ul>
						</div> <!-- /.col-md-6 -->
					</div> <!-- /.row -->
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.top-header -->
			<div class="container">
				<div class="main-header">
					<div class="row">
						<div class="col-md-4 col-sm-5 logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div> <!-- /this -->
						<div class="col-md-8 col-sm-7 main-header-right">
							<div class="social-search">
								<div class="search-form">
									<form method="get" name="SearchForm">
										<fieldset>
											<input type="text" name="s" id="s" placeholder="Search Here...">
										</fieldset>
									</form>
								</div> <!-- /.search-form -->
								<div class="social-icon-top">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Facebook" class="fa fa-facebook"></a></li>
										<li><a href="#" data-toggle="tooltip" title="Twitter" class="fa fa-twitter"></a></li>
										<li><a href="#" data-toggle="tooltip" title="Linkedin" class="fa fa-linkedin"></a></li>
										<li><a href="#" data-toggle="tooltip" title="Flickr" class="fa fa-flickr"></a></li>
										<li><a href="#" data-toggle="tooltip" title="RSS" class="fa fa-rss"></a></li>
									</ul>
								</div> <!-- /.social-icon-top -->
							</div> <!-- /.social-search -->
						</div> <!-- /.col-md-8 -->
					</div> <!-- /.row -->
				</div> <!-- /.main-header -->
			</div> <!-- /.container -->
			<div class="menu-wrapper visible-md visible-lg">
				<div class="container">
					<div class="inner-menu">
						<div class="row">
							<div class="col-md-10 main-menu">
								<nav>
									<ul class="sf-menu">
										<li><a href="index.html">Home</a></li>
										<li><a href="#">Events</a>
											<ul>
												<li><a href="events-list.html">Events List</a></li>
												<li><a href="event-detail.html">Event Detail</a></li>
											</ul>
										</li>
										<li><a href="#">Our Staff</a>
											<ul>
												<li><a href="staff-3-columns.html">Staff 3 Columns</a></li>
												<li><a href="staff-sidebar.html">Staff W/ Sidebar</a></li>
												<li><a href="staff-detail.html">Member Detail</a></li>
											</ul>
										</li>
										<li><a href="#">Causes</a>
											<ul>
												<li><a href="causes-3-columns.html">Causes 3 Columns</a></li>
												<li><a href="causes-4-columns.html">Causes 4 Columns</a></li>
												<li><a href="causes-sidebar.html">Causes W/ Sidebar</a></li>
												<li><a href="cause-detail.html">Cause Detail</a></li>
											</ul>
										</li>
										<li class="active"><a href="#">Blog</a>
											<ul>
												<li><a href="blog-grid.html">Blog Grid</a></li>
												<li><a href="blog-list.html">Blog List</a></li>
												<li><a href="blog-single.html">Post Single</a></li>
											</ul>
										</li>
										<li><a href="#">Pages</a>
											<ul>
												<li><a href="shortcodes.html">Shortcodes</a></li>
												<li><a href="columns.html">Columns</a></li>
												<li><a href="archives.html">Archives</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</nav>
							</div> <!-- /.main-menu -->
							<div class="col-md-2 button-holder">
								<a href="donate.html" class="btn main-btn">Donate Now</a>
							</div> <!-- /.col-md-2 -->
						</div> <!-- /.row -->
					</div> <!-- /.inner-menu -->
				</div> <!-- /.container -->
			</div> <!-- /.menu-wrapper -->
		</header> <!-- /.site-header -->


		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Post Single</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="index.html">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8">
					<div class="blog-single">
						<div class="post-image">
							<img src="http://placehold.it/770x400" alt="">
							<div class="image-over">
								<span><i class="fa fa-user"></i>Esmet Hajrizi</span>
								<span><i class="fa fa-comments-o"></i>Comments <em>(3)</em></span>
								<span><i class="fa fa-calendar-o"></i>24 January 2014</span>
							</div>
						</div> <!-- /.blog-thumb -->
						<div class="post-content">
							<h3 class="post-title">Northern Ireland register of charities</h3>
							<p>Duis pulvinar condimentum imperdiet. Nam elementum dapibus sem eu aliquam. Praesent gravida ullamcorper hendrerit. Maecenas neque massa, accumsan ac pretium id, consequat fringilla eros. Fusce id fermentum massa. Mauris ornare erat metus, eu pharetra ligula tincidunt in. Morbi sit amet varius risus. Donec quis volutpat eros. <br><br>Nullam consectetur odio eget magna pulvinar dictum. Donec ac velit vel ligula placerat condimentum. Vestibulum ultricies orci id ornare aliquet. Sed ante massa, accumsan ac imperdiet in, pharetra quis lacus. Donec nec quam vitae risus gravida pulvinar nec non lectus. Nulla aliquet gravida felis. Integer neque sem, vehicula vel sollicitudin ornare, tincidunt vitae elit. In iaculis porttitor ipsum vel egestas.</p>
							<ul class="post-gallery">
								<li>
									<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group2">
										<img src="http://placehold.it/80x80" alt="">
									</a>
								</li>
								<li>
									<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group2">
										<img src="http://placehold.it/80x80" alt="">
									</a>
								</li>
								<li>
									<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group2">
										<img src="http://placehold.it/80x80" alt="">
									</a>
								</li>
								<li>
									<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group2">
										<img src="http://placehold.it/80x80" alt="">
									</a>
								</li>
							</ul> <!-- /.post-gallery -->
							<p>Vivamus ac risus ante. Duis porta id purus quis pulvinar. Sed ut sem aliquet massa rhoncus vehicula. Sed sit amet nunc cursus, bibendum urna sed, vehicula nisi. Nullam et dolor rutrum, faucibus enim ut, egestas sem. Maecenas luctus luctus sem id pulvinar. Proin blandit tristique nisi eu feugiat. Quisque ultrices rutrum nulla id tempor. Morbi a dignissim neque. <br><br>Nulla congue mauris in rhoncus fermentum. Nunc pretium nibh at nisl viverra molestie. Morbi porttitor porta dapibus. Integer luctus quam at ligula tempus, id ultricies turpis facilisis.</p>
							<div class="tags">
								<span><i class="fa fa-tags"></i></span>
								<a href="#">advertise</a>
								<a href="#">google</a>
								<a href="#">WordPress</a>
								<a href="#">iPhone</a>
							</div> <!-- /.tags -->
						</div> <!-- /.blog-content -->
					</div> <!-- /.blog-single -->
					<div class="row">
						<div class="col-md-12">
							<a href="javascript:void(0);" class="go-prev"><i class="fa fa-long-arrow-left"></i>Prev Event</a>
							<a href="javascript:void(0);" class="go-next">Next Event <i class="fa fa-long-arrow-right"></i></a>
						</div> <!-- /.col-md-12 -->
					</div> <!-- /.row -->
					<div class="comments box-content">
						<h4 class="widget-title"><span>Comments <em>(3)</em></span></h4>
						<div class="comment">
							<div class="author-thumb">
								<img src="http://placehold.it/80x80" alt="">
							</div> <!-- /.author-thumb -->
							<div class="comment-body">
								<h5 class="author">Anderson House</h5><a href="#" class="reply">Reply</a>
								<span class="time">02 January 2015  -  8:58 PM</span>
								<p>Vivamus ac risus ante. Duis porta id purus quis pulvinar. Sed ut sem aliquet massa vehicula. Sed sit amet nunc cursus.</p>
							</div> <!-- /.comment-body -->
							<div class="comment">
								<div class="author-thumb">
									<img src="http://placehold.it/80x80" alt="">
								</div> <!-- /.author-thumb -->
								<div class="comment-body">
									<h5 class="author">Wanda Seward</h5><a href="#" class="reply">Reply</a>
									<span class="time">02 January 2015  -  8:58 PM</span>
									<p>Vivamus ac risus ante. Duis porta id purus quis pulvinar. Sed ut sem aliquet massa vehicula. Sed sit amet nunc cursus.</p>
								</div> <!-- /.comment-body -->
							</div> <!-- /.comment -->
						</div> <!-- /.comment -->
						<div class="comment">
							<div class="author-thumb">
								<img src="http://placehold.it/80x80" alt="">
							</div> <!-- /.author-thumb -->
							<div class="comment-body">
								<h5 class="author">Steve Franklin</h5><a href="#" class="reply">Reply</a>
								<span class="time">02 January 2015  -  8:58 PM</span>
								<p>Vivamus ac risus ante. Duis porta id purus quis pulvinar. Sed ut sem aliquet massa vehicula. Sed sit amet nunc cursus.</p>
							</div> <!-- /.comment-body -->
						</div> <!-- /.comment -->
						<div class="comment last">
							<div class="author-thumb">
								<img src="http://placehold.it/80x80" alt="">
							</div> <!-- /.author-thumb -->
							<div class="comment-body">
								<h5 class="author">Michael Nickel</h5><a href="#" class="reply">Reply</a>
								<span class="time">02 January 2015  -  8:58 PM</span>
								<p>Vivamus ac risus ante. Duis porta id purus quis pulvinar. Sed ut sem aliquet massa vehicula. Sed sit amet nunc cursus.</p>
							</div> <!-- /.comment-body -->
						</div> <!-- /.comment -->
					</div> <!-- /.comments -->
					<div class="comment-form box-content">
						<h4 class="widget-title"><span>Leave Us a Comment</span></h4>
						<form>
						    <fieldset>
								<label for="name">First Name: <span>Put your name here</span></label>
								<input type="text" id="name" name="name" class="form-input">
						    </fieldset>
						    <fieldset>
								<label for="email">Email: <span>Put your email here</span></label>
								<input type="email" id="email" name="email" class="form-input">
						    </fieldset>
						    <fieldset>
								<label for="website">Url: <span>Put your website here</span></label>
								<input type="url" id="website" name="website" class="form-input">
						    </fieldset>
						    <fieldset>
								<label for="message">Comment: <span>Feel free to type</span></label>
								<textarea name="message" id="message" rows="6"></textarea>
						    </fieldset>
						    <fieldset>
						    	<button type="submit" id="submit-button" class="btn main-btn">Submit Comment</button>
						    </fieldset>
						</form>
					</div> <!-- /.comment-form -->
				</div> <!-- /.col-md-8 -->

				<div class="col-md-4">
					<div class="box-content categories">
						<h4 class="widget-title"><span>Categories</span></h4>
						<div class="row">
							<div class="col-md-6">
								<ul>
									<li><a href="#">Awwards</a></li>
									<li><a href="#">Books</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">Creativity</a></li>
									<li><a href="#">Fundraising</a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li><a href="#">Net Stuff</a></li>
									<li><a href="#">Demographics</a></li>
									<li><a href="#">Community</a></li>
									<li><a href="#">Generosity</a></li>
								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.box-content -->
					<div class="box-content">
						<h4 class="widget-title"><span>Our Gallery</span></h4>
						<div class="gallery-wrapper">
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
						</div> <!-- /.gallery-wrapper -->
					</div> <!-- /.box-content -->
					<div class="box-content">
						<h4 class="widget-title"><span>Upcoming events</span></h4>
						<div class="events-sidebar">
							<ul>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Memorial Day Sale: 30% All Day Monday May 26</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Fashion Figures Online Sale: Sizes 10 - 3X</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Speak Up! National Summit for Women Living with HIV</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
							</ul>
							<a href="events-list.html" class="read-more">More Events &rarr;</a>
						</div> <!-- /.events-sidebar -->
					</div> <!-- /.box-content -->
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->

		
		<footer class="site-footer">
			<div class="top-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-12 contact-info footer-widget">
							<h4 class="footer-widget-title">Contact Info</h4>
							<p>Curabitur a orci et nulla gravida.</p>
							<ul>
								<li><span>Phone:</span><a href="skype:+34234235322?action">(123) 2445 - 2443</a></li>
								<li><span>Email:</span><a href="mailto:your@supportemail.com">your@supportemail.com</a></li>
							</ul>
						</div> <!-- /.col-md-3 -->
						<div class="col-md-5 col-sm-8 col-xs-12 footer-widget">
							<h4 class="footer-widget-title">Stay in touch with us</h4>
							<ul class="footer-social">
								<li><a href="#" data-toggle="tooltip" title="Facebook" class="fa fa-facebook"></a></li>
								<li><a href="#" data-toggle="tooltip" title="Twitter" class="fa fa-twitter"></a></li>
								<li><a href="#" data-toggle="tooltip" title="Linkedin" class="fa fa-linkedin"></a></li>
								<li><a href="#" data-toggle="tooltip" title="Flickr" class="fa fa-flickr"></a></li>
								<li><a href="#" data-toggle="tooltip" title="Youtube" class="fa fa-youtube"></a></li>
								<li><a href="#" data-toggle="tooltip" title="RSS" class="fa fa-rss"></a></li>
							</ul>
						</div> <!-- /.col-md-5 -->
						<div class="col-md-4 col-sm-12 col-xs-12 footer-widget">
							<h4 class="footer-widget-title">More about US</h4>
							<p>Curabitur a orci et nulla gravida laoreet. Pellentesque dictum ipsum nec placerat dignissim. Vivamus porta pellentesque libero, sit amet non.</p>
						</div> <!-- /.col-md-4 -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.top-footer -->
			<div class="main-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 footer-widget">
							<h4 class="footer-widget-title">Text Widget</h4>
							<p>Curabitur a orci et nulla gravida laoreet. Pellentesque dictum ipsum nec placerat dignissim. Vivamus porta pellentesque libeadro, sit amet non.</p>
						</div> <!-- /.col-md-3 -->
						<div class="col-md-3 col-sm-6 footer-widget">
							<h4 class="footer-widget-title">Popular Posts</h4>
							<ul>
								<li><a href="blog-single.html">The Importance of an MOU</a></li>
								<li><a href="blog-single.html">Detecting and learning from failure</a></li>
								<li><a href="blog-single.html">Limited Support on Memorial Day</a></li>
								<li><a href="blog-single.html">Fundraising Reading Round-Up</a></li>
								<li><a href="blog-single.html">Ugly Design or Beautiful Design?</a></li>
							</ul>
						</div> <!-- /.col-md-3 -->
						<div class="col-md-2 col-sm-6 footer-widget">
							<h4 class="footer-widget-title">Useful Links</h4>
							<ul>
								<li><a href="staff-sidebar.html">Meet the Team</a></li>
								<li><a href="blog-grid.html">Read Our Blog</a></li>
								<li><a href="#">Partnerships</a></li>
								<li><a href="#">Developer Tools</a></li>
							</ul>
						</div> <!-- /.col-md-2 -->
						<div class="col-md-4 col-sm-6 footer-widget">
							<h4 class="footer-widget-title">Our Gallery</h4>
							<div class="footer-gallery">
								<div class="gallery-thumb">
									<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
										<img src="http://placehold.it/80x80" alt="">
									</a>
								</div> <!-- /.gallery-thumb -->
								<div class="gallery-thumb">
									<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
										<img src="http://placehold.it/80x80" alt="">
									</a>
								</div> <!-- /.gallery-thumb -->
								<div class="gallery-thumb">
									<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
										<img src="http://placehold.it/80x80" alt="">
									</a>
								</div> <!-- /.gallery-thumb -->
								<div class="gallery-thumb">
									<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
										<img src="http://placehold.it/80x80" alt="">
									</a>
								</div> <!-- /.gallery-thumb -->
							</div> <!-- /.footer-gallery -->
						</div> <!-- /.col-md-4 -->
					</div> <!-- /.row -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<p class="small-text">Copyright 2014 &copy;. iCare Template.</p>
							</div> <!-- /.col-md-6 -->
							<div class="col-md-6 col-sm-6">
								<div class="credits">
									<p class="small-text">Built with <i class="fa fa-heart"></i> by <a href="http://themeforest.net/user/Esmet">Esmet</a></p>
								</div>
							</div> <!-- /.col-md-6 -->
						</div> <!-- /.row -->
					</div> <!-- /.copyright -->
				</div> <!-- /.container -->
			</div> <!-- /.main-footer -->
		</footer> <!-- /.site-footer -->

		<a href="#top" id="top-link" class="fa fa-angle-up"></a>
	
        <!-- JavaScripts -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/min/plugins.min.js"></script>
        <script src="js/min/custom.min.js"></script>
	

    </body>
</html>