<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Contact</title>
        {{> dedicated_parents/header}}
    </head>
    <body>
	
        {{> dedicated_parents/headerNav active='home'}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Contact Page</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="index.html">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8 contact-page">
					<div class="contact-map" style="height: 380px;"></div>
					<div id="contact" class="contactForm clearfix">
                        <div id="result"></div>
                        <fieldset>
                            <label for="name-id">First Name:<span>Put your name here</span></label>
                            <input type="text" id="name-id" name="name-id">
                        </fieldset>
                        <fieldset> 
                            <label for="surname-id">Last Name:<span>Put your surname here</span></label>   
                            <input type="text" id="surname-id" name="surname-id">
                        </fieldset>
                        <fieldset>
                            <label for="email-id">E-mail:<span>Type email address</span></label>
                            <input type="text" id="email-id" name="email-id">
                        </fieldset>
                        <fieldset>
                            <label for="message">Message:<span>Type email address</span></label>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </fieldset>
                        <fieldset>
                            <button id="submit_btn" class="btn main-btn" type="submit" name="">Send Message</button>
                        </fieldset>
                    </div>
				</div> <!-- /.col-md-8 -->

				<div class="col-md-4">
					<div class="box-content">
						<h4 class="widget-title"><span>Our Gallery</span></h4>
						<div class="gallery-wrapper">
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
						</div> <!-- /.gallery-wrapper -->
					</div> <!-- /.box-content -->
					<div class="box-content">
						<h4 class="widget-title"><span>Upcoming events</span></h4>
						<div class="events-sidebar">
							<ul>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Memorial Day Sale: 30% All Day Monday May 26</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Fashion Figures Online Sale: Sizes 10 - 3X</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Speak Up! National Summit for Women Living with HIV</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
							</ul>
							<a href="events-list.html" class="read-more">More Events &rarr;</a>
						</div> <!-- /.events-sidebar -->
					</div> <!-- /.box-content -->
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
                {{> dedicated_parents/footer}}

		<!-- Google Map -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="js/vendor/jquery.gmap3.min.js"></script>
        
        <!-- Google Map Init-->
        <script type="text/javascript">
            jQuery(function($){
                $('.contact-map').gmap3({
                    marker:{
                        address: '16.8496189,96.1288854' 
                    },
                        map:{
                        options:{
                        zoom: 15,
                        scrollwheel: false,
                        streetViewControl : true
                        }
                    }
                });
            });
        </script>

         <!-- Contact Form Validation -->
   
	    <script type="text/javascript">
		    $(document).ready(function() {
		        $("#submit_btn").click(function() { 
		            
		            //Get input field values
		            var first_name       = $('input[name=name-id]').val(); 
		            var last_name      = $('input[name=surname-id]').val();
		            var user_email      = $('input[name=email-id]').val();
		            var user_message    = $('textarea[name=message]').val();
		            
		            
		            // Do simple validations of the values entered
		            var proceed = true;
		            if(first_name==""){ 
		                $('input[name=name-id]').css('border-color','red'); 
		                proceed = false;
		            }
		            if(last_name==""){ 
		                $('input[name=surname-id]').css('border-color','red'); 
		                proceed = false;
		            }
		            if(user_email==""){ 
		                $('input[name=email-id]').css('border-color','red'); 
		                proceed = false;
		            }
		            
		            if(user_message=="") {  
		                $('textarea[name=message]').css('border-color','red'); 
		                proceed = false;
		            }
		    
		            // Check if we can proceed
		            if(proceed) 
		            {
		                // Data to be sent to server
		                post_data = {'firstName':first_name, 'lastName':last_name, 'userEmail':user_email, 'userMessage':user_message};
		                
		                // Ajax post data to server
		                $.post('sendform.php', post_data, function(response){  
		                    
		                    // Load json data from server and output message     
		                    if(response.type == 'error')
		                    {
		                        output = '<div class="alert alert-danger">'+response.text+'</div>';
		                    }else{
		                    
		                        output = '<div class="alert alert-success">'+response.text+'</div>';
		                        
		                        // Reset values in all input fields
		                        $('#contact input').val(''); 
		                        $('#contact textarea').val(''); 
		                    }
		                    
		                    $("#result").hide().html(output).slideDown();
		                }, 'json');
		                
		            }
		        });
		        
		        // Reset previously set border colors and hide all message on .keyup()
		        $("#contact input, #contact textarea").keyup(function() { 
		            $("#contact input, #contact textarea").css('border-color',''); 
		            $("#result").slideUp();
		        });
		        
		    });
		</script>

    </body>
</html>
