<!DOCTYPE html>
<!--[if lt IE 7]> 
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
    <![endif]-->
    <!--[if IE 7]> 
    <html class="no-js lt-ie9 lt-ie8" lang="en">
        <![endif]-->
        <!--[if IE 8]> 
        <html class="no-js lt-ie9" lang="en">
            <![endif]-->
            <!--[if gt IE 8]><!--> 
            <html class="no-js" lang="en">
                <!--<![endif]-->
                <head>
                    <title>Dedicated Parents | Home</title>
                    {{> dedicated_parents/header}}
                </head>
                <body>
                    {{> dedicated_parents/headerNav}}
                    <div class="container">
                        <div class="top-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="u-cause-wrapper hidden-xs">
                                        <span class="u-cause-title">
                                        <a href="#" class="close-u-cause">
                                        <i class="fa fa-times"></i>
                                        </a>
                                        Urgent Cause
                                        </span>
                                        <div class="u-cause clearfix">
                                            <dl class="inner-carousel clearfix">
                                                <dt></dt>
                                                <dd><a href="cause-detail.html">In non nunc nulla elementum metus</a> - Some other details goes here</dd>
                                                <dt></dt>
                                                <dd><a href="cause-detail.html">Ut ut tortor lobortis, auctor orcw diam</a> - Some other details goes here</dd>
                                                <dt></dt>
                                                <dd><a href="cause-detail.html">In at felis non nunc volutpat nec felis</a> - Some other details goes here</dd>
                                                <dt></dt>
                                                <dd><a href="cause-detail.html">In non nunc nulla elementum metus</a> - Some other details goes here</dd>
                                                <dt></dt>
                                                <dd><a href="cause-detail.html">Ut ut tortor lobortis, auctor orcw diam</a> - Some other details goes here</dd>
                                                <dt></dt>
                                                <dd><a href="cause-detail.html">In at felis non nunc volutpat nec felis</a> - Some other details goes here</dd>
                                            </dl>
                                            <!-- /.inner-carousel -->
                                        </div>
                                        <!-- /.u-cause -->
                                    </div>
                                    <!-- /.u-cause-wrapper -->
                                </div>
                                <!-- /.col-md-12 -->
                            </div>
                            <!-- /.row -->
                            <div class="slider-wrapper">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="subscribe-form">
                                            <h3 class="widget-title">Stay up to date</h3>
                                            <p>Sign up today for our e-newsletter to find out what is going on and get involved.</p>
                                            <form>
                                                <fieldset>
                                                    <label for="name">First Name:</label>
                                                    <input type="text" id="name" name="name" class="form-input">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="last-name">Last Name:</label>
                                                    <input type="text" id="last-name" name="last-name" class="form-input">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="email">Email:</label>
                                                    <input type="email" id="email" name="email" class="form-input">
                                                </fieldset>
                                                <fieldset>
                                                    <button type="submit" id="send-button" class="btn main-btn">Submit</button>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <!-- /.subscribe-form -->
                                    </div>
                                    <!-- /.col-md-4 -->
                                    <div class="col-md-8">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                <li>
                                                    <img src="http://placehold.it/770x455" alt="">
                                                    <div class="flex-caption">
                                                        <p>Expedita aliquam quam dignissimos eum illo eius soluta explicabo facere...<a href="#">Read More</a></p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="http://placehold.it/770x455" alt="">
                                                    <div class="flex-caption">
                                                        <p>Quasi ducimus debitis quos odio libero eligendi veniam....<a href="#">Read More</a></p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="http://placehold.it/770x455" alt="">
                                                    <div class="flex-caption">
                                                        <p>Commodi laboriosam autem error non sit ab in nisi suscipit...<a href="#">Read More</a></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.flexslider -->
                                    </div>
                                    <!-- /.col-md-8 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.slider-wrapper -->
                        </div>
                        <!-- /.top-content -->
                        <div class="services box-content">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8 services-header">
                                    <h5 class="widget-title">Welcome to iCare</h5>
                                    <span></span>
                                    <p>Every man must decide whether he will walk in the light of creative altruism or in the darkness of destructive selfishness.</p>
                                </div>
                                <!-- /.services-header -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-md-4 service-item">
                                    <div class="service-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <div class="service-content">
                                        <h4 class="service-title">Education</h4>
                                        <p>Sed bibendum, arcu ac rhoncus adipiscing, nulla lectus dictum mauris, non volutpat massa ipsum in nibh.</p>
                                        <a href="#" class="read-more">Read More &rarr;</a>
                                    </div>
                                </div>
                                <!-- /.service-item -->
                                <div class="col-md-4 service-item">
                                    <div class="service-icon">
                                        <i class="fa fa-umbrella"></i>
                                    </div>
                                    <div class="service-content">
                                        <h4 class="service-title">Help & Support</h4>
                                        <p>Sed bibendum, arcu ac rhoncus adipiscing, nulla lectus dictum mauris, non volutpat massa ipsum in nibh.</p>
                                        <a href="#" class="read-more">Read More &rarr;</a>
                                    </div>
                                </div>
                                <!-- /.service-item -->
                                <div class="col-md-4 service-item">
                                    <div class="service-icon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <div class="service-content">
                                        <h4 class="service-title">Volunteering</h4>
                                        <p>Sed bibendum, arcu ac rhoncus adipiscing, nulla lectus dictum mauris, non volutpat massa ipsum in nibh.</p>
                                        <a href="#" class="read-more">Read More &rarr;</a>
                                    </div>
                                </div>
                                <!-- /.service-item -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.services -->
                        <div class="last-causes box-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="widget-title"><span>Last Cause List</span></h4>
                                </div>
                                <!-- /.col-md-12 -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-md-3 col-sm-6 cause-grid">
                                    <div class="cause-thumb">
                                        <img src="http://placehold.it/255x200" alt="">
                                        <div class="cause-hover">
                                            <div class="cause-holder clearfix">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100" style="width: 41%;"></div>
                                                </div>
                                                <span class="raised pull-left">Raised: $2,400</span>
                                                <span class="goal pull-right">Goal: $6,180</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.cause-thumb -->
                                    <div class="cause-content">
                                        <h4 class="cause-title"><a href="cause-detail.html">Futures for Children</a></h4>
                                        <p>Sed bibendum, arcu ac rhoncus adscing nulla lectus dictum mauris.</p>
                                        <a href="#" class="btn main-btn">Donate Now</a>
                                    </div>
                                    <!-- /.cause-content -->
                                </div>
                                <!-- /.col-md-3 -->
                                <div class="col-md-3 col-sm-6 cause-grid">
                                    <div class="cause-thumb">
                                        <img src="http://placehold.it/255x200" alt="">
                                        <div class="cause-hover">
                                            <div class="cause-holder clearfix">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                                <span class="raised pull-left">Raised: $2,400</span>
                                                <span class="goal pull-right">Goal: $6,180</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.cause-thumb -->
                                    <div class="cause-content">
                                        <h4 class="cause-title"><a href="cause-detail.html">Futures for Children</a></h4>
                                        <p>Sed bibendum, arcu ac rhoncus adscing nulla lectus dictum mauris.</p>
                                        <a href="#" class="btn main-btn">Donate Now</a>
                                    </div>
                                    <!-- /.cause-content -->
                                </div>
                                <!-- /.col-md-3 -->
                                <div class="col-md-3 col-sm-6 cause-grid">
                                    <div class="cause-thumb">
                                        <img src="http://placehold.it/255x200" alt="">
                                        <div class="cause-hover">
                                            <div class="cause-holder clearfix">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;"></div>
                                                </div>
                                                <span class="raised pull-left">Raised: $2,400</span>
                                                <span class="goal pull-right">Goal: $6,180</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.cause-thumb -->
                                    <div class="cause-content">
                                        <h4 class="cause-title"><a href="cause-detail.html">Futures for Children</a></h4>
                                        <p>Sed bibendum, arcu ac rhoncus adscing nulla lectus dictum mauris.</p>
                                        <a href="#" class="btn main-btn">Donate Now</a>
                                    </div>
                                    <!-- /.cause-content -->
                                </div>
                                <!-- /.col-md-3 -->
                                <div class="col-md-3 col-sm-6 cause-grid">
                                    <div class="cause-thumb">
                                        <img src="http://placehold.it/255x200" alt="">
                                        <div class="cause-hover">
                                            <div class="cause-holder clearfix">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100" style="width: 14%;"></div>
                                                </div>
                                                <span class="raised pull-left">Raised: $2,400</span>
                                                <span class="goal pull-right">Goal: $6,180</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.cause-thumb -->
                                    <div class="cause-content">
                                        <h4 class="cause-title"><a href="cause-detail.html">Futures for Children</a></h4>
                                        <p>Sed bibendum, arcu ac rhoncus adscing nulla lectus dictum mauris.</p>
                                        <a href="#" class="btn main-btn">Donate Now</a>
                                    </div>
                                    <!-- /.cause-content -->
                                </div>
                                <!-- /.col-md-3 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.last-causes -->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="widget-title"><span>Latest News</span></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 post-grid">
                                            <div class="post-thumb">
                                                <a href="blog-single.html">
                                                <img src="http://placehold.it/340x236" alt="">
                                                </a>
                                            </div>
                                            <!-- /.post-thumb -->
                                            <div class="post-content">
                                                <p class="post-meta"><a href="#">24 June 2014</a> with <a href="#">4 Comments</a></p>
                                                <h4 class="post-title"><a href="blog-single.html">Northern Ireland unveils first register of charities</a></h4>
                                                <a href="blog-single.html" class="read-more">Continue Reading &rarr;</a>
                                            </div>
                                            <!-- /.post-content -->
                                        </div>
                                        <!-- /.post-grid -->
                                        <div class="col-md-6 col-sm-6 post-grid">
                                            <div class="post-thumb">
                                                <a href="blog-single.html">
                                                <img src="http://placehold.it/340x236" alt="">
                                                </a>
                                            </div>
                                            <!-- /.post-thumb -->
                                            <div class="post-content">
                                                <p class="post-meta"><a href="#">24 June 2014</a> with <a href="#">4 Comments</a></p>
                                                <h4 class="post-title"><a href="blog-single.html">Mission to Moldova – now watch the video</a></h4>
                                                <a href="blog-single.html" class="read-more">Continue Reading &rarr;</a>
                                            </div>
                                            <!-- /.post-content -->
                                        </div>
                                        <!-- /.post-grid -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.box-content -->
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="widget-title"><span>What Others Said</span></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 testimonials-wrapper">
                                            <ul class="testi-tabs clearfix">
                                                <li class="active">
                                                    <a href="#testi-content-01">
                                                    <img src="http://placehold.it/70x70" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#testi-content-02">
                                                    <img src="http://placehold.it/70x70" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#testi-content-03">
                                                    <img src="http://placehold.it/70x70" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#testi-content-04">
                                                    <img src="http://placehold.it/70x70" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="testi-wrapper">
                                                <div id="testi-content-01" class="testi-content active">
                                                    <div class="testi-author">
                                                        <h6>Arthur Damon <span>Ceo</span></h6>
                                                    </div>
                                                    <p>
                                                        Sed bibendum, arcu ac rhoncus adipiscing,
                                                        nulla lectus dictum mauris, non volutpat massa
                                                        ipsum in nibh. Nulla lectus dictum mauris, non volutpat massa.
                                                    </p>
                                                </div>
                                                <div id="testi-content-02" class="testi-content">
                                                    <div class="testi-author">
                                                        <h6>Joana Doe <span>Founder</span></h6>
                                                    </div>
                                                    <p>
                                                        Sed bibendum, arcu ac rhoncus adipiscing,
                                                        nulla lectus dictum mauris, non volutpat massa
                                                        ipsum in nibh. Nulla lectus dictum mauris, non volutpat massa.
                                                    </p>
                                                </div>
                                                <div id="testi-content-03" class="testi-content">
                                                    <div class="testi-author">
                                                        <h6>Mark Barreto <span>Volunteer</span></h6>
                                                    </div>
                                                    <p>
                                                        Sed bibendum, arcu ac rhoncus adipiscing,
                                                        nulla lectus dictum mauris, non volutpat massa
                                                        ipsum in nibh. Nulla lectus dictum mauris, non volutpat massa.
                                                    </p>
                                                </div>
                                                <div id="testi-content-04" class="testi-content">
                                                    <div class="testi-author">
                                                        <h6>Philip Stevens <span>Supplier</span></h6>
                                                    </div>
                                                    <p>
                                                        Sed bibendum, arcu ac rhoncus adipiscing,
                                                        nulla lectus dictum mauris, non volutpat massa
                                                        ipsum in nibh. Nulla lectus dictum mauris, non volutpat massa.
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- //.testi-wrapper -->
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.box-content -->
                            </div>
                            <!-- /.col-md-8 -->
                            <div class="col-md-4">
                                <div class="box-content">
                                    <h4 class="widget-title"><span>Our Gallery</span></h4>
                                    <div class="gallery-wrapper">
                                        <div class="gallery-thumb">
                                            <a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
                                            <img src="http://placehold.it/80x80" alt="">
                                            </a>
                                        </div>
                                        <!-- /.gallery-thumb -->
                                        <div class="gallery-thumb">
                                            <a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
                                            <img src="http://placehold.it/80x80" alt="">
                                            </a>
                                        </div>
                                        <!-- /.gallery-thumb -->
                                        <div class="gallery-thumb">
                                            <a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
                                            <img src="http://placehold.it/80x80" alt="">
                                            </a>
                                        </div>
                                        <!-- /.gallery-thumb -->
                                        <div class="gallery-thumb">
                                            <a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
                                            <img src="http://placehold.it/80x80" alt="">
                                            </a>
                                        </div>
                                        <!-- /.gallery-thumb -->
                                        <div class="gallery-thumb">
                                            <a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
                                            <img src="http://placehold.it/80x80" alt="">
                                            </a>
                                        </div>
                                        <!-- /.gallery-thumb -->
                                        <div class="gallery-thumb">
                                            <a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
                                            <img src="http://placehold.it/80x80" alt="">
                                            </a>
                                        </div>
                                        <!-- /.gallery-thumb -->
                                    </div>
                                    <!-- /.gallery-wrapper -->
                                </div>
                                <!-- /.box-content -->
                                <div class="box-content">
                                    <h4 class="widget-title"><span>Upcoming events</span></h4>
                                    <div class="events-sidebar">
                                        <ul>
                                            <li class="event-item">
                                                <div class="event-thumb">
                                                    <img src="http://placehold.it/80x80" alt="">
                                                </div>
                                                <div class="event-content">
                                                    <h5 class="event-title"><a href="event-detail.html">Memorial Day Sale: 30% All Day Monday May 26</a></h5>
                                                    <p class="event-meta">02 January 2015</p>
                                                </div>
                                            </li>
                                            <li class="event-item">
                                                <div class="event-thumb">
                                                    <img src="http://placehold.it/80x80" alt="">
                                                </div>
                                                <div class="event-content">
                                                    <h5 class="event-title"><a href="event-detail.html">Fashion Figures Online Sale: Sizes 10 - 3X</a></h5>
                                                    <p class="event-meta">02 January 2015</p>
                                                </div>
                                            </li>
                                            <li class="event-item">
                                                <div class="event-thumb">
                                                    <img src="http://placehold.it/80x80" alt="">
                                                </div>
                                                <div class="event-content">
                                                    <h5 class="event-title"><a href="event-detail.html">Speak Up! National Summit for Women Living with HIV</a></h5>
                                                    <p class="event-meta">02 January 2015</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="events-list.html" class="read-more">More Events &rarr;</a>
                                    </div>
                                    <!-- /.events-sidebar -->
                                </div>
                                <!-- /.box-content -->
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    {{> dedicated_parents/footer}}
                </body>
            </html>
