<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Events</title>
        {{> dedicated_parents/header}}
    </head>
    <body>

        {{> dedicated_parents/headerNav}}

		<div class="container">
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Upcoming Events</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="index.html">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				
				<div class="col-md-8">
					<div class="event-list">
						<div class="event-thumb">
							<img src="http://placehold.it/240x192" alt="">
						</div> <!-- /.event-thumb -->
						<div class="event-content">
							<h4 class="event-title"><a href="event-detail.html">American Institute of Architects</a></h4>
							<p>Voluptatibus cum enim officiis quidem possimus aspernatur saepe consectetur aperiam ex laborum architecto blanditiis!</p>
							<div class="event-location">
								<span><i class="fa fa-map-marker"></i>Wheaton, MD</span>
							</div>
							<div class="event-time">
								<span><i class="fa fa-calendar"></i>26 January 2015</span>
							</div>
							<div class="clearfix"></div>
						</div> <!-- /.event-content -->
					</div> <!-- /.event-list -->
					<div class="event-list">
						<div class="event-thumb">
							<img src="http://placehold.it/240x192" alt="">
						</div> <!-- /.event-thumb -->
						<div class="event-content">
							<h4 class="event-title"><a href="event-detail.html">American Institute of Architects</a></h4>
							<p>Voluptatibus cum enim officiis quidem possimus aspernatur saepe consectetur aperiam ex laborum architecto blanditiis!</p>
							<div class="event-location">
								<span><i class="fa fa-map-marker"></i>Wheaton, MD</span>
							</div>
							<div class="event-time">
								<span><i class="fa fa-calendar"></i>26 January 2015</span>
							</div>
							<div class="clearfix"></div>
						</div> <!-- /.event-content -->
					</div> <!-- /.event-list -->
					<div class="event-list">
						<div class="event-thumb">
							<img src="http://placehold.it/240x192" alt="">
						</div> <!-- /.event-thumb -->
						<div class="event-content">
							<h4 class="event-title"><a href="event-detail.html">American Institute of Architects</a></h4>
							<p>Voluptatibus cum enim officiis quidem possimus aspernatur saepe consectetur aperiam ex laborum architecto blanditiis!</p>
							<div class="event-location">
								<span><i class="fa fa-map-marker"></i>Wheaton, MD</span>
							</div>
							<div class="event-time">
								<span><i class="fa fa-calendar"></i>26 January 2015</span>
							</div>
							<div class="clearfix"></div>
						</div> <!-- /.event-content -->
					</div> <!-- /.event-list -->
					<div class="event-list">
						<div class="event-thumb">
							<img src="http://placehold.it/240x192" alt="">
						</div> <!-- /.event-thumb -->
						<div class="event-content">
							<h4 class="event-title"><a href="event-detail.html">American Institute of Architects</a></h4>
							<p>Voluptatibus cum enim officiis quidem possimus aspernatur saepe consectetur aperiam ex laborum architecto blanditiis!</p>
							<div class="event-location">
								<span><i class="fa fa-map-marker"></i>Wheaton, MD</span>
							</div>
							<div class="event-time">
								<span><i class="fa fa-calendar"></i>26 January 2015</span>
							</div>
							<div class="clearfix"></div>
						</div> <!-- /.event-content -->
					</div> <!-- /.event-list -->
					<div class="event-list">
						<div class="event-thumb">
							<img src="http://placehold.it/240x192" alt="">
						</div> <!-- /.event-thumb -->
						<div class="event-content">
							<h4 class="event-title"><a href="event-detail.html">American Institute of Architects</a></h4>
							<p>Voluptatibus cum enim officiis quidem possimus aspernatur saepe consectetur aperiam ex laborum architecto blanditiis!</p>
							<div class="event-location">
								<span><i class="fa fa-map-marker"></i>Wheaton, MD</span>
							</div>
							<div class="event-time">
								<span><i class="fa fa-calendar"></i>26 January 2015</span>
							</div>
							<div class="clearfix"></div>
						</div> <!-- /.event-content -->
					</div> <!-- /.event-list -->
					<div class="row">
						<div class="col-md-12">
							<a href="javascript:void(0);" class="load-more">Load More <i class="fa fa-refresh"></i></a>
						</div> <!-- /.col-md-12 -->
					</div> <!-- /.row -->
				</div> <!-- /.col-md-8 -->

				<div class="col-md-4">
					<div class="box-content">
						<h4 class="widget-title"><span>Our Gallery</span></h4>
						<div class="gallery-wrapper">
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
							<div class="gallery-thumb">
								<a href="images/gallery-placeholder.png" class="fancybox" data-fancybox-group="group1">
									<img src="http://placehold.it/80x80" alt="">
								</a>
							</div> <!-- /.gallery-thumb -->
						</div> <!-- /.gallery-wrapper -->
					</div> <!-- /.box-content -->
					<div class="box-content">
						<h4 class="widget-title"><span>Upcoming events</span></h4>
						<div class="events-sidebar">
							<ul>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Memorial Day Sale: 30% All Day Monday May 26</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Fashion Figures Online Sale: Sizes 10 - 3X</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
								<li class="event-item">
									<div class="event-thumb">
										<img src="http://placehold.it/80x80" alt="">
									</div>
									<div class="event-content">
										<h5 class="event-title"><a href="event-detail.html">Speak Up! National Summit for Women Living with HIV</a></h5>
										<p class="event-meta">02 January 2015</p>
									</div>
								</li>
							</ul>
							<a href="events-list.html" class="read-more">More Events &rarr;</a>
						</div> <!-- /.events-sidebar -->
					</div> <!-- /.box-content -->
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->

		
                {{> dedicated_parents/footer}}
	

    </body>
</html>
