.info-circle {
    cursor: pointer;
}

.popover {
        position: absolute;
        background: #009688;
        color: white;
        padding: 1rem;
        max-width: 300px;
        z-index: 100;
        line-height: 24px;
        pointer-events: none;
        opacity: 0;
        border-radius: 4px;
        background: #333333;
      }

.opacity-1 {
        opacity: 1 !important;
      }


.shadow {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      }


