<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <nav>
        <div><img src="" alt=""></div>
        <div>
            <a href="">Sign In</a>
            <a href="">FAQs</a>
            <a href="">About Svenska</a>
        </div>
    </nav>
    <section>
        <div>
            <h1>Choose a word.</h1>
            <button>Nar</button>
            <button>Var</button>
            <button>Vart</button>
            <button>Vem</button>
            <button>Vilken</button>
        </div>
    </section>
    <section>
        <h1>Nar</h1>
        <div>
            <p>Nar borjar skolan?</p>
        </div>
        <div>
            <p>Skolan borjar kl 5.</p>
            <p>Jag gar till skolan kl 5.</p>
        </div>
        <div>
            <p>Nar</p>
            <br>
            <p><b>Form</b>: Present</p>
            <p><b>Indefinite</b>: Narar</p>
        </div>
    </section>
</body>
</html>
