<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
    <style type="text/css">
    
    textarea {
        width: 100%;
        box-sizing: border-box;
        height: 60vh;
        font-size: 16px;
        font-family: none;
        line-height: 1.5;
        padding: 10px;
        border: 1px solid whitesmoke;
    }

    </style>
</head>
<body>
    <p>124 - 29 Dec 2021 — Qasim Ali - Quran Class</p>
    <textarea id="" name="" cols="30" rows="10">{{data.blog.body}}</textarea>
    <button>Save</button>
    <button>Publish</button>
</body>
</html>
