{{> life/header}}

    {{> life/nav page='blogs'}}

    <div class="container">

        <div class="content">

            <div class="blogs">

                {{#each data.blogs}}

                    <div class="card" slug="{{slug}}" onclick="openBlog(this)">

                        <h4>{{index}}</h4>
                        <h1>{{body.0.msg}}</h1>
                        <h5>PUBLISHED ON</h5>
                        <p>{{date}}</p>
                    
                    </div>

                {{/each}}
           
            </div>

        </div>

    </div>

{{> life/footer}}
