{{> life/header}}

    {{> life/nav page='services'}}

    <div class="container">

        <div class="content services">

            <div class="icon"> ⛑ </div>

            <h1>Services</h1>

            <p>
                <a href="https://qasim.tech">See my portfolio here.</a>
            </p>

            <p>
                Salam, I am Qasim. I served for 15 years in military and quit my job. You can contact me for any of the following issues you are facing. 
            </p>

            <hr>

            <h3>Freelance Works (35 USD per hour)</h3>

            <ul>
                {{#each data.freelance}}
                <li onclick="selectJob(this)">
                    <i class="fa fa-check text-white"></i>
                    <span> {{this.description}} </span>
                </li>
                {{/each}}
            </ul>

        </div>

    </div>

{{> life/footer}}
