{{> life/header}}

    {{> life/nav page='services'}}

    <div class="container">

        <div class="content services">

            <div class="icon"> ⛑ </div>

            <h1>Services</h1>

            <p>
                Hello friends, I have quit my job. If you are going through some problem. Please contact me for trusted quality work. I will send you an invoice and do your work, asap !!
            </p>

            <hr>

            <h3>Freelance Works</h3>

            <ul>
                {{#each data.freelance}}
                <li onclick="selectJob(this)">
                    <i class="fa fa-check text-white"></i>
                    <span> {{this.description}} </span>
                </li>
                {{/each}}
            </ul>

            <hr>

            <h3>Services offered in Rawalpindi and Islamabad Only. I tried to link up with few friends, if I bring them clients, they will give me a commission. Let me know if I can be of service. </h3>

            <ul>
                {{#each data.service}}
                <li onclick="selectJob(this)">
                    <i class="fa fa-check text-white"></i>
                    <span> {{this.description}} </span>
                </li>
                {{/each}}
            </ul>
        
        </div>

    </div>

{{> life/footer}}
