{{> life/header}}

    {{> life/nav}}

    <div class="container">

        <div class="content">

            <div class="icon"> ⛑ </div>

            <h1>Services</h1>

            <p>
                Hello friends, I have quit my job. If you are going through some problem. Please contact me for trusted quality work. I will send you an invoice and do your work, asap :p
            </p>

            <hr>

            <h3>Freelance Works</h3>

            <ul>
                {{#each data.freelance}}
                <li>{{this.description}}</li>
                {{/each}}
            </ul>

            <hr>

            <h3>Services offered in Rawalpindi and Islamabad Only</h3>

            <ul>
                {{#each data.service}}
                <li>{{this.description}}</li>
                {{/each}}
            </ul>
        
        </div>

    </div>

{{> life/footer}}
